mixin view-header()
  div(class="grid_16 tight view-header")
    div(class="view-header-navigation")
      for breadcrump, index in breadcrumps
        a(class="view-header-navigation-item",href=breadcrump.path)
          =breadcrump.text 
        unless index >= (size(breadcrumps) - 1)
          span(class="view-header-navigation-separator")
    div(class="view-header-description")
      p(class="view-header-description-title")
        =eventName
      p(class="view-header-description-text")
        =eventDescription
mixin breadcrumps()
  div(class="grid_16 tight")
    div(class="illusion-event-navigation")
      for page in pages
        if page.id == currentPageId
          a(class="illusion-event-navigation-item illusion-event-navigation-item-active",href=page.url)
            =page.title
        else
          a(class="illusion-event-navigation-item",href=page.url)
            =page.title