include common
include forum-common
+view-header()
+navigation()
div.grid_16.tight
  .illusion-content-panel.grid_16.tight
    .grid_16
      div.illusion-event-sub-panel
        h3
          = locale.text('illusion.forum.title')
        div.illusion-forum-posts
          for post in posts
            div(data-post-id=post.id,class="illusion-forum-post")    
              +post(post.id, post.content, post.authorId, post.authorParticipantId, post.created, post.modified)
        if user
          div.illusion-forum-post-editor-container
            textarea.illusion-forum-post-editor
            button.illusion-forum-post-reply
              = locale.text('illusion.forum.postReply')
input(value=topicId,id='topicId',type="hidden")