include common
include forum-common
+view-header()
+navigation()
div.flex-row
  div.flex-cell-full.index-box.no-margin-top.no-margin-bottom
    div.flex-row
      div.flex-cell-8.flex-cell-first
        h3
          = locale.text('illusion.forum.title')
      div.flex-cell-8.flex-right.flex-cell-last
        if user
          if followingTopic
            a.illusion-forum-watch-link(href="javascript:void(null)", style="display: none")
              = locale.text('illusion.forum.watchTopic')
            a.illusion-forum-stop-watching-link(href="javascript:void(null)")
              = locale.text('illusion.forum.stopWatchTopic')
          else
            a.illusion-forum-watch-link(href="javascript:void(null)")
              = locale.text('illusion.forum.watchTopic')
            a.illusion-forum-stop-watching-link(href="javascript:void(null)", style="display: none")
              = locale.text('illusion.forum.stopWatchTopic')
    div.flex-row
      div.flex-cell-full
        div.illusion-forum-posts
          for post in posts
            div(data-post-id=post.id,class="illusion-forum-post")    
              +post(post.id, post.content, post.authorId, post.authorParticipantId, post.authorName, post.created, post.modified)
    div.flex-row
      div.flex-cell-full
        if user
          div.illusion-forum-post-editor-container
            textarea.illusion-forum-post-editor
            button.illusion-forum-post-reply
              = locale.text('illusion.forum.postReply')
input(value=topicId,id='topic-id',type="hidden")
input(value=forumId,id='forum-id',type="hidden")
input(value=user.id,id='logged-user-id',type="hidden")