mixin post(postId, postContent, postAuthorId, postAuthorParticipantId, postAuthorName, postCreated, postModified)
  div.illusion-forum-post-author-info
    div.illusion-forum-post-author-image-container
      img(src=contextPath + "/illusion/eventAvatar/" + eventUrlName + "/" + postAuthorParticipantId + "?size=80")
    div.illusion-forum-post-author-name
      != postAuthorName
  div.illusion-forum-post-content-container
    div.illusion-forum-post-content
      != postContent
    if postAuthorId == user.id
      div.illusion-forum-post-content-editor(style="display: none")
      button.illusion-forum-post-content-save(style="display: none")
        = locale.text('illusion.forum.saveButton')
    div.illusion-forum-post-footer
      if postAuthorId == user.id
        div.illusion-forum-post-edit-container
          a.illusion-forum-post-edit(href="javascript:void(null)")
            = locale.text('illusion.forum.editPost')
      div.illusion-forum-post-dates-container
        div.illusion-forum-post-sent
          = locale.text('illusion.forum.postSent', postCreated)
        if postCreated != postModified
          div.illusion-forum-post-modified
            = locale.text('illusion.forum.postModified', postModified)