include common
+view-header()
+navigation()
div.flex-row
  div.flex-cell-full.index-box.no-margin-top.no-margin-bottom
    .illusion-event-index-text
      !=indexText
    if (!user) && ((joinMode == 'OPEN')||(joinMode == 'APPROVE'))
      div.illusion-event-join
        if (joinMode == 'OPEN')||(ref == 'inv')
          a(class="illusion-event-join-button",href=eventUrl + "/dojoin")
            = locale.text('illusion.event.joinButton')
        if (joinMode == 'APPROVE')&&(ref != 'inv')
          a(class="illusion-event-join-button",href=eventUrl + "/dojoin")
            = locale.text('illusion.event.requestToJoinButton')
    .social-likes-container
      .social-likes.social-likes_visible(data-counters='no')
        div.facebook(title= locale.text('illusion.event.shareOnFacebook'))
          | Facebook
        div.twitter(title= locale.text('illusion.event.shareOnTwitter'))
          | Twitter
        div.plusone(title= locale.text('illusion.event.shareOnGooglePlus'))
          | Google Plus