p
  if firstName
    =locale.text('illusion.payment.eventPaidOrganizerMail.headerUser', organizerFirstName)
  else
    =locale.text('illusion.payment.eventPaidOrganizerMail.header')
p
  span
    =locale.text('illusion.payment.eventPaidOrganizerMail.paidPrefix', participantName)
  span
    | 
  a(href=eventLink)
    =eventName
hr
p
  =locale.text('illusion.payment.eventPaidOrganizerMail.footer') 
hr