link(rel="StyleSheet",href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
link(type="text/css",rel="stylesheet",href=contextPath + "/theme/css/illusion-event-common.css")
link(type="text/css",rel="stylesheet",href=contextPath + "/theme/css/illusion-event-materials.css")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-event-materials.js")