include common
+view-header()
+navigation()
div.grid_16.tight
  .illusion-content-panel.grid_16.tight
    .grid_16
      .illusion-event-sub-panel
        .illusion-event-page-content
          !={pageContent}