script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.15.10/minified/polyfiller.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-common.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-event-payment.js")