include common
+view-header()
+navigation()
div.flex-row
  div.flex-cell-full.index-box.no-margin-top.no-margin-bottom
    div(id="registration-form",data-form-schema=formSchema,data-form-data=formData,data-register-button-label=locale.text('illusion.registration.registerButtonLabel'))