script(type="text/javascript",src="//cdn.metatavu.io/libs/handlebars/4.0.5/handlebars.min.js")
script(type="text/javascript",src="//cdn.metatavu.io/libs/alpaca/1.5.17/web/alpaca.min.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/alpaca-locales.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-common.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-registration.js")