script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js")
script(type="text/javascript",src="//code.cloudcms.com/alpaca/1.5.14/web/alpaca.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/alpaca-locales.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-common.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-registration.js")