@CHARSET "UTF-8";

@IMPORT url("yui-reset-min.css");
@IMPORT url("fonts.css");
@IMPORT url("styles.css");
@IMPORT url("layout.css");
@IMPORT url("scripty2.css");
@IMPORT url("layouts.css");
@IMPORT url("forms.css");
@IMPORT url("dialogs.css");
@IMPORT url("validation.css");
@IMPORT url("tooltip.css"); 
@IMPORT url("upload.css");   
@IMPORT url("notifications.css");
@IMPORT url("selectautocompleter.css");
@IMPORT url("messages.css");
@import url("tree.css");

.incompleteFeature {
  opacity: 0.4;
  cursor: default;
}

.ui-widget-overlay.loadingPane {
  background-image: url('../gfx/layout/loader-black-64x64.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  position: absolute;
  cursor: wait;
  opacity:0.7;
}

/* Image Select Dialog */

.imageSelectDialogContent .namedTreeContainer {
  height: 175px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
}

.imageSelectDialogTreeContainer {
  margin-right: 140px;
}

.imageSelectDialogPreviewContainer {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #DDDDDD;
  bottom: 8px;
  height: 132px;
  position: absolute;
  right: 14px;
  top: 44px;
  width: 132px;
}

.imageSelectDialogPreviewInnerContainer {
  width: 128px;
  height: 128px;
  text-align: center;
  padding: 2px;
  display: table-cell;
  vertical-align: middle;
}

.imageSelectDialogPreviewImage {
  vertical-align: top; 
}

.imageSelectDialogPreviewTitle {
  position: absolute;
  right: 4px;
  width: 128px;
  top: 136px;
  font-weight: bold;
}