.dialogFixed {
  position: fixed !important;
}

.dialogContent {
}

.dialogContent .stackedLayoutFieldsContainer {
  background: none repeat scroll 0 0 #FDFDFD;
  border: 1px solid #F6F6F6;
  border-radius: 4px 4px 4px 4px;
  margin: 8px; 
  vertical-align: top; 
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
}

.dialogContent .stackedLayoutFieldsContainer .formFieldLabelContainer {
  font-variant:small-caps;
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 4px;
}

.dialogContent .stackedLayoutButtonsContainer {
  border-top: 1px solid #aaa;
  margin: 8px;
  padding-top: 8px;
}

.dialogLoadPane {
  background-image: url('../gfx/layout/loader-black-64x64.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  position: absolute;
  top:0px;
  left:0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  cursor: wait;
  opacity:0.7;
}