@charset "UTF-8";

@IMPORT url("yui-reset-min.css");
@IMPORT url("fonts.css");
@IMPORT url("styles.css");
@IMPORT url("layouts.css");
@IMPORT url("forms.css");

/* Import Google Document */

.importGoogleDocumentsDialogContent {
  padding: 8px;
}

.importGoogleDocumentsDialogContent .stackedLayoutContainer {
	width: 100%;
}

.importGoogleDocumentsDialogContent .importGoogleDocumentsEntries {
  overflow: auto;
  overflow-y: scroll;
  height: 100%;
}

.importGoogleDocumentsDialogContent .stackedLayoutFieldsContainer {
  height: 482px;
  padding-left: 2px;
  margin-bottom: 8px;
}

.importGoogleDocumentsEntry {
	margin-left: 0px;
	margin-right: 2px;
	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.importGoogleDocumentsEntry:hover {
	background: #eee;
	color: #000;
}

.importGoogleDocumentsEntrySelect {
	display: inline-block;
}

.importGoogleDocumentsEntrySelect input {
	vertical-align: top;
	margin-top: 5px;
  cursor: pointer;
}

.importGoogleDocumentsEntry.ROOT_FOLDER .importGoogleDocumentsEntrySelect input,.importGoogleDocumentsEntry.FOLDER .importGoogleDocumentsEntrySelect input {
	cursor: default;
}

.importGoogleDocumentsEntryTitle {
  display: inline-block;
  cursor: pointer;
  width: 508px;
}

.importGoogleDocumentsEntry .importGoogleDocumentsEntryIcon {
	background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_generic_list.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
}

.importGoogleDocumentsEntry.ROOT_FOLDER .importGoogleDocumentsEntryIcon {
	background-image: url(https://ssl.gstatic.com/docs/doclist/images/collectionsprite_1.png);
	background-position: -20px 6px;
}

.importGoogleDocumentsEntry.DRAWING .importGoogleDocumentsEntryIcon {
	background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_drawing_list.png);
}

.importGoogleDocumentsEntry.SPREADSHEET .importGoogleDocumentsEntryIcon {
	background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_spreadsheet_list.png);
}

.importGoogleDocumentsEntry.FOLDER .importGoogleDocumentsEntryIcon {
	background-image: url(https://ssl.gstatic.com/docs/doclist/images/collectionsprite_1.png);
	background-position: 0 6px;
}

.importGoogleDocumentsEntry.DOCUMENT .importGoogleDocumentsEntryIcon {
	background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_document_list.png);
}

.importGoogleDocumentsEntry.PRESENTATION .importGoogleDocumentsEntryIcon {
  background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_presentation_list.png);
}