@charset "UTF-8";

@import url("ckeditor.css");
@import url("svgeditor.css");

#siteHeaderWrapper.forgeHeaderWrapper {
	background: none repeat scroll 0% 0% #7197DC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 100px;
	margin-top: 20px;
	width: 1130px;
}

#forgeWorkspace {
	min-height: 800px;
	position: relative;
}

#forgeWorkspaceBackground {
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1.0) 100% );
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5) ), to(rgba(255, 255, 255, 1.0) ) );
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF, endColorstr=#FFFFFFFF );
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 0;
}

#forgeWorkspaceContent {
	border: 1px solid #DDDDDD;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

#forgeMenuContainer {
	padding: 18px;
}

.forgeMenuMenuItem {
	background-color: #8DACE3;
	background-position: 10px center;
	background-repeat: no-repeat;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	height: 35px;
	margin-right: 10px;
	padding: 20px 10px 10px 70px;
	width: 220px;
}

.forgeMenuMenuItem a {
	color: #FFFFFF;
	cursor: default;
	font-family: 'PT Sans', 'Trebuchet MS', Arial;
	font-size: 22px;
	text-decoration: none;
}

.forgeMenuMenuItem>ul {
	display: none;
	position: absolute;
	z-index: 500;
}

.forgeMenuMenuItem:hover>ul {
	display: block;
}

.forgeMenuSubMenuItem {
	background: url("../gfx/icons/32x32/actions/menu-generic.png") no-repeat scroll 5px center #8DACE3;
	border-bottom: 1px solid #7D9CD3;
	border-left: 1px solid #4D6CA3;
	border-right: 1px solid #4D6CA3;
	display: block;
	min-width: 200px;
	padding: 10px 5px 10px 45px;
}

.forgeMenuMenuItemCreateMaterial {
	background-image: url("../gfx/icons/48x48/actions/material-create.png");
}

.forgeMenuMenuItemImportMaterial {
	background-image: url("../gfx/icons/48x48/actions/material-import.png");
}

.forgeMenuMenuItemCreateDocument {
  background-image: url("../gfx/icons/32x32/mimetypes/document.png");
}

.forgeMenuMenuItemCreateVectorImage {
  background-image: url("../gfx/icons/32x32/mimetypes/vector-image.png");
}

.forgeMenuMenuItemCreateImageGallery {
  background-image: url("../gfx/icons/32x32/mimetypes/image-gallery.png");
}

.forgeMenuMenuItemUploadMaterials {
  background-image: url("../gfx/icons/32x32/actions/material-import-computer.png");
}

.forgeMenuMenuItemImportGoogleDocuments {
  background-image: url("../gfx/icons/32x32/actions/material-import-google-docs.png");
}

.forgeMenuMenuItemConnectDropbox {
  background-image: url("../gfx/icons/32x32/actions/material-connect-dropbox.png");
}

.forgeMenuMenuItemConnectUbuntuOne {
  background-image: url("../gfx/icons/32x32/actions/material-connect-ubuntuone.png");
}

.forgeMenuSubMenuItem:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #4D6CA3;
}

.forgeMenuSubMenuItem:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #4D6CA3;
}

.forgeMenuSubMenuItem a {
	cursor: pointer;
	display: block;
	font-size: 16px;
	height: 100%;
	width: 100%;
}

.forgeMenuSubMenuItem:hover {
	background-color: #4D6CA3;
}

#forgeWorkspaceWindowDockingBar {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #CAD5EA;
	height: 40px;
	margin-bottom: -40px;
	padding-left: 10px;
	position: relative;
	z-index: 2;
}

.forgeWorkspaceWindow {
	background-color: #FFFFFF;
	border-color: #CAD5EA;
	border-style: solid;
	border-width: 1px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 2;
}

.forgeWorkspaceWindowLoading {
  background-image: url('../gfx/layout/loader-black-64x64.gif');
  background-position: center 64px;
  background-repeat: no-repeat;
  background-color: #fafafa;
  margin-top: 32px;
  position: absolute;
  top:0px;
  left:0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  cursor: wait;
}

.forgeWorkspaceWindowMaximized {
	position: fixed;
}

.forgeWorkspaceWindowContent {
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 32px;
	z-index: 2;
}

.forgeWorkspaceWindowContentFrame {
  border: 0px;
  width: 100%;
  height: 100%;
}

.forgeWorkspaceWindowTitleBar {
	background: none repeat scroll 0% 0% #4D6CA3;
	height: 32px;
}

.forgeWorkspaceWindowIcon {
	background-position: center center;
	background-repeat: no-repeat;
	height: 32px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 32px;
}

.forgeWorkspaceWindowTitle {
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 34px;
	padding-top: 2px;
}

.forgeWorkspaceWindowButtons {
	position: absolute;
	right: 3px;
	top: 3px;
}

.forgeWorkspaceWindowButtons .ui-button {
	margin-left: 4px;
}

.forgeWorkspaceDockedWindowIcon {
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 24px;
	vertical-align: top;
	width: 24px;
}

.forgeWorkspaceDockedWindowTitle {
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}

.forgeWorkspaceDockedWindow {
	background: none repeat scroll 0% 0% #4D6CA3;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	padding: 3px;
}

.forgeWorkspaceWindowMinimizing {
	background: none repeat scroll 0% 0% #FFFFFF;
	border: 1px solid #666666;
	opacity: 0.7;
	position: absolute;
	z-index: 9999;
}

.forgeWorkspaceWelcome {
	border-bottom: 1px solid #AAAAAA;
	margin: 16px;
}

.forgeWorkspaceMaterialListBreadcrumps {
  margin-left: 1px;
  margin-bottom: 8px;
  background: #c9d8d8;
  border-radius: 4px;
}

.forgeWorkspaceMaterialListBreadcrumps li {
  display: inline-block;
}

.forgeWorkspaceMaterialListBreadcrumps li:before {
  content: '►';
  color: blue;
  margin-right: 4px;
}

.forgeWorkspaceMaterialListBreadcrumps li {
  border-radius: 0px;
}

.forgeWorkspaceMaterialListBreadcrumps li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
} 

.forgeWorkspaceMaterialListBreadcrumps li:hover {
  background: #d9e8e8;
}

.forgeWorkspaceMaterialListBreadcrumps li .forgeWorkspaceMaterialStar, 
.forgeWorkspaceMaterialListBreadcrumps li .forgeWorkspaceMaterialEditor, 
.forgeWorkspaceMaterialListBreadcrumps li .forgeWorkspaceMaterialDate {
  display: none;
}


.forgeWorkspaceMaterials {
	margin: 16px;
}

.forgeWorkspaceMaterials h1 {
	margin-bottom: 16px;
}

.forgeWorkspaceMaterials h2 {
	margin-top: 8px;
}

.forgeWorkspaceMaterialList h2 {
	cursor: pointer;
}

.forgeWorkspaceMaterialList h2:after {
	content: '▼';
	margin-left: 8px;
	font-family: courier;
	font-size: 12px;
	color: #999;
}

.forgeWorkspaceMaterialListFolded h2:after {
	content: '►';
}

.forgeWorkspaceMaterialListLoading h2:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px; 
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../gfx/layout/loader-gray-16x16.png');
  vertical-align: top;
  margin-top: 5px;
}

.forgeWorkspaceMaterial {
	border-radius: 5px 5px 5px 5px;
	padding: 4px;
}

.forgeWorkspaceMaterial:hover {
	background: none repeat scroll 0% 0% #A8B9BB;
}

.forgeWorkspaceMaterial:hover .forgeWorkspaceMaterialName,.forgeWorkspaceMaterial:hover .forgeWorkspaceMaterialEditor,.forgeWorkspaceMaterial:hover .forgeWorkspaceMaterialDate
	{
	color: #FFFFFF;
}

.forgeWorkspaceMaterialStar {
	color: #AAAAAA;
	cursor: pointer;
	font-size: 18px;
	margin-right: 4px;
	vertical-align: top;
}

.forgeWorkspaceMaterialStarred {
	color: #FFEB00;
}

.forgeWorkspaceMaterialEditor {
	float: right;
	margin-right: 24px;
}

.forgeWorkspaceMaterialDate {
	float: right;
	font-style: italic;
	width: 85px;
}

.forgeWorkspaceMaterialTitle {
	color: blue;
	cursor: pointer;
	text-decoration: none;
	margin-left: 4px;
}

.forgeWorkspaceMaterialTitle:hover {
	text-decoration: underline;
}

.forgeWorkspaceMaterialParentContainer {
  margin-left: 4px;
}

.forgeWorkspaceMaterialParentLink {
  font-size: 10px;
  text-decoration: none;
  background: #8DACE3;
  color: #fff;
  border-radius: 3px;
  padding: 3px 5px; 
}

.forgeWorkspaceMaterialParentLink:hover {
  text-decoration: underline;
}

.forgeWorkspaceMaterialActions {
  margin-left: 8px;
  margin-right: 8px; 
  display: none;
}

.forgeWorkspaceMaterialListItems .forgeWorkspaceMaterial:hover .forgeWorkspaceMaterialActions {
  display: inline-block;
}

.forgeWorkspaceMaterialEditLink,
.forgeWorkspaceMaterialMoveLink,
.forgeWorkspaceMaterialShareLink,
.forgeWorkspaceMaterialDeleteLink,
.forgeWorkspaceMaterialPrintToPdfLink,
.forgeWorkspaceMaterialPublishLink,
.forgeWorkspaceMaterialUnpublishLink {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.forgeWorkspaceMaterialEditLink {
  background-image: url('../gfx/icons/16x16/actions/edit-material.png');
}

.forgeWorkspaceMaterialMoveLink {
  background-image: url('../gfx/icons/16x16/actions/material-move-to-folder.png');
}

.forgeWorkspaceMaterialDeleteLink {
  background-image: url('../gfx/icons/16x16/actions/delete-material.png');
}

.forgeWorkspaceMaterialPrintToPdfLink {
  background-image: url('../gfx/icons/16x16/actions/print-to-pdf.png');
}

.forgeWorkspaceMaterialShareLink {
  background-image: url('../gfx/icons/16x16/actions/material-share.png');
}

.forgeWorkspaceMaterialIcon {
	width: 16px;
	display: inline-block;
	height: 16px;
	vertical-align: middle;
}

.forgeWorkspaceMaterialIcon.FOLDER {
  background-image: url('../gfx/icons/16x16/mimetypes/folder.png');
}

.forgeWorkspaceMaterialIcon.IMAGE {
  background-image: url('../gfx/icons/16x16/mimetypes/image.png');
}

.forgeWorkspaceMaterialIcon.DOCUMENT {
  background-image: url('../gfx/icons/16x16/mimetypes/document.png');
}

.forgeWorkspaceMaterialIcon.VECTOR_IMAGE {
  background-image: url('../gfx/icons/16x16/mimetypes/vectorimage.png');
}

.forgeWorkspaceMaterialIcon.PDF {
  background-image: url('../gfx/icons/16x16/mimetypes/pdf.png');
}

.forgeWorkspaceMaterialIcon.FILE {
  background-image: url('../gfx/icons/16x16/mimetypes/file.png');
}

.forgeWorkspaceMaterialIcon.DOCUMENT-DRAWING-GOOGLE {
  background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_drawing_list.png);
}

.forgeWorkspaceMaterialIcon.SPREADSHEET-GOOGLE_DOCUMENT {
  background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_spreadsheet_list.png);
}

.forgeWorkspaceMaterialIcon.FOLDER-GOOGLE_DOCUMENT {
  background-image: url(https://ssl.gstatic.com/docs/doclist/images/collectionsprite_1.png);
  background-position: 0 6px;
}

.forgeWorkspaceMaterialIcon.DOCUMENT-GOOGLE_DOCUMENT {
  background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_document_list.png);
}

.forgeWorkspaceMaterialIcon.PRESENTATION-GOOGLE_DOCUMENT{
  background-image: url(https://ssl.gstatic.com/docs/doclist/images/icon_9_presentation_list.png);
}

.forgeWorkspaceMaterialIcon.FOLDER-DROPBOX_ROOT_FOLDER {
  background-image: url('../gfx/icons/16x16/mimetypes/dropbox-folder.png');
}

.forgeWorkspaceMaterialIcon.FOLDER-UBUNTU_ONE_ROOT_FOLDER {
  background-image: url('../gfx/icons/16x16/mimetypes/ubuntuone-folder.png');
}

.forgeWorkspaceMaterialListMessage {
  font-style: italic;
}

#forgeMaterialList .forgeWorkspaceMaterialListMessage {
	margin-top: 8px;
}

#forgeMaterialLists {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 110px;
}

#forgeMaterialSearch {
  width: 400px;
  position: absolute;
  right: 0px;
  margin-top: 6px; 
}

.forgeMaterialSearchLoading {
  background-image: url('../gfx/layout/loader-blue-16x16.png');
  background-repeat: no-repeat;
  background-position: 376px center;  
}

/* ViewImage */

.forgeViewImageContainer {
  background: #eee;
  text-align: center;
  height: 100%;
  overflow: auto;
}

.forgeViewImageInnerContainer {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
}

.forgeViewImageDialog .forgeWorkspaceWindowIcon {
  background-image: url('../gfx/icons/22x22/mimetypes/image.png');
}

.forgeViewImageDialog .forgeWorkspaceDockedWindowIcon { 
  background-image: url('../gfx/icons/22x22/mimetypes/image.png');
}

/* ViewDocument */

.forgeViewDocumentContainer {
  position: absolute;
  left:0px;
  right:0px;
  top: 0px;
  bottom: 0px;
}

.forgeViewDocumentInnerContainer {
  position: absolute;
  left:0px;
  right:0px;
  top: 0px;
  bottom: 0px; 
}

.forgeViewDocumentContainer iframe {
  position: absolute;
  left:0px;
  right:0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border: 0px;
}

.forgeViewDocumentDialog .forgeWorkspaceWindowIcon {
  background-image: url('../gfx/icons/22x22/mimetypes/document.png');
}

.forgeViewDocumentDialog .forgeWorkspaceDockedWindowIcon { 
  background-image: url('../gfx/icons/22x22/mimetypes/document.png');
}

/* EditDocument */

.forgeEditDocumentDialog .forgeWorkspaceWindowIcon {
  background-image: url('../gfx/icons/22x22/mimetypes/document.png');
}

.forgeEditDocumentDialog .forgeWorkspaceDockedWindowIcon { 
  background-image: url('../gfx/icons/22x22/mimetypes/document.png');
}

/* ViewVectorImage */

.forgeViewVectorImageInnerContainer {
  padding: 8px;
}

.forgeViewVectorImageContainer {
  overflow: auto;
  position: absolute;
  left:0px;
  right:0px;
  top: 0px;
  bottom: 0px;
}

.forgeViewVectorImageDialog .forgeWorkspaceWindowIcon {
  background-image: url('../gfx/icons/22x22/mimetypes/vectorimage.png');
}

.forgeViewVectorImageDialog .forgeWorkspaceDockedWindowIcon { 
  background-image: url('../gfx/icons/22x22/mimetypes/vectorimage.png');
}

/* EditVectorImage */

.forgeEditVectorImageDialog .forgeWorkspaceWindowIcon {
  background-image: url('../gfx/icons/22x22/mimetypes/vectorimage.png');
}

.forgeEditVectorImageDialog .forgeWorkspaceDockedWindowIcon { 
  background-image: url('../gfx/icons/22x22/mimetypes/vectorimage.png');
}

/* Google Document */

.forgeViewGoogleDocumentInnerContainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0px;
}

.googleDocumentDocumentViewer .forgeWorkspaceDockedWindowIcon, 
.googleDocumentDocumentViewer .forgeWorkspaceWindowIcon {
  background-image: url('https://ssl.gstatic.com/docs/doclist/images/icon_9_document_list.png');
}

.googleDocumentSpreadsheetViewer .forgeWorkspaceDockedWindowIcon, 
.googleDocumentSpreadsheetViewer .forgeWorkspaceWindowIcon {
  background-image: url('https://ssl.gstatic.com/docs/doclist/images/icon_9_spreadsheet_list.png');
}

.googleDocumentDrawingViewer .forgeWorkspaceDockedWindowIcon, 
.googleDocumentDrawingViewer .forgeWorkspaceWindowIcon {
  background-image: url('https://ssl.gstatic.com/docs/doclist/images/icon_9_drawing_list.png');
}

.googleDocumentPresentationViewer .forgeWorkspaceDockedWindowIcon, 
.googleDocumentPresentationViewer .forgeWorkspaceWindowIcon {
  background-image: url('https://ssl.gstatic.com/docs/doclist/images/icon_9_presentation_list.png');
}

/* Upload Materials */

.uploadMaterialsDialogContent iframe {
  border: 0px;
}

/* Move to Folder */

.moveToFolderDialogContent .namedTreeContainer {
  height: 175px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
}

.moveToFolderDialogCreateFolderButton {
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  background-image: url("../gfx/icons/16x16/actions/folder-create.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -26px; 
  border: 1px outset #aaa;
}

/* Select Folder */

.selectFolderDialogContent .namedTreeContainer {
  height: 175px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
}

.selectFolderDialogCreateFolderButton {
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  background-image: url("../gfx/icons/16x16/actions/folder-create.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -26px; 
  border: 1px outset #aaa;
}

/* Share material */

.shareMaterialDialogContent .namedEditorsListField .formFieldEditorContainer {
  height: 134px;
  margin-bottom: 8px;
  overflow: auto;
}
