@CHARSET "UTF-8";

.formTitle {
	font-size: 110%;
	color: #666;
}

legend {
  font-weight: bold;
}

.formFieldLabelContainer {
}

.formFieldEditorContainer {
}

input[type="text"], input[type="password"], textarea {
  border-style: solid;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="submit"],input[type="button"] {
  border-style: solid;
  border-width: 2px;
  background-color: #DDDDDD;
  border-color: #666666;
  padding: 3px 4px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,input[type="button"]:hover {
  color: #000;
  border-color: #777;
  background-color: #eee;
}

input[type="submit"].formOkButton, input[type="submit"].formSaveButton, input[type="button"].formOkButton, input[type="button"].formSaveButton  {
  background: #7197DC;
  color: #fff;
  border-color: #6187cc;
}

input[type="submit"].formOkButton:hover, input[type="submit"].formSaveButton:hover, input[type="button"].formOkButton:hover, input[type="button"].formSaveButton:hover {
  background: #81a7eC;
  border-color: #7197dc;
}

input[type="submit"].formDeleteButton, input[type="button"].formDeleteButton {
  border-color: red;
  background-color: #f2e2e2;
}

input[type="submit"].formDeleteButton:hover, input[type="button"].formDeleteButton:hover {
  background-color: #ffeeff;
  color: #000;
}

input.formvalid[disabled="disabled"][type="submit"], input.formvalid[disabled="disabled"][type="button"] {
  background-color: #DDDDDD;
}

fieldSet.formButtons {
  margin-top: 8px;
}

fieldSet.formButtons .formSubmitField {
  display: inline-block;
  float: left;
}

.formHelpField {
  background: none repeat scroll 0 0 #FDFDFD;
  color: #333333;
  font-style: italic;
}

.formRadioField .formRadioContainer label {
  margin-left: 8px;
}


.formListField .formFieldEditorContainer {
  width: 100%;
}

.formListField .formListRow {
  display: table;
  width: 100%;
}

.formListField .formListRowCell {
  display: table-cell;
}

.formListField .formListRowCell.formListRowCellAlignRight {
  text-align: right;
}

/* Select folder */

.formSelectFolder .formFieldEditorContainer {
     
}

.formSelectFolderSelected {
  font-weight: bold; 
}

.formSelectFolderSelectButton {
  float: right;
  text-decoration: none;
  border: 1px outset #ddd;
  padding-left: 8px;
  padding-right: 8px; 
  color: #666;
  font-size: 10px;
  padding-top: 0px;
  line-height: 16px;
  margin-top: 3px;
  border-radius: 4px;
}

.formSelectFolderSelectButton:hover {
  color: #000;
}