@CHARSET "UTF-8";

/* Generic */

.forumActions {
	height: 42px;
}

.forumActionsTop {
  padding-bottom: 8px;
}

.forumActionsBottom {
	padding-top: 8px;
}

/* Search */

#forumSearch {
  position: absolute;
  right:8px;
}

#forumSearchInput {
  width: 400px;  
}

.forumSearchInputLoading {
  background-image: url('../gfx/layout/loader-blue-16x16.png');
  background-repeat: no-repeat;
  background-position: 376px center;  
}

#forumSearchResultsContainer {
  margin-top: 8px;
}

#forumSearchResults {
  width: 396px;  
  background: #fff;
  border: 2px solid #eee;
  position: relative;
  z-index: 9999;
}
  
.forumSearchResult {
  padding: 2px;
  border: 2px solid #fff;
}

.forumSearchResult:hover {
  background: #f0f0f0;
}

.forumSearchResult a {
  font-size: 120%;
}

.forumSearchResultMatch {
  font-weight: bold;
}

/* Buttons */

.forumButton {
	width: 32px;
	height: 32px;
	border: 1px outset #ddd;
	background: #fafafa;
	display: block;
	border-radius: 5px;
	float: left;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center;
}

input.forumPostReplyButton, input.forumNewTopicButton {
  background: #7197DC;
  color: #fff;
  border-color: #6187cc;
}

input.forumPostReplyButton:hover, input.forumNewTopicButton:hover {
  background: #81a7eC;
  color: #fff;
  border-color: #7197dc;
}

/* Index */
#forumsList {
	background: #fff;
	margin-top: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 8px;
	min-height: 783px;
}

#forumsList .forumButton.forumForumFollowAllButton {
	background-image: url('../gfx/icons/22x22/actions/forum-subscribe.png');
}

#forumsList .forumButton.forumForumCreateForumButton {
  background-image: url('../gfx/icons/22x22/actions/forum-new.png');
}

#forumsList .forumButton.forumForumCreateCategoryButton {
  background-image: url('../gfx/icons/22x22/actions/forum-category-new.png');
}

#forumsList .forumCategory {
	background: #eee;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	border-radius: 5px;
}

#forumsList .forumCategoryActions {
	position: absolute;
	margin-top: -25px;
	right: 8px;
}

#forumsList .forumCategoryActions a {
	margin-right: 8px;
}

#forumsList .forumCategoryForums {
	
}

#forumsList .forumCategoryForum {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	background: #fafafa;
	padding-left: 8px;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#forumsList .forumCategoryForumName a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
}

#forumsList .forumForumActions {
	position: absolute;
	margin-top: -25px;
	right: 8px;
}

#forumsList .forumForumActions a {
	margin-right: 8px;
	font-weight: bold;
}

/* ViewForum */
#forumsTopicsList {
	background: #fff;
	margin-top: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 8px;
	min-height: 783px;
}

#forumsTopicsList .forumTopicLabels {
  margin-bottom: 4px;
  margin-top: 4px;
  background: #eee;
  padding-left: 8px;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#forumsTopicsList .forumTopicLabel {
  font-weight: bold;	
}

#forumsTopicsList .forumTopicSubjectLabel {
  display: inline-block;
  width: 550px;
}

#forumsTopicsList .forumTopicAuthorLabel {
  display: inline-block;
  width: 150px;
}

#forumsTopicsList .forumTopicRepliesLabel {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#forumsTopicsList .forumTopicReadLabel {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#forumsTopicsList .forumTopicLastMessageLabel {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#forumsTopicsList .forumTopic {
	margin-bottom: 4px;
  margin-top: 4px;
  background: #fafafa;
	padding-left: 8px;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#forumsTopicsList .forumTopic:hover {
	background: #eee;
}

#forumsTopicsList .forumTopicSubject {
	display: inline-block;
	width: 550px;
}

#forumsTopicsList .forumTopicSubject a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
}

#forumsTopicsList .forumTopicAuthor {
	display: inline-block;
	width: 150px;
}

#forumsTopicsList .forumTopicReplies {
	display: inline-block;
	width: 100px;
  text-align: center;
}

#forumsTopicsList .forumTopicRead {
	display: inline-block;
	width: 100px;
	text-align: center;
}

#forumsTopicsList .forumTopicLastMessage {
	display: inline-block;
	width: 100px;
  text-align: center;
}

#forumsTopicsList .forumButton.forumForumViewIndexButton {
	background-image: url('../gfx/icons/22x22/actions/forum-viewindex.png');
}

#forumsTopicsList .forumButton.forumForumFollowForumButton {
	background-image: url('../gfx/icons/22x22/actions/forum-subscribe.png');
}

#forumNewTopicContainer {
  margin-top: 32px;
}

.newTopicSubject {
  margin-bottom: 8px;
  width: 1060px;
}

#forumNewTopicContainer input[type="submit"] {
	margin-top: 8px;
}

/* ViewTopic */
#forumsPostsList {
	background: #fff;
	margin-top: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 8px;
	min-height: 783px;
}

#forumsPostsList .forumPost {
	position: relative;
  border-top: 1px solid #eee;
}

#forumsPostsList .forumPost:first-child {
	border-top: none;
}

#forumsPostsList .forumTopicSubject {
	background: #eee;
	font-weight: bold;
	font-size: 130%;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 5px;
	margin-left: 120px;
}

#forumsPostsList .forumTopicAuthorLabel {
  background: #eee;
  font-weight: bold;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  width: 108px;
  float: left;
}

#forumsPostsList .forumPostContent {
	padding: 8px;
	margin-left: 120px;
	min-height: 140px;
	max-width: 750px;
}

#forumsPostsList .forumPostCreated {
	position: absolute;
	right: 2px;
	font-style: italic;
	font-size: 12px;
}

#forumsPostsList .forumPostModified {
	position: absolute;
	right: 2px;
	margin-top: 20px;
	font-style: italic;
	font-size: 12px;
}

#forumsPostsList .forumPostAuthor {
	position: absolute;
	margin-top: 8px;
	width: 120px;
	height: 140px;
}

#forumsPostsList .forumPostAuthorName {
	position: absolute;
	top: 70px;
	left: 8px;
	right: 0px;
	font-weight: bold;
}

#forumsPostsList .forumPostAuthorPosts {
	font-style: italic;
	position: absolute;
	top: 90px;
	left: 8px;
	right: 0px;
	color: #888;
	font-size: 12px;
}

#forumsPostsList .forumPostAuthorImageContainer {
	position: absolute;
	top: 0px;
	left: 8px;
	right: 0px;
}

#forumsPostsList .forumPostAuthorImageDefault {
	display: inline-block;
	width: 64px;
	height: 64px;
  background-image: url('../gfx/icons/64x64/actions/profile-anonymous.png');
  background-repeat: no-repeat;
  background-position: center;
}

#forumsPostsList .forumPostAuthorImageContainer img {
  max-height: 72px;
  max-width: 114px;  
}

#forumsPostsList .forumButton.forumForumViewIndexButton {
	background-image: url('../gfx/icons/22x22/actions/forum-viewindex.png');
}

#forumsPostsList .forumButton.forumForumViewForumButton {
	background-image: url('../gfx/icons/22x22/actions/forum-viewforum.png');
}

#forumsPostsList .forumButton.forumForumFollowTopicButton {
	background-image: url('../gfx/icons/22x22/actions/forum-subscribe.png');
}

#forumReplyTopic {
	width: 100%;
	height: 200px;
}

#forumReplyTopicContainer input[type="submit"] {
	margin-top: 8px;
}