@charset "UTF-8";

@import "pdgrid.css";
@import "map.css";
@import "sheets.css";

/* Session Select */

#illusionSessionSelectContainer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 20px;
  min-height: 783px;
  padding: 8px;
} 

#illusionUserSessionsListContainer, #illusionCreateSessionContainer {
  background: #fdfdfd;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #f6f6f6;
  display: inline-block;
  vertical-align: top;
  width: 533px;
}

#illusionUserSessionsListContainer {
	margin-right: 4px;
}

#illusionCreateSessionContainer {
  margin-left: 4px;
}

.illusionSession {
  background: #fafafa;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 3px; 
  border: 1px solid #eee;
}

.illusionSessionName {
  text-decoration: none;
  color: #666;
  font-size: 15px;
  display: block;
}

.illusionSession:hover {
  border-color: #ddd;
  background-color: #f9f9f9;
}

.illusionSession:hover .illusionSessionName {
  color: #000;
}

/* Workspace */

#illusionMenuContainer {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1.0) 100% );
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5) ), to(rgba(255, 255, 255, 1.0) ) );
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF, endColorstr=#FFFFFFFF );
	border-top-left-radius: 10px;
	bottom: 0px;
	position: absolute;
	top: 20px;
	width: 190px;
}

.illusionMenuButton {
	width: 150px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	//background-image: url("../gfx/icons/32x32/actions/material-browse-own.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	background-color: #8DACE3;
	cursor: pointer;
}

.illusionMenuButtonText {
	text-align: left;
	margin-left: 40px;
}

#illusionWorkspace {
	bottom: 1px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 20px;
}

#illusionWorkspaceBackground {
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0%, #FFFFFF 100% );
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 0;
}

#illusionWorkspaceContent {
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

#illusionBookmarksContainer {
	position: absolute;
	right: -80px;
	top: 8px;
}

.illusionBookmark {
	height: 36px;
	margin: 8px;
	position: relative;
	width: 220px;
	z-index: 2;
}

.illusionBookmarkArrow {
	border-color: transparent #6EA99C transparent -moz-use-text-color;
	border-left: medium none;
	border-style: solid solid solid none;
	border-width: 18px 18px 18px medium;
	height: 0pt;
	position: absolute;
	width: 0pt;
}

.illusionBookmarkText {
	background: none repeat scroll 0% 0% #6EA99C;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	color: #fff;
	font-size: 14px;
	height: 31px;
	left: 18px;
	padding-left: 8px;
	padding-top: 5px;
	position: absolute;
	right: 0px;
	cursor: pointer;
}

#illusionChatContainer {
	position: absolute;
	bottom: 1px;
	height: 200px;
	left: 190px;
	right: 0px;
	background: #fff;
}

#illusionChatMessages {
	overflow: auto;
	overflow-y: scroll;
	position: absolute;
	top: 32px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#illusionChatTitle {
	background: none repeat scroll 0% 0% #4D6CA3;
	color: #fff;
	padding: 3px;
	border: 1px dotted #aaa;
	outline: #aaa dotted 1px;
	margin: 1px;
}

.illusionChatMessageDate {
	color: #999;
	float: right;
}

.illusionChatMessage {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.illusionChatMessageSenderImage {
	display: inline;
	width: 32px;
	heiht: 32px;
	vertical-align: top;
}

.illusionChatMessageTime {
	font-style: italic;
	display: inline;
}

.illusionChatMessageTime:after {
	content: ' - ';
	display: inline;
}

.illusionChatMessageSenderName {
	font-weight: bold;
  display: inline;
}

.sheetContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}