/* Controls */

.mapControls {
  width: 120px;
  height: 300px;
  position: absolute;
  top: 120px;
  left: 120px;
  background: #fefefe;
  border: 1px solid #ddd;
}

.mapControlsTools {
  height: 135px;
}

.mapControlTool {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #fafafa;
  padding: 4px;
  margin:4px; 
  border: 1px outset #eee;
  background-position: center;
  background-repeat: no-repeat;
}

.mapControlActiveTool {
  border-style: inset;
}

.mapControlToolMove {
  background-image: url("../gfx/icons/22x22/actions/map-move.png");
}

.mapControlToolPointer {
  background-image: url("../gfx/icons/22x22/actions/map-pointer.png");
}

.mapControlToolMeasure {
  background-image: url("../gfx/icons/22x22/actions/map-measure.png");
}

.mapControlToolFreeHand {
  background-image: url("../gfx/icons/22x22/actions/map-draw-freehand.png");
}

.mapControlToolBrush {
  background-image: url("../gfx/icons/22x22/actions/map-draw-brush.png");
}

.mapControlsLayers {

}

.mapControlsLayer {
  background: #fafafa;
  padding: 1px;
  margin: 1px;
  cursor: pointer;
}

.mapControlsLayer:hover {
  background: #f0f0f0;
}

.mapControlsLayerName {
  display: inline-block;
  vertical-align: top;
  height: 16px; 
  margin-left: 4px;
  width: 85px;
  overflow: hidden; 
  font-size: 12px;
  padding: 2px;  
}

.mapControlsLayerIcon {
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle; 
  background-repeat: no-repeat;
  background-position: center;  
  width: 16px; 
  height: 16px;
}

.mapControlsLayerIconSVG {
  background-image: url("../gfx/icons/16x16/actions/map-layer-svg.png");
}

.mapControlsLayerIconToken {
  background-image: url("../gfx/icons/16x16/actions/map-layer-token.png");
}
  
.mapControlsPaint {
  height: 80px;
}

.mapControlsTime {
  height: 80px;
}

.mapControlTimeButton {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  padding: 2px;
  margin:4px; 
  border: 1px solid #999;
  background-position: center;
  background-repeat: no-repeat;
}

.mapControlTimeButtonStart {
  background-image: url("../gfx/icons/16x16/actions/map-time-start.png");
}

.mapControlTimeButtonEnd {
  background-image: url("../gfx/icons/16x16/actions/map-time-end.png");
}

.mapControlTimeButtonForward {
  background-image: url("../gfx/icons/16x16/actions/map-time-forward.png");
}

.mapControlTimeButtonRewind {
  background-image: url("../gfx/icons/16x16/actions/map-time-rewind.png");
}

.mapControlTimeButtonPlay {
  background-image: url("../gfx/icons/16x16/actions/map-time-play.png");
}

.mapControlTimeButtonPause {
  background-image: url("../gfx/icons/16x16/actions/map-time-pause.png");
}

.mapControlTimeButtonTime {
  background-image: url("../gfx/icons/16x16/actions/map-time-time.png");
}

/* Map */

.map {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;  
  background: rgba(255, 255, 255, 0.5);
}

.mapLayer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.mapCanvas, .mapScreenCanvas, .tileCanvas, .mapSvgContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.mapScreenCanvas {
  cursor: pointer;
}

.mapCursorMove  {
  cursor: url(../gfx/cursors/move.gif),crosshair;
}

.mapCursorDraw .mapScreenCanvas {
  cursor: url(../gfx/cursors/draw.gif),crosshair;
}

.mapCursorFreehand .mapScreenCanvas {
  cursor: url(../gfx/cursors/freehand.gif),crosshair;
}