@CHARSET "UTF-8";

#siteMenuBarSecondColumn #siteMenuBarWidgetMessages {
  background-image: url('../gfx/icons/custom/messages_menubarwidget.jpg');
}

#siteMenuBarSecondColumn #siteMenuBarWidgetMessages.siteMenuBarWidgetDisabled {
  background-image: url('../gfx/icons/custom/messages_gray_menubarwidget.jpg');
}

#siteMenuBarWidgetMessagesContent {
  width: 600px;
  height: 402px;
}

#siteMenuBarWidgetMessagesButtonsContainer {
  padding: 4px;
}

#siteMenuBarWidgetMessagesButtonsContainer input {
  width:100%;
}

#siteMenuBarWidgetMessagesFoldersContainer {
  width: 200px;
  border-right: 1px solid #000;
  height: 394px;
}

#siteMenuBarWidgetMessagesSpecialFoldersContainer {
  margin-left: 4px;
  margin-right: 4px;
}

#siteMenuBarWidgetMessagesCustomFoldersContainer {
  border-top: 1px dotted #999;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 2px;
}

.siteMenuBarWidgetMessagesFolder {
  position: relative;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
}

.siteMenuBarWidgetMessagesSelectedFolder, .siteMenuBarWidgetMessagesFolder:hover {
  color: #fff;
  background: #7197DC;
}

.siteMenuBarWidgetMessagesFolderIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../gfx/icons/16x16/places/messages-folder.png');
}

#siteMenuBarWidgetMessagesInboxFolder .siteMenuBarWidgetMessagesFolderIcon {
  background-image: url('../gfx/icons/16x16/places/messages-inbox.png');
}

#siteMenuBarWidgetMessagesStarredFolder .siteMenuBarWidgetMessagesFolderIcon {
  background: none;
  margin-left: 4px;
  font-size: 18px;
  color: #FFEB00;
}

#siteMenuBarWidgetMessagesStarredFolder .siteMenuBarWidgetMessagesFolderIcon:before {
  content: '★';
}

#siteMenuBarWidgetMessagesOutboxFolder .siteMenuBarWidgetMessagesFolderIcon {
  background-image: url('../gfx/icons/16x16/places/messages-outbox.png');
}

#siteMenuBarWidgetMessagesTrashFolder .siteMenuBarWidgetMessagesFolderIcon {
  background-image: url('../gfx/icons/16x16/places/messages-trash.png');
}

.siteMenuBarWidgetMessagesFolderName {
  position: absolute;
  left: 28px;
  top: 0px;
}

.siteMenuBarWidgetMessagesFolderUnread {
  position: absolute;
  right: 0px;
  width: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #7197DC;
  border-radius: 16px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  line-height: 16px;
  padding: 1px;
  margin-top: 3px;
  margin-right: 3px;
}

.siteMenuBarWidgetMessagesSelectedFolder .siteMenuBarWidgetMessagesFolderUnread, .siteMenuBarWidgetMessagesFolder:hover .siteMenuBarWidgetMessagesFolderUnread {
  color: #7197DC;
  background: #fff;
}

#siteMenuBarWidgetMessagesWorkareaContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 204px;
  height: 402px;
}

.siteMenuBarWidgetMessagesWorkareaLoading {
  background-image: url('../gfx/layout/loader-black-64x64.gif');
  background-position: center 64px;
  background-repeat: no-repeat;
  background-color: #fafafa;
}

#siteMenuBarWidgetMessagesList {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4px;
  bottom: 4px;
  overflow: auto;
  overflow-y: scroll;
}

.siteMenuBarWidgetMessagesListEmpty {
  text-align: center;
  margin-top: 16px;
  font-style: italic;
}

.siteMenuBarWidgetMessagesListMessage {
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 4px;
  border-radius: 3px;
  cursor: pointer;
  padding-top: 2px;
  position: relative;
  height: 26px;
}

.siteMenuBarWidgetMessagesListMessageUnread .siteMenuBarWidgetMessagesListSender, 
.siteMenuBarWidgetMessagesListMessageUnread .siteMenuBarWidgetMessagesListSubject, 
.siteMenuBarWidgetMessagesListMessageUnread .siteMenuBarWidgetMessagesListTime {
  font-weight: bold;
}

.siteMenuBarWidgetMessagesListMessage:nth-child(even) {
  background: #f0f0f0;
}

.siteMenuBarWidgetMessagesListMessage:hover {
  color: #fff;
  background: #7197DC;
}

.siteMenuBarWidgetMessagesListStar {
  position: absolute;
  font-size: 18px;
}

.siteMenuBarWidgetMessagesListStarred {
  color: #FFEB00;
}

.siteMenuBarWidgetMessagesListStar:after {
  content: '★';
}

.siteMenuBarWidgetMessagesListSender {
  position: absolute;
  left: 24px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.siteMenuBarWidgetMessagesListSubject {
  position: absolute;
  left: 130px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}

.siteMenuBarWidgetMessagesListTime {
  position: absolute;
  right: 4px;
}

.siteMenuBarWidgetMessagesButton {
  margin: 4px;
  width: 36px;
  height: 36px;
  border: 1px outset #ddd;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.siteMenuBarWidgetMessagesButton:hover {
  background-color: #eee;
}

.siteMenuBarWidgetMessagesViewMessageHeaders {
  border-bottom: 1px solid #000;
  margin-right: 4px;
}

.siteMenuBarWidgetMessagesViewMessageHeader {
  white-space: nowrap; 
  overflow: hidden; 
  margin-right: 4px;
}

.siteMenuBarWidgetMessagesViewMessageHeader label {
  width: 100px;
  color: #666;
  display: inline-block;
  margin-left: 4px;
}

.siteMenuBarWidgetMessagesViewMessageHeader span {
  font-weight: bold;
}

.siteMenuBarWidgetMessagesViewMessageContent {
  margin: 4px;
  overflow-y: scroll;
  height: 300px;
}

.siteMenuBarWidgetMessagesListMessageActions {
  display: none;
}

.siteMenuBarWidgetMessagesListMessage:hover .siteMenuBarWidgetMessagesListMessageActions {
  position: absolute;
  right: 0px;
  padding-left: 4px;
  padding-bottom: 2px;
  margin-top: 25px;
  z-index: 999;
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: block;
  border: 1px solid #7197DC;
}

.siteMenuBarWidgetMessagesListMessageActions a {
  display: inline-block;
  float: right;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin-right:3px;  
  display: inline-block;
  margin-top: 2px;
}

.siteMenuBarWidgetMessagesListMessageActions a:hover {
  background-color: #f0f0f0;
}

.siteMenuBarWidgetMessagesListMessageTrash {
  background-image: url('../gfx/icons/22x22/actions/message-delete.png');
  background-repeat: no-repeat;
  background-position: center;
} 

.siteMenuBarWidgetMessagesListMessageReply {
  background-image: url('../gfx/icons/22x22/actions/message-reply.png');
  background-repeat: no-repeat;
  background-position: center;
} 

.siteMenuBarWidgetMessagesListMessageReplyAll {
  background-image: url('../gfx/icons/22x22/actions/message-replyall.png');
  background-repeat: no-repeat;
  background-position: center;
} 

.siteMenuBarWidgetMessagesListMessageForward {
  background-image: url('../gfx/icons/22x22/actions/message-forward.png');
  background-repeat: no-repeat;
  background-position: center;
}

#siteMenuBarWidgetMessagesComposeMessage {
  margin-right: 4px;
}

.siteMenuBarWidgetMessagesComposeMessageContent textarea {
  resize: none;
  height: 233px;
}