@CHARSET "UTF-8";

.dataGrid {
  width: 100%; 
  display: table;
  border-spacing: 0px;
}

.dataGridRow {
  margin-bottom: 4px;
}

.dataGridRow:last-child {
  margin-bottom: 0px;
}

.dataGridHeaderRow {
  height: 24px;
}

.dataGridRowContent {
  position: relative;
}

.dataGridClickableRow {
  cursor: pointer;
}

.dataGridHeaderCell, .dataGridCell {
  position: absolute;
}

.dataGridHeaderCell {
  font-weight: bold;
}

.dataGridHeaderCellText {
  float:left;
  margin-right: 4px;
}

.dataGridRowContent {
  height: 26px;
}

.dataGridCellEditorText {
  width: 100%;
}

.dataGridCellEditorClickable {
  cursor: pointer;
}

.dataGridCellEditorNumber {
  width: 100%;
  text-align: right; 
}

.dataGridCellViewer {
  white-space: nowrap;
  overflow: hidden;
}

.dataGridCellViewerDate {
  width: 100%;
  padding-top:3px;
}

.dataGridCellViewerText {
  width: 100%;
  padding-top:3px;
}

.dataGridCellViewerSelect {
  width: 100%;
  padding-top:3px;
}

.dataGridCellViewerNumber {
  width: 100%;
  text-align: right; 
  padding-top:3px;
}

.dataGridHeaderCellImage {
  padding:3px 3px 3px 3px;
}
  
.dataGridCellEditorButton, .dataGridHeaderCellImageButton {
  background-color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  height: 16px;
  padding-left:4px;
  padding-right:4px;
  padding-top:4px;
  padding-bottom:5px; 
  width: 16px;
}

.dataGridHeaderCellImageButtonDisabled {
  opacity: 0.33;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  cursor: default;
}

.dataGridRowButton {
  width: 16px;
  height: 16px;
  border: 1px solid #739de7;
  float: right;
  margin-left: 2px; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin-top: 0px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:2px;
  border-radius:5px;
  cursor:pointer;
}

.dataGridCellEditorSelect {
  border:1px solid #739DE7;
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:1px;
  padding-right:1px;
  width:100%;
}

.dataGridCellViewerDisabled, .dataGridButtonDisabled {
  opacity: 0.33;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  cursor: default;
}
