@charset "UTF-8";

@IMPORT url("index.css");

/* User Profile */

#userProfile {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

.userProfileName {
  margin-left: 140px;
  position: absolute;
}

.userProfileNickname {
  margin-left: 140px;
  top: 30px;
  position: absolute;
  color: #666;
}

.userProfileFriendContainer {
  width: 30%;
  float: left;
  display: table; 
  padding: 1px;
  background: #fafafa;
  margin: 1px;
  border-radius: 3px;
}

.userProfileFriendContainer:hover {
  background: #f7f7f7;
}

.userProfileFriendImageContainer {
  display: table-cell;
  width: 80px;
  height: 80px; 
}

.userProfileFriendImageInnerContainer {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  width: 80px;
  height: 80px; 
}

.userProfileNoImage {
  vertical-align: top;
  width: 128px;
  height: 128px;
  background-image: url("../gfx/icons/128x128/actions/profile-anonymous.png");
}

.userProfileFriendImage {
  vertical-align: top;
}

.userProfileFriendName {
  display: table-cell;
  vertical-align: top;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.userProfileFriendsContainer {
  clear: both;
}

.userProfileFriendNoImage {
  width: 64px;
  height: 64px;
  background-image: url("../gfx/icons/64x64/actions/profile-anonymous.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  
}