@charset "UTF-8";

@IMPORT url("index.css");

/* User Profile */

#userProfile {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

.userProfileName {
  margin-left: 140px;
  position: absolute;
}

.userProfileNickname {
  margin-left: 140px;
  top: 30px;
  position: absolute;
  color: #666;
}

.userProfileFriendContainer {
  width: 30%;
  float: left;
  display: table; 
  padding: 1px;
  background: #fafafa;
  margin: 1px;
  border-radius: 3px;
}

.userProfileFriendContainer:hover {
  background: #f7f7f7;
}

.userProfileFriendImageContainer {
  display: table-cell;
  width: 80px;
  height: 80px; 
}

.userProfileFriendImageInnerContainer {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  width: 80px;
  height: 80px; 
}

.userProfileNoImage {
  vertical-align: top;
  width: 128px;
  height: 128px;
  background-image: url("../gfx/icons/128x128/actions/profile-anonymous.png");
}

.userProfileFriendImage {
  vertical-align: top;
}

.userProfileFriendName {
  display: table-cell;
  vertical-align: top;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.userProfileFriendsContainer {
  clear: both;
}

.userProfileFriendNoImage {
  width: 64px;
  height: 64px;
  background-image: url("../gfx/icons/64x64/actions/profile-anonymous.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  
}

/* Edit Profile */

#editProfile {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

#editProfileBasic {
  display: table;
  width: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.editProfilePropertiesColumn {
  display: table-cell;
  vertical-align: top;
  padding-right: 16px;
}

.editProfileImageColumn {
  width: 128px;
  display: table-cell;
  vertical-align: top;
}

.editProfileImageContainer {
  width: 128px;
  height: 128px;
  display: table-cell;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 1px;
}

.editProfileImageInnerContainer {
  border: 1px solid #eee;
  height: 128px;
  width: 128px;
  text-align: center;
  background: #fafafa;
  display: table-cell;
  vertical-align: middle;
}

.editProfileImage {
  vertical-align: top; 
}

#editProfileImageChangeLink {
  display: block;
  border: 1px outset #ddd;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 4px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 4px;
}

#editProfileTabsContainer {
  margin-top: 8px;
}

#editProfileTabsContainer .ui-tabs-panel {
  min-height: 688px;
}

.editProfileMaterialQuota {
	margin-top: 8px;
}

.enabledAuthSource, .newAuthSourceInternal {
  padding: 4px;
  margin-bottom: 8px;
  position: relative;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #eee;
  min-height: 60px;
}

.enabledAuthSource:hover, .newAuthSourceInternal:hover  {
  background-color: #fefefe;
}

.enabledAuthSource:hover .enabledAuthSourceName, .newAuthSourceInternal:hover .newAuthSourceName {
  color: #000;
}

.enabledAuthSourceIcon, .newAuthSourceIcon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.enabledAuthSourceInternal .enabledAuthSourceIcon, .newAuthSourceInternal .newAuthSourceIcon {
  background-image: url("../gfx/icons/48x48/actions/login.png");
}

.enabledAuthSourceGoogle .enabledAuthSourceIcon {
  background-image: url("../gfx/icons/48x48/actions/login-google.png");
}

.enabledAuthSourceYahoo .enabledAuthSourceIcon {
  background-image: url("../gfx/icons/48x48/actions/login-yahoo.png");
}

.enabledAuthSourceFacebook .enabledAuthSourceIcon {
  background-image: url("../gfx/icons/48x48/actions/login-facebook.png");
}

.enabledAuthSourceDropbox .enabledAuthSourceIcon {
  background-image: url("../gfx/icons/48x48/actions/login-dropbox.png");
}

.enabledAuthSourceUbuntuOne .enabledAuthSourceIcon {
  background-image: url("../gfx/icons/48x48/actions/login-ubuntuone.png");
}

.enabledAuthSourceInfo, .newAuthSourceInfo {
  position: absolute;
  left: 10px;
}

.enabledAuthSourceName, .newAuthSourceName {
  font-weight: bold;
  font-size: 130%;
  color: #666;
  display: inline-block;
  vertical-align: middle;
}

.enabledAuthSourceId {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}

.enabledAuthSourceId:before {
  content: '<';
}

.enabledAuthSourceId:after {
  content: '>';
}

.enabledAuthSourceNotVerified {
  color: #f00;
  margin-top: 16px;
  margin-left: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.enabledAuthSourceChangePasswordFormContainer, .newAuthSourcePasswordFormContainer {
  margin-top: 60px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.enabledAuthSourceActions {
  position: absolute;
  top: 39px;
  left: 10px;
}

.enabledAuthSourceActions a {
  margin-right: 4px;
}

.addAuthSourceLink {
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 15px;
  margin-left: 8px;
}

.addAuthSourceContainer {
  margin-bottom: 8px;
}

.enabledAuthSourcesTitle {
  margin-bottom: 8px;
}