
.selectAutocompleter {
  border: 2px solid #aaa;
  cursor: text;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.selectAutocompleterSelectedContainer {
  display: inline;
  font-size: 13px;
}

.selectAutocompleterContainer {
  max-width: 100%;
  min-width: 30%;
  display: inline-block;
}

.selectAutocompleter input, .selectAutocompleter input:focus {
  border: 0px;
  outline: none;
}

.selectAutocompleterSelected {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  margin: 2px;
  background:#7197DC;
}

.selectAutocompleterSelectedText {
  color: #fff;
  display: inline;
  font-size: 12px;    
}

.selectAutocompleterSelectedRemoveButton {
  margin-left: 4px;
  color: #000;
  line-height: 8px;
  font-size: 12px;
  font-family: courier;
  padding: 0px;
  cursor: pointer;
}

.selectAutocompleterSelectedRemoveButton:after {
  content: 'X';
}

.selectAutocompleterSelectedRemoveButton:hover {
  color: #fff;
}

.selectAutocompleter .ui-menu-item {
  cursor: pointer;
}

.selectAutocompleterRequired {
  border-color: #A5A532;
}

.selectAutocompleter.valid {
  border-color: #49A749;
}

.selectAutocompleter.invalid {
  border-color: #BB6161;
}