#main_button a,  
#tool_imagelib, 
#tool_save, 
#tool_open, 
#tool_clear, 
#tool_source, 
#tool_export, 
#tool_import {
  display: none;
}

#save_button {
  background-image: url('../../gfx/icons/22x22/actions/vectorimage-save.png');
  background-repeat: no-repeat;
  background-position: center;
}