input.required, textarea.required {
  border-color: #A5A532;
}

input.valid, textarea.valid {
  border-color: #49A749;
}

input.invalid, textarea.invalid {
  border-color: #BB6161;
}

input.formvalid[disabled='disabled'] {
  border-color: #666666;
  color: #999999;
}

input.formvalid[disabled='disabled']:hover {
  border-color: #666666;
  color: #999999;
  background-color:#fff;
  cursor: default;
}