@CHARSET "utf-8";

@IMPORT url("http://fonts.googleapis.com/css?family=PT+Sans:regular,bold");
@IMPORT url("http://fonts.googleapis.com/css?family=PT+Sans+Caption:regular,bold");

@font-face {
  font-family: 'bebas_neueregular';
  src: url(#{resource['novus:fonts/BebasNeue-webfont.eot']});
  src: 
    url(#{resource['novus:fonts/BebasNeue-webfont.eot']}?#iefix) format('embedded-opentype'), 
    url(#{resource['novus:fonts/BebasNeue-webfont.woff']}) format('woff'), 
    url(#{resource['novus:fonts/BebasNeue-webfont.ttf']}) format('truetype'), 
    url(#{resource['novus:fonts/BebasNeue-webfont.svg']}#bebas_neueregular) format('svg');
  font-weight: normal;
  font-style: normal;
}
