body {
  width: 159.2mm;
  margin-left: auto;
  margin-right: auto;
  padding: 1in;
  box-shadow: 0 0 10px 1px rgb(200, 200, 200);
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

body *:first-child {
  margin-top: 0px;
}