@mixin registration-form-defaults {
  .alpaca-message {
    font-weight: bold;
    font-size: 12px;
    font-family:"PT Sans";
    color: #f00;
  }
  
  .alpaca-field-any,
  .alpaca-field-array,
  .alpaca-field-checkbox,
  .alpaca-field-radio,
  .alpaca-field-number,
  .alpaca-field-file,
  .alpaca-field-select,
  .alpaca-field-textarea,
  .alpaca-field-text,
  .alpaca-field-email {
    input,
    select,
    textarea {
      border: 1px solid #aaa;
    }
  
    &.alpaca-invalid {
      input,
      select,
      textarea {
        border: 1px solid #f00;
      }
    }
  
    &.alpaca-field-valid {
      input,
      select,
      textarea {
        border: 1px solid #080;
      }
    }
  }
  
  .alpaca-control-label,
  .alpaca-container-label {
    font-size: 13px;
    font-family: $default-font;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .alpaca-icon-required {
    display: none;
  }
  
  input[type="text"], 
  input[type="email"], 
  input[type="number"], 
  textarea, 
  select {
    font-size: 14px;
    font-family: $default-font;
    width: 100%; 
    @include box-sizing(border-box);
  }
  
  .alpaca-container-item {
    margin-top: 20px;
  }
}