@import "vars";
@import "compass";
@import "styles";

@mixin illusion-forum-post-content {
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  line-height: 1.6em;
  max-width: 780px;
}