@mixin header {
  text-decoration: none;
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin header-1 {
  @include header;
  color: $default-color;
  font-size: 50px;
}

@mixin header-2 {
  @include header;
  color: $default-color;
  font-size: 26px;
}

@mixin header-3 {
  @include header;
  color: $default-color;
  font-size: 21px;
}

@mixin header-4 {
  @include header;
  color: $default-color;
  font-size: 18px;
}

@mixin header-5 {
  @include header;
  color: $default-color;
  font-size: 16px;
}

@mixin header-6 {
  @include header;
  color: $default-color;
  font-size: 12px;
}

@mixin generic-panel {
  background-color: $panel-background-color;
  padding-top: 19px;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}