// Grid

$grid-columns: 16;
$grid-width-desktop: 960px;
$grid-margin: 10px;

// Colors

$default-color: #1A1818;
$title-color: #47B0B0;
$panel-background-color: rgba(255, 255, 255, 0.9);

// Fonts

$default-font: 'PT Sans', sans-serif;
$title-font: "Bebas Neue",sans-serif;