// Grid

$grid-columns: 16;
$grid-width-desktop: 960px;
$grid-margin: 10px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;

// Colors

$default-color: #1A1818;
$title-color: #47B0B0;
$panel-background-color: rgba(255, 255, 255, 0.9);
$header-background-color: #000;
$header-text-color: #fff;
$autocomplete-disabled-color: #ddd;

// Fonts

$default-font: 'PT Sans', sans-serif;
$title-font: "Bebas Neue",sans-serif;