@import "vars";
@import "compass";
@import "styles";

/* General */

h2 {
  @include header-2;
  color: $title-color;
  padding-bottom: 10px;
}

h3 {
  @include header-3;
  color: $title-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner {
  vertical-align: top;
}

.block {
  display: table;
  
  .sub-block {
    clear: both;
  
    p::first-of-type {
      padding-top: 0;
    }
    
    img {
      float: left;
      padding-top: 4px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  
  &:after {
    clear: both;
  }
}

.index-box p {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $default-font;
  color: $default-color;
  font-size: 14px;
}

.index-box ul {
  padding-left: 20px;
}

.index-box ul li {
  list-style: circle;
}