@import "vars";
@import "compass";
@import "styles";

/* General */

h2 {
  @include header-2;
  color: $title-color;
  padding-bottom: 10px;
}

h3 {
  @include header-3;
  color: $title-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

.index-box {
  background-color: $panel-background-color;
  padding: 20px;
}

.banner {
  vertical-align: top;
}

.history-image {
  float: left;
  padding-top: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.index-box p {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $default-font;
  color: $default-color;
  font-size: 14px;
}

.index-box ul {
  padding-left: 20px;
}

.index-box ul li {
  list-style: circle;
}