@import "vars";
@import "compass";
@import "styles";

/* Panel */ 

table {
  margin-top: 12px;
}

.insignificant {
  opacity: 0.5;
}

.insignificant h3 {
  font-size: 14px;
}

.insignificant div {
  font-size: 10px;
}

/* Generic */

h2 {
  @include header-2;
  margin-bottom: 10px;
}

h3 {
  @include header-3;
  margin-bottom: 10px;
}

.index-box table {
  width: 100%;
  font-family: courier;
  font-size: 12px;
  margin-bottom: 10px;
}

.index-box table th {
  font-weight: bold;
  padding-bottom: 8px;
}

.admin-debug-timer-result-low {
  color: #00aa00;
}

.admin-debug-timer-result-med {
  color: #ff5500;
}

.admin-debug-timer-result-high {
  color: #ff0000;
}
