@import "vars";
@import "compass";
@import "styles";

/* Panel */ 

.admin-manage-xmpp-users-panel {
  @include generic-panel;
}

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

.manage-xmpp-users-headers {
  margin: 4px;
  padding: 4px;
}

.manage-xmpp-users-header {
  font-weight: bold;
  display: inline-block;
}

.manage-xmpp-user {
  background: rgba(200, 200, 200, 0.3);
  margin: 4px;
  padding: 4px;
  color: $default-color;
  font-family: $default-font;
  font-size: 14px;
}

.manage-xmpp-user-email {
  font-weight: bold;
}

.manage-xmpp-user-email, .manage-xmpp-user-credentials, .manage-xmpp-user-status {
  display: inline-block;
}

.manage-xmpp-user-actions a {
  color: $default-color;
  text-transform: uppercase; 
  text-decoration: none;
}

.manage-xmpp-user-email-header, .manage-xmpp-user-email {
  width: 250px;
}

.manage-xmpp-user-credentials-header, .manage-xmpp-user-credentials {
  width: 400px;
}

.manage-xmpp-user-status-header, .manage-xmpp-user-status {
  width: 150px;
}

.manage-xmpp-user-status {
  text-transform: uppercase; 
}

.manage-xmpp-user-status-warning {
  color: #d60;
}

.manage-xmpp-user-status-error {
  color: #f00;
  font-weight: bold;
}

.manage-xmpp-user-status-ok {
  color: #0a0;
  font-weight: bold;
}

.manage-xmpp-mass-ops {
  margin-left: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.manage-xmpp-mass-op {
  color: $default-color;
  font-family: $title-font;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 8px;
}