@import "compass";
@IMPORT url("http://yui.yahooapis.com/3.11.0/build/cssreset/cssreset-min.css");

/* Body */

body {
  @include background-image(linear-gradient(left,  rgba(215,64,64,1) 0%,rgba(128,255,250,1) 50%,rgba(215,64,64,1) 100%));
  background: url('#' + '{resource["novus:gfx/layout/background.jpg"]}') repeat-y top left;
  background-position: repeat-y top left;
  background-size: 100% auto;
}