@import "vars";
@import "compass";
@import "styles";

.index-box {
  min-height: 600px;
}

.error-hint {
  font-size: 16px;
  font-family: $default-font;
  color: $default-color;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;

  &:before {
    content: '"';
  }
  
  &:after {
    content: '"';
  }
}

.error-back-to-index {
  padding-top: 20px;
  @include header-2;
  text-decoration: none;
  color: $default-color;
  display: block;
}