@import "vars";
@import "compass";

.flex-grid {
  @include box-sizing(border-box);
  max-width: $grid-width-desktop;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.flex-grid .no-margin-top {
  margin-top: 0px;
}

.flex-grid .no-margin-bottom {
  margin-bottom: 0px;
}

.flex-grid .no-margin-left {
  margin-left: 0px;
}

.flex-grid .no-margin-right {
  margin-right: 0px;
}

.flex-left {
  text-align: left;
}

.flex-center {
  text-align: center;
}

.flex-right {
  text-align: right;
}

.flex-overflow-hidden {
  overflow: hidden;
}

@mixin screen-modifier ($name, $prefix) {
  @for $i from 1 through $grid-columns {
    .#{$prefix}flex-cell-#{$i} {
      @include flex-basis(calc(#{100% / $grid-columns * $i} - #{$grid-margin}));
      
      @include box-sizing(border-box);
      margin: #{$grid-margin / 2};
      
      &.#{$prefix}flex-cell-first {
        @include flex-basis(calc(#{100% / $grid-columns * $i} - #{$grid-margin / 2}));
        margin-left: 0px;
      } 
      
      &.#{$prefix}flex-cell-last {
        @include flex-basis(calc(#{100% / $grid-columns * $i} - #{$grid-margin / 2}));
        margin-right: 0px;
      }
    }
  }
  
  @for $i from 1 through 12 {
    .#{$prefix}flex-cell12-#{$i} {
      @include flex-basis(calc(#{100% / 12 * $i} - #{$grid-margin}));
      @include box-sizing(border-box);
      margin: #{$grid-margin / 2};
      
      &.#{$prefix}flex-cell12-first {
        @include flex-basis(calc(#{100% / 12 * $i} - #{$grid-margin / 2}));
        margin-left: 0px;
      } 
      
      &.#{$prefix}flex-cell12-last {
        @include flex-basis(calc(#{100% / 12 * $i} - #{$grid-margin / 2}));
        margin-right: 0px;
      }
    }
  }
    
  @for $i from 0 through $grid-columns {
    .#{$prefix}flex-order-#{$i} {
      @include order($i);
    }
  }

  .#{$prefix}flex-cell-full {
    @include flex-basis(100%);
    @include box-sizing(border-box);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: #{$grid-margin / 2};
    margin-bottom: #{$grid-margin / 2};
  }
  
  .#{$prefix}flex-hide {
    display: none !important;
  }
  
  .#{$prefix}flex-left {
    text-align: left;
  }
  
  .#{$prefix}flex-center {
    text-align: center;
  }
  
  .#{$prefix}flex-right {
    text-align: right;
  }  
  
  .#{$prefix}flex-align-items-top {
    @include align-items(flex-start);
  }
  
  .#{$prefix}flex-align-items-center {
    @include align-items(center);
  }
    
  .#{$prefix}flex-align-items-bottom {
    @include align-items(flex-end);
  }  
  
  .#{$prefix}flex-self-items-top {
    @include align-self(flex-start);
  }
  
  .#{$prefix}flex-self-items-center {
    @include align-self(center);
  }
    
  .#{$prefix}flex-self-items-bottom {
    @include align-self(flex-end);
  }
  
  .#{$prefix}flex-justify-content-start {
    @include justify-content(flex-start);
  }
  
  .#{$prefix}flex-justify-content-end {
    @include justify-content(flex-end);
  }
  
  .#{$prefix}flex-justify-content-center {
    @include justify-content(center);
  }
  
  .#{$prefix}flex-justify-content-space-between {
    @include justify-content(space-between);
  }
  
  .#{$prefix}flex-justify-content-space-around {
    @include justify-content(space-around);
  }
  
  .#{$prefix}flex-row {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }
}

@include screen-modifier("Default", '');

@media screen and (max-width: 767px) {
  @include screen-modifier("Small", 'sm-');
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  @include screen-modifier("Medium", 'md-');
}

@media screen and (min-width: 960px) {
  @include screen-modifier("Large", 'lg-');
}

