@charset "utf-8";
@import "vars";
@import "compass";
@import "styles";

.forge-public {
  h2 {
    @include header-2;
    color: $title-color;
  }
  
  h3 {
    @include header-3;
    margin-bottom: 10px;
  }

  h4 {
    @include header-4;
    
    a {
      color: $default-color;
      text-decoration: none;
    }
    
  }
  
  .material {
    p {
      font-family: $default-font;
      font-size: 14px;
      color: $default-color;
    }
    
    .icon {
      margin-right: 5px;
      margin-top: -2px;
      max-height: 1.4em;
      vertical-align: top;
      margin-left: -4px;
    }
    
    .modified {
      font-family: $default-font;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none;
    }
    
    .tag, .creator-tag {
      font-family: $default-font;
      font-size: 10px;
      text-transform: uppercase;
      padding-right: 5px;
      text-decoration: none;
    }
    
    .license-link {
      font-family: $default-font;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none;
    }
    
    .tag {
      color: $default-color;
    }
    
    .creator-tag {
      color: $title-color;
    }
  }
}