@import "vars";
@import "compass";
@import "styles";

.forge-google-drive-container {
  
  iframe {
    margin-top: 20px;
    border: 0px;
    width: 100%;
    max-width: 210mm;
    box-shadow: 0 0 10px 1px rgb(200, 200, 200);
    background: #fff;
  }
}

h2 {
  @include header-2;
  color: $title-color;
}

.forge-google-drive-link-container>a{
  @include header-5;
}