@charset "utf-8";
@import "vars";
@import "compass";
@import "styles";
@import "forge-material-share";

.forge-public-material {
  
  font-family: $default-font;
  
  .forge-public-material-cell {
    max-width: 100%;
    
    .index-box {
      min-width: 0px;
    }
     
    .forge-public-material-container {
      min-width: 0px;
    }
  }

  article {
    @include html-default-styles;
    
    :first-child {
      margin-top: 0px;
    }
    
    :last-child {
      margin-bottom: 0px;
    }
  }
  
  img {
    max-width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
    @include box-sizing(border-box);
  }
  
  iframe {
    border: 0px;
    width: 100%;   
    height: 100vh;
    vertical-align: top;
    @include box-sizing(border-box);
  }
  
  .details-container {
    margin-top: 20px;
    
    h4 {
      @include header-4;
    }
    
    label {
      font-weight: bold;
    }
  }
  
  .material-tags {
    max-width: 100%;
    word-wrap: break-word;
  
    .tag, .creator-tag {
      font-family: $default-font;
      font-size: 10px;
      text-transform: uppercase;
      padding-right: 5px;
      text-decoration: none;
    }
    
    .tag {
      color: $default-color;
    }
    
    .creator-tag {
      color: $title-color;
    }
  }
  
  .description {
    font-family: $default-font;
  }
  
  .created-modified {
    font-family: $default-font;
    font-size: 10px;
    text-transform: uppercase;
  }
  
  .license {
    overflow:hidden; 
    text-overflow: ellipsis;
    min-width:0;
    color: blue;
  }

  .license-link {
    font-family: $default-font;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.forge-public-material-title {
  
  h2 {
    @include header-2;
  }
  
}

.actions a {
  font-family: $default-font;
  font-size: 12px;
  text-transform: uppercase;
  color: $default-color;
  text-decoration: none;
  margin-right: 10px;
  white-space: nowrap;
}

.categories {
  
  h3 {
    @include header-3;
    margin-bottom: 10px;
  }
  
  .tags {
    li {
      max-width: 100%;
      word-wrap: break-word;
    }
  
    a {
      display: block;
      color: $default-color;
      font-family: $default-font;
      font-size: 13px;
      text-decoration: none;
      
      &:before {
        content: '»';
        padding-right: 7px;
      }
    }
  }

  .more-container {
    position: absolute;
    bottom: 10px;
    right: 26px;
  }
  
  .more-link {
    font-family: $default-font;
    color: $default-color;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
  }
}