@import "vars";
@import "compass";
@import "styles";

$border-width: 3px;
$padding: 5px;

h2 {
  @include header-2;
  color: $title-color;
}

.forge-image-container {
  width: 100%;
}

.forge-image-container img {
  vertical-align: top;
  border: $border-width solid #000;
  padding: $padding;
  max-width: 100%;
  @include box-sizing(border-box);
}

@media screen and (min-width: $grid-width-desktop) {
  .forge-image-container img {
    max-width: ($grid-width-desktop - 40px) - (($padding + $border-width) * 2) - ($grid-margin * 2);   
  }
}