@import "vars";
@import "compass";
@import "styles";

h2 {
  @include header-2;
}

h2 input {
  color: $title-color;
  background: none;
  border: 1px solid transparent;
  width: 100%;
  @include box-sizing(border-box);
  padding-left: 4px;
  margin-left: -4px;
  font-family: $default-font;
}

h2 input:hover {
  background: #fff;
  border: 1px dotted #eee;
}

h2 input:focus {
  background: #fff;
  border: 1px inset #eee;
}

h3 {
  @include header-3;
}

.forge-character-sheet-editor-content {
  resize: none;
}

.forge-character-sheet-editor-css {
  resize: none;
}

.forge-character-sheet-editor-script {
  resize: none;
}

.forge-chracter-sheet-editor-preview {
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-left: none;
  border-right: none;
  width: 100%;
  @include box-sizing(border-box);
  min-height: 500px;
}

.CodeMirror {
  @include box-sizing(border-box);
  border-top: 1px solid #888; 
  border-bottom: 1px solid #888;
}

.forge-chracter-sheet-save {
  color: $default-color;
  font-family: $title-font;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.forge-chracter-sheet-save:disabled {
  background: #999;
  cursor: default; 
}