@charset "utf-8";
@import "vars";
@import "compass";
@import "styles";

$menu-button-color: #fff;
$menu-button-background: rgb(71,176, 167);
$menu-button-border-size: 4px;
$menu-button-border-color: darken($menu-button-background, 10%);
$menu-button-background-hover: darken($menu-button-background, 10%);
$menu-button-width: 240px;
$menu-button-padding: 25px;
$header-background-color: #000;
$header-text-color: #fff;
$header-background-color-hover: #fff;
$header-text-color-hover: #000;
$selected-background-color: lighten(rgba(71, 176, 176, 0.90), 30%);

/* Generic */

.forge-material-panel h2 {
  @include header-2;
  color: $title-color;
}

/* Panels */

.forge-button-panel {
  @include generic-panel;
  padding: 20px;
}

.forge-material-panel {
  display: table;
  background-color: $panel-background-color;
  margin-top: 10px;
}

/* Header */

.forge-search-container {
  position: relative;  
}

.forge-search-loading {
  background: url('#' + '{resource["novus:gfx/layout/loader-bw.gif"]}') no-repeat center center;
  width: 16px;
  position: absolute;
  top: 1px;
  bottom: 0px;  
  right: 5px;
}

.forge-search {
  @include generic-search;
}

.forge-search-result {
  position: absolute;
  width: 100%;
  background: #000;
  padding: 8px;
  margin-top: 8px;
  @include box-sizing(border-box); 
  width: 100%;
}

.forge-search-result a {
  padding: 8px;  
  text-decoration: none;
  font-family: $default-font;
  color: $header-text-color;
  @include box-sizing(border-box); 
  width: 100%;
  display: block;
  font-size: 14px;
}

.forge-search-result a:hover {
  background: $header-background-color-hover;
  color: $header-text-color-hover;
}

.forge-search-no-result {
  font-family: $default-font;
  color: $header-text-color;
  padding: 8px;
  font-size: 14px;
}

/* Menu */

.forge-menu {
}

.forge-menu-items {
  display: none;
}

.forge-menu>a{
  @include header-2;
  color: $menu-button-color;
  background: $menu-button-background;
  border: $menu-button-border-size solid $menu-button-border-color;
  border-radius: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: $menu-button-width - $menu-button-padding;
  display: inline-block;
  vertical-align: top;
  padding-left: $menu-button-padding;
}

.forge-menu>.forge-menu-help{
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  display: inline-block;
  width: 407px - $menu-button-width;
  margin-left: 20px;
  padding-top: 6px;
}

.forge-menu>a:before {
  content: '+';
  padding-right: 8px; 
}

.forge-menu:hover>a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
  padding-bottom: 7px;
}

.forge-menu:hover .forge-menu-items {
  display: block;
  position: absolute;
  border-left: $menu-button-border-size solid $menu-button-border-color;
  border-right: $menu-button-border-size solid $menu-button-border-color;
  border-bottom: $menu-button-border-size solid $menu-button-border-color;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: $menu-button-background;
  z-index: 9999;
}

.forge-menu:hover .forge-menu-items a:before {
}

.forge-menu:hover .forge-menu-items a {
  color: $menu-button-color;
  padding-left: $menu-button-padding + 18px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: $menu-button-width - ($menu-button-padding + 18px + 8px);
  display: block;
  font-family: $default-font;
  font-size: 16px;
  text-decoration: none;
}

.forge-menu:hover .forge-menu-items a:hover {
  background: $menu-button-background-hover;
}

/* Materials */

.forge-material-list-title {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 16px;  
  border-bottom: 5px solid $title-color;
}
.forge-material-list-title h2 {
  display: inline;
}

.forge-material-list-title a {
  font-size: 16px;
  color: $title-color;
  font-family: $default-font;
  float: right;
}
  
.forge-material {
  margin-bottom: 8px;
  display: inline-table;
  width: 288px;
  padding: 8px;
  position: relative;
}

.forge-materials-container {
  margin-left: 40px;
}

.forge-material-icon {
  display: table-cell;
  vertical-align: top;
  width: 48px;
  line-height: 0px;
  padding-left: 8px;
}

.forge-material-info {
  display: table-cell;
  vertical-align: top;
  padding-left: 8px;
}

.forge-material-title, .forge-material-date, .forge-material-creator {
  font-size: 12px;
  font-family: $default-font;
  text-decoration: none;
}

.forge-material-title-container, .forge-material-creator-container, .forge-material-date-container {
  line-height: 12px;
  padding-top: 3px;
}

.forge-material-title {
  font-weight: bold;
}

.forge-material-title, .forge-material-date {
  color: $default-color;
}

.forge-material-creator {
  color: blue;
}

.forge-material-date {
  font-size: 10px;
}

.forge-material-star {
  position: absolute;
  @include background-image(url('#' + '{resource["novus:gfx/icons/10x10/forge/material-star.png"]}'));
  width: 10px;
  height: 10px;
  margin-left: 6px;
}

.forge-material-starred {
  @include background-image(url('#' + '{resource["novus:gfx/icons/10x10/forge/material-starred.png"]}'));
}

.forge-material:hover {
  background: $selected-background-color;
}

.forge-material-actions {
  height: 0px;
  position: absolute;
  z-index: 9;
  background: $selected-background-color;
  left: 0px;
  margin-top: 56px;
  width: 306px;
  overflow: hidden;
  @include transition-property(height);
  @include transition-duration(0s);
  @include transition-delay(0s);
  @include box-sizing(border-box); 
}

.forge-material-actions > div {
  margin-left: 47px;
}

.forge-material-actions img {
  vertical-align: top;
}

.forge-material-actions label {
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer; 
  vertical-align: top;
  padding-top: 3px;
  display: inline-block;
}

.forge-material-actions a {
  text-decoration: none;
  color: $default-color;
}
  
.forge-material:hover .forge-material-actions {
  height: 140px;
  @include transition-property(height);
  @include transition-duration(1s);
  @include transition-delay(0.25s);
}

/* jQuery UI */

.forge-print-material-pdf-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}

.forge-print-material-pdf-dialog .forge-print-material-pdf-print-style {
  margin-top: 8px;
  font-size: 14px;
}

.forge-print-material-pdf-dialog .forge-print-material-pdf-print-style label {
  font-weight: bold;
  padding-left: 8px;  
}

/* Move dialog, Copy dialog */

.forge-move-material-dialog p, 
.forge-copy-material-dialog p, 
.gamelibrary-manage-file-upload-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.forge-move-material-list,
.forge-copy-material-list {
  overflow: auto;
  overflow-y: scroll;
  height: 450px;
}

.forge-move-material-list-item,
.forge-copy-material-list-item {
  clear: both;
  margin-bottom: 8px;
  padding: 8px;
  cursor: pointer;
  height: 48px;
}

.forge-move-material-list-item:hover,
.forge-copy-material-list-item:hover {
  background-color: $selected-background-color;
}

.forge-move-material-list-item.forge-move-material-list-item-disabled,
.forge-copy-material-list-item.forge-copy-material-list-item-disabled {
  background-color: #ddd;
  cursor: default;
  opacity: 0.75;
}

.forge-move-material-list-item-icon-parent,
.forge-copy-material-list-item-icon-parent {
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  @include background-image(url('#' + '{resource["novus:gfx/icons/48x48/forge/folder-go-up.png"]}'));
}

.forge-move-material-list-item-icon-folder,
.forge-copy-material-list-item-icon-folder {
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  @include background-image(url('#' + '{resource["novus:gfx/icons/48x48/forge/icon-folder.png"]}'));
}

.forge-move-material-list-item-info,
.forge-copy-material-list-item-info {
  padding-left: 8px;
  margin-left: 48px;
}


.forge-move-material-list-item-title,
.forge-move-material-list-modified,
.forge-move-material-list-creator,
.forge-copy-material-list-item-title,
.forge-copy-material-list-modified,
.forge-copy-material-list-creator {
  font-family: $default-font;
  color: $default-color;
  font-size: 12px;
  display: block;
  background-image: none;
  display: block;
}

.forge-move-material-list-item-title,
.forge-copy-material-list-item-title {
  font-weight: bold;
}

.forge-move-material-list-modified,
.forge-copy-material-list-modified {
  font-size: 10px;
}

.forge-move-material-parents,
.forge-copy-material-parents {
  border: 1px inset #aaa;
  padding: 8px;
  margin-bottom: 8px;
}

.forge-move-material-parent,
.forge-copy-material-parent {
  display: inline-block;
  margin-right: 8px;
  color: $default-color;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $default-font;
  font-weight: bold;
  cursor: pointer;
}

.forge-move-material-parent:after,
.forge-copy-material-parent:after {
  padding-left: 8px;
  content: '>>';
}

.forge-move-material-parent:last-child,
.forge-copy-material-parent:last-child {
  color: $title-color;
}

.forge-move-material-parent:last-child:after,
.forge-copy-material-parent:last-child:after {
  content: '';
}

/* Share dialog */

.forge-share-material-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}

.forge-share-material-dialog h4 {
  @include header-4;
  color: $title-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forge-share-material-publicity-field {
  height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.forge-share-material-publicity-field label {
  font-size: 12px;
  font-family: $default-font;
  font-weight: bold;
  margin-left: 4px;
}

.forge-share-material-url input[type="text"] {
  @include box-sizing(border-box); 
  width: 100%;
}

.forge-share-material-collaborator {
  height: 20px;
  clear: both;
  margin-top: 4px;
  margin-bottom: 4px;
}

.forge-share-material-collaborator label {
  font-family: $default-font;
  font-size: 12px;
}

.forge-share-material-collaborator select {
  float: right;
}

.forge-share-material-invite p {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.forge-share-material-invite input[type="text"] {
  @include box-sizing(border-box); 
  width: 100%;
}

/* Create Folder */

.forge-create-folder-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.forge-create-folder-dialog  .forge-create-folder-name {
  @include box-sizing(border-box); 
  width: 100%;
}