@charset "utf-8";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css";
@import "vars";
@import "compass";
@import "styles";
@import "forge-material-browser";

$hover-background: lighten(rgba(71, 176, 176, 0.90), 30%);

.book-design-save,
.book-design-apply-template,
.book-design-publish-template {
  display: none;
}

h2.title {
  @include header-2;
}

h2.title input {
  color: $title-color;
  background: none;
  border: 1px solid transparent;
  width: 100%;
  @include box-sizing(border-box);
  padding-left: 4px;
  margin-left: -4px;
  font-family: $default-font;
}

h2.title input:hover {
  background: #fff;
  border: 1px dotted #eee;
}

h2.title input:focus {
  background: #fff;
  border: 1px inset #eee;
}
  
.book-designer {
  border: 0px;
  width: 100%;
  @include box-sizing(border-box);
  @include html-default-styles;
  
  .forge-book-designer-tools {
    position: absolute;
    width: 32px;
  }
  
  .forge-book-designer-tool {
    height: 32px;
    width: 32px;
    background: #000;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
    opacity: 0.75;

    &[data-disabled="true"] {
      cursor: default;
      background: #666;
      opacity: 1;
    }
  }
  
  .forge-book-designer-tool-group {
    margin-bottom: 5px;
  }
  
  .forge-book-designer-tool:hover {
    opacity: 1;
  }
  
  .forge-book-designer-tool .fa {
    vertical-align: top;
    width: 16px;
    height: 16px;
    padding: 8px; 
    font-size: 16px;
    text-align: center;
  }
  
  .forge-book-designer-tool-items {
    position: absolute;
    right: 45px;
  }
    
  .forge-book-designer-tool-items a {
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.75;
    display: block;
    
    &.text {
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 12px;
      padding: 10px;
    }

    &.fa {
      height: 32px;
      width: 32px;
      vertical-align: top;
      width: 16px;
      height: 16px;
      padding: 8px; 
      font-size: 16px;
      text-align: center;
    }
  }

  .forge-book-designer-tool-items a:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .forge-book-designer-tool-items a:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
   
  .forge-book-designer-tool-items a:hover {
    opacity: 1;
  }
  
  .forge-book-designer-tool-items:after {
    border-color: transparent transparent transparent #000;
    border-style: solid;
    border-width: 7px;
    color: transparent;
    content: ".";
    height: 0;
    position: absolute;
    right: -14px;
    top: calc(50% - 7px);
    width: 0;
    opacity: 0.75;    
  }

  .forge-book-designer-page {
    box-sizing: border-box;
    height: 297mm;
    width: 210mm;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 4em;
    page-break-after: always;
    position: relative;
    
  }

  .forge-book-designer-page:last-child {
    page-break-after: avoid;
  }
   
  .forge-book-designer-page {
    outline: 1px solid rgba(200, 200, 200, 0.3);
    margin-top: 40px;
    
    .forge-book-designer-block-selected {
      outline-width: 1px;
      outline-color: #000;
      outline-style: dotted;
      outline-offset: 5px;
    }
  } 
  
  .forge-book-designer-page-selected {
    outline-color: rgba(200, 0, 0, 0.6);
  }
  
  .forge-book-designer-page:before {
    content: attr(data-type);
    display: block;
    position: absolute;
    background: #0a4;
    padding: 10px;
    color: #fff;
    right: 0px;
    top: 0px;
  }
  
  .forge-book-designer-page:nth-child(even) {
    box-shadow: -10px 0px 5px #888888;
  }
  
  .forge-book-designer-page:nth-child(odd) {
    box-shadow: 10px 0px 5px #888888; 
  } 
}

/* Dialogs */

.ui-dialog {

  &.no-close .ui-dialog-titlebar-close {
    display: none;
  }
  
  .forge-designer-dialog {
  
    /* Tabs */
    
    .ui-tabs {
      border: 0px;
      background: none;
      padding-top: 0px;
    
      .ui-tabs-nav {
        border: 0px;
        background: none;
        padding-top: 0px;
      }
    }
    
    /* Spectrum */
    
    .sp-replacer {
      border: 1px solid #000;
      padding: 1px;
      background: #fff;
      margin-top: 1px;
      margin-bottom: 1px;
      
      &.sp-active, 
      &:hover {
        border: 1px solid #000;
      }
      
      .sp-dd {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
        padding-left: 0px;
        height: 10px;
        line-height: 10px;
      }
      
      .sp-preview {
        height: 14px;
        
        .sp-preview-inner {
          background-size: contain;
        }
      }
    }
    
    .sp-container {
      border: 1px solid #000;
      background: #fff;
    }
    
    /* Add font dialog */
    
    &.forge-designer-add-font-dialog {
      
      h4 {
        font-weight: bold;
        font-family: $default-font;
        margin-bottom: 2px;
      }
    
      input {
        @include box-sizing(border-box);
        width: 100%;
      }
    
      section {
        margin-bottom: 10px;
      }
  
      section:last-child {
        margin-bottom: 0;
      }
    
    }
    
     /* Styles dialog */
    
    &.forge-designer-styles-dialog {
      &.ui-dialog-content {
        padding-top: 3px;
        padding-left: 1px;
        padding-right: 1px;
      }
      
      .forge-designer-style-dialog-style-setting-editor {
        display: inline-block;
        width: 80%;
      }
      
      .forge-designer-style-dialog-style-name {
        font-family: $default-font;
        font-size: 14px;
        color: #000;
        width: 100%;
        border-style: solid;
        border-width: 1px;
        margin-bottom: 10px;
        border-color: #eee;
        padding-left: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: -3px;
        margin-bottom: 8px;
      }
      
      .forge-designer-style-dialog-style-setting-editor input[type="checkbox"] {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
      }
      
      .forge-designer-style-dialog-style-setting-editor input[type="checkbox"]:first-child {
        margin-left: 0px;
      }
      
      .forge-designer-style-dialog-style-setting-editor label {
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        display: inline-block;
      }
      
      .forge-designer-style-dialog-style-settings>div>label {
        width: 20%;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        display: inline-block;
        vertical-align: top;
      }
      
      textarea {
        width: 475px;
        margin-top: 2px;
        margin-bottom: 5px;
        @include box-sizing(border-box);
        resize: none;
      }
      
      input[type="number"] {
        height: 14px;
      }
      
      input[name*="font-size"] {
        width: 40px;
        margin-right: 2px;
      }
      
      select[name*="font-family"] {
        margin-left: 5px;
      }
      
      .forge-designer-style-dialog-style-setting-font-action {
        margin-left: 10px;
      }
    
      .forge-designer-style-dialog-style-setting-paddings, .forge-designer-style-dialog-style-setting-margins {
        .forge-designer-style-dialog-style-setting-editor {
          input { 
            width: 10%;
          }
        
          span { 
            margin-left: 4px;
            margin-right: 4px;
          }
      
          span:before {
            content: '('; 
          }
      
          span:after {
            content: ')'; 
          }
        }
      }
      
      .forge-designer-style-dialog-style-preview-container {
        overflow: auto;
        border: 1px solid #000;
        margin-top: 5px;
        @include box-sizing(border-box);
        align-items: center;
        @include display-flex;
        height: 75px;
        
        .forge-designer-style-dialog-style-preview-inner-container {
          margin-left: auto;
          margin-right: auto;
        }
        
        .forge-designer-style-dialog-style-preview {
          position: relative;
      
          .forge-designer-style-dialog-style-preview-text {
            position: relative;
          }
          
          .forge-designer-style-dialog-style-preview-padding {
            position: absolute;
            border-color: rgba(128, 128, 128, 0.5);
            border-style: dotted;
            border-width: 1px;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
          }
          
          .forge-designer-style-dialog-style-preview-margin {
            position: absolute;
            border-color: rgba(128, 128, 128, 0.5);
            border-style: dashed;
            border-width: 1px;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
          }
        }
      }
    
    }
    
    /* Types dialog */
    
    &.forge-designer-page-types-dialog {
      
      &.ui-dialog-content {
        padding-top: 3px;
        padding-left: 1px;
        padding-right: 1px;
      }
      
      .forge-designer-page-types-dialog-type-setting-editor {
        display: inline-block;
        width: 80%;
      }
      
      .forge-designer-page-types-dialog-type-name {
        font-family: $default-font;
        font-size: 14px;
        color: #000;
        width: 100%;
        border-style: solid;
        border-width: 1px;
        margin-bottom: 10px;
        border-color: #eee;
        padding-left: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: -3px;
        margin-bottom: 8px;
      }
      
      .forge-designer-page-types-dialog-type-setting-editor input[type="checkbox"] {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
      }
      
      .forge-designer-page-types-dialog-type-setting-editor input[type="checkbox"]:first-child {
        margin-left: 0px;
      }
      
      .forge-designer-page-types-dialog-type-setting-editor label {
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        display: inline-block;
      }
      
      .forge-designer-page-types-dialog-type-settings>div>label {
        width: 20%;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        display: inline-block;
        vertical-align: top;
      }
      
      textarea {
        width: 475px;
        margin-top: 2px;
        margin-bottom: 5px;
        @include box-sizing(border-box);
        resize: none;
      }
      
      input[type="number"] {
        height: 14px;
      }
      
      input[name*="font-size"] {
        width: 40px;
        margin-right: 2px;
      }
      
      select[name*="font-family"] {
        margin-left: 5px;
      }
      
      .forge-designer-page-types-dialog-type-setting-font-action {
        margin-left: 10px;
      }
    
      .forge-designer-page-types-dialog-type-setting-paddings {
        .forge-designer-page-types-dialog-type-setting-editor {
          input { 
            width: 10%;
          }
        
          span { 
            margin-left: 4px;
            margin-right: 4px;
          }
      
          span:before {
            content: '('; 
          }
      
          span:after {
            content: ')'; 
          }
        }
      }
    }
    
    &.forge-designer-publish-template-dialog {
      
      label {
        display: block;
        font-weight: bold;
        margin-top: 10px;
      }
      
      input {
        width: 100%;
        @include box-sizing(border-box);
        font-family: $default-font;
        margin-top: 5px;
      }
      
    }
    
    &.forge-designer-add-page-dialog, 
    &.forge-designer-add-content-dialog {
      p {
        font-style: italic;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      
      label {
        margin-left: 5px;
      }
    }
    
    &.forge-designer-select-template-dialog {
      p {
        font-style: italic;
        margin-top: 5px;
      }
  
      .templates {
        
        margin-top: 10pt;
        max-height: 250px;
        overflow-y: scroll;
         
        .template {
          padding: 10px;
          cursor: pointer;
          background: #f0f0f0;
          margin-bottom: 5px;
          
          .image-container {
            width: 85px;
            height: 85px;
            overflow: hidden;
            display: inline-block;
          }
          
          img {
            opacity: 0.75;
            min-width: 85px;
            max-width: 85px;
          }
          
          &:hover {
            background: $title-color;
            color: #fff;
          }
          
          &:hover img {
            opacity: 1;
          }

          label {
            font-weight: bold;
            margin-left: 10px;
            vertical-align: top;
          }
        }
      }
      
    }
  }
}
  
