@charset "utf-8";
@import "vars";
@import "compass";
@import "styles";

$menu-button-color: #fff;
$menu-button-background: rgb(71,176, 167);
$menu-button-border-size: 4px;
$menu-button-border-color: darken($menu-button-background, 10%);
$menu-button-background-hover: darken($menu-button-background, 10%);
$menu-button-padding: 25px;
$selected-background-color: lighten(rgba(71, 176, 176, 0.90), 30%);

.forge-list-header-row {
  border-bottom: 5px solid #47b0b0;
}

.forge-list-header-row h2 {
  @include header-2;
  color: $title-color;
}

.forge-list-header-row a {
  font-size: 16px;
  color: $title-color;
  font-family: $default-font;
}

.forge-menu {
  position: relative;
}

.forge-menu-items {
  display: none;
}

.forge-menu>a{
  @include header-2;
  color: $menu-button-color;
  background: $menu-button-background;
  border: $menu-button-border-size solid $menu-button-border-color;
  border-radius: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
  vertical-align: top;
  padding-left: $menu-button-padding;
  width: 100%;
  @include box-sizing(border-box);
}

.forge-menu-help{
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  display: inline-block;
  padding-top: 6px;
  width: 100%;
  @include box-sizing(border-box);
}

.forge-menu>a:before {
  content: '+';
  padding-right: 8px; 
}

.forge-menu-open>a,
.forge-menu:hover>a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
  padding-bottom: 7px;
}

.forge-menu-open .forge-menu-items,
.forge-menu:hover .forge-menu-items {
  display: block;
  position: absolute;
  border-left: $menu-button-border-size solid $menu-button-border-color;
  border-right: $menu-button-border-size solid $menu-button-border-color;
  border-bottom: $menu-button-border-size solid $menu-button-border-color;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: $menu-button-background;
  z-index: 9999;
  width: 100%;
  @include box-sizing(border-box);
}

.forge-menu-open .forge-menu-items a,
.forge-menu:hover .forge-menu-items a {
  color: $menu-button-color;
  padding-left: $menu-button-padding + 18px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  font-family: $default-font;
  font-size: 16px;
  text-decoration: none;
}

.forge-menu-open .forge-menu-items a:hover,
.forge-menu:hover .forge-menu-items a:hover {
  background: $menu-button-background-hover;
}


.forge-material {
  position: relative;
}

.forge-material-open,
.forge-material:hover {
  background: $selected-background-color;
}

.forge-material-actions {
  max-height: 0px;
  position: absolute;
  z-index: 9;
  background: $selected-background-color;
  overflow: hidden;
  @include transition-property(height);
  @include transition-duration(0s);
  @include transition-delay(0s);
  @include box-sizing(border-box); 
  width: 100%;
  @include box-sizing(border-box);
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.forge-material-open .forge-material-actions,
.forge-material:hover .forge-material-actions {
  max-height: 180px;
  @include transition-property(max-height);
  @include transition-duration(1s);
  @include transition-delay(0.5s);
  @include transition-timing-function (ease-in);
}

.forge-material-actions a {
  text-decoration: none;
  color: $default-color;
}
  

.forge-material-actions img {
  vertical-align: top;
}

.forge-material-icon {
  vertical-align: top;
}

.forge-material-title, .forge-material-date, .forge-material-creator {
  font-size: 12px;
  font-family: $default-font;
  text-decoration: none;
}

.forge-material-title-container, .forge-material-creator-container, .forge-material-date-container {
  line-height: 16px;
}

.forge-material-title {
  font-weight: bold;
  margin-right: 5px;
}

.forge-material-title, .forge-material-date {
  color: $default-color;
}

.forge-material-creator {
  color: blue;
}

.forge-material-date {
  font-size: 10px;
}

.forge-material-star {
  @include background-image(url('#' + '{resource["novus:gfx/icons/10x10/forge/material-star.png"]}'));
  width: 10px;
  height: 10px;
  display: inline-block;
}

.forge-material-starred {
  @include background-image(url('#' + '{resource["novus:gfx/icons/10x10/forge/material-starred.png"]}'));
}

/* jQuery UI */

.forge-print-material-pdf-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}

.forge-print-material-pdf-dialog .forge-print-material-pdf-print-style {
  margin-top: 8px;
  font-size: 14px;
}

.forge-print-material-pdf-dialog .forge-print-material-pdf-print-style label {
  font-weight: bold;
  padding-left: 8px;  
}

/* Move dialog, Copy dialog */

.forge-move-material-dialog p, 
.forge-copy-material-dialog p, 
.gamelibrary-manage-file-upload-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.forge-move-material-list,
.forge-copy-material-list {
  overflow: auto;
  overflow-y: scroll;
  height: 450px;
}

.forge-move-material-list-item,
.forge-copy-material-list-item {
  clear: both;
  margin-bottom: 8px;
  padding: 8px;
  cursor: pointer;
  height: 48px;
}

.forge-move-material-list-item:hover,
.forge-copy-material-list-item:hover {
  background-color: $selected-background-color;
}

.forge-move-material-list-item.forge-move-material-list-item-disabled,
.forge-copy-material-list-item.forge-copy-material-list-item-disabled {
  background-color: #ddd;
  cursor: default;
  opacity: 0.75;
}

.forge-move-material-list-item-icon-parent,
.forge-copy-material-list-item-icon-parent {
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  @include background-image(url('#' + '{resource["novus:gfx/icons/48x48/forge/folder-go-up.png"]}'));
}

.forge-move-material-list-item-icon-folder,
.forge-copy-material-list-item-icon-folder {
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  @include background-image(url('#' + '{resource["novus:gfx/icons/48x48/forge/icon-folder.png"]}'));
}

.forge-move-material-list-item-info,
.forge-copy-material-list-item-info {
  padding-left: 8px;
  margin-left: 48px;
}


.forge-move-material-list-item-title,
.forge-move-material-list-modified,
.forge-move-material-list-creator,
.forge-copy-material-list-item-title,
.forge-copy-material-list-modified,
.forge-copy-material-list-creator {
  font-family: $default-font;
  color: $default-color;
  font-size: 12px;
  display: block;
  background-image: none;
  display: block;
}

.forge-move-material-list-item-title,
.forge-copy-material-list-item-title {
  font-weight: bold;
}

.forge-move-material-list-modified,
.forge-copy-material-list-modified {
  font-size: 10px;
}

.forge-move-material-parents,
.forge-copy-material-parents {
  border: 1px inset #aaa;
  padding: 8px;
  margin-bottom: 8px;
}

.forge-move-material-parent,
.forge-copy-material-parent {
  display: inline-block;
  margin-right: 8px;
  color: $default-color;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $default-font;
  font-weight: bold;
  cursor: pointer;
}

.forge-move-material-parent:after,
.forge-copy-material-parent:after {
  padding-left: 8px;
  content: '>>';
}

.forge-move-material-parent:last-child,
.forge-copy-material-parent:last-child {
  color: $title-color;
}

.forge-move-material-parent:last-child:after,
.forge-copy-material-parent:last-child:after {
  content: '';
}

/* Share dialog */

.forge-share-material-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}

.forge-share-material-dialog h4 {
  @include header-4;
  color: $title-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forge-share-material-publicity-field {
  height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.forge-share-material-publicity-field label {
  font-size: 12px;
  font-family: $default-font;
  font-weight: bold;
  margin-left: 4px;
}

.forge-share-material-url input[type="text"] {
  @include box-sizing(border-box); 
  width: 100%;
}

textarea {
  @include box-sizing(border-box); 
  width: 100%;
  height: 80px;
}

.tagsinput {
  @include box-sizing(border-box); 
}

.forge-share-material-collaborator {
  height: 20px;
  clear: both;
  margin-top: 4px;
  margin-bottom: 4px;
}

.forge-share-material-collaborator label {
  font-family: $default-font;
  font-size: 12px;
}

.forge-share-material-collaborator select {
  float: right;
}

.forge-share-material-invite p {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.forge-share-material-invite input[type="text"] {
  @include box-sizing(border-box); 
  width: 100%;
}

/* Create Folder */

.forge-create-folder-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.forge-create-folder-dialog  .forge-create-folder-name {
  @include box-sizing(border-box); 
  width: 100%;
}