@import "vars";
@import "compass";
@import "styles";

h2 {
  @include header-2;
  color: $title-color;
}

h3 {
  @include header-3;
}

.forge-import-google-drive-icon {
  height: 16px;
  width: 16px;
  vertical-align: top;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center 2px;  
  margin-left: 5px;
}

.forge-import-google-drive-icon-folder {
  background-image: url("https://ssl.gstatic.com/docs/doclist/images/collectionsprite_1.png");
  background-position: -4px 2px;
}

.forge-import-google-drive-icon-spreadsheet {
  background-image: url("https://ssl.gstatic.com/docs/doclist/images/icon_9_spreadsheet_list.png");
}

.forge-import-google-drive-icon-document {
  background-image: url("https://ssl.gstatic.com/docs/doclist/images/icon_9_document_list.png");
}

.forge-import-google-drive-icon-drawing {
  background-image: url("https://ssl.gstatic.com/docs/doclist/images/icon_9_drawing_list.png");
}

.forge-import-google-drive-icon-presentation {
  background-image: url("https://ssl.gstatic.com/docs/doclist/images/icon_9_presentation_list.png");
}

.forge-import-google-drive-icon-file {
  background-image: url("https://ssl.gstatic.com/docs/doclist/images/icon_8_document_list.png");
}

.forge-import-google-drive-file-name, .forge-import-google-drive-folder-name {
  font-family: $default-font;
  color: $default-color;
  font-size: 14px;
  text-decoration: none;
}

.forge-import-google-drive-button {
  color: $default-color;
  font-family: $title-font;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.forge-import-google-drive-button:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}