@import "vars";
@import "compass";
@import "styles";

$header-background-color: #000;
$header-text-color: #fff;
$header-background-color-hover: #fff;
$header-text-color-hover: #000;
$selected-background-color: lighten(rgba(71, 176, 176, 0.90), 30%);

/* Generic */

.forge-material-panel h2 {
  @include header-2;
  color: $title-color;
}

/* Panels */

.forge-button-panel {
  @include generic-panel;
}

.forge-material-panel {
  display: table;
  background-color: $panel-background-color;
  margin-top: 10px;
}

/* Header */

.forge-search-container {
  position: relative;  
}

.forge-search-loading {
  background: url('#' + '{resource["novus:gfx/layout/loader-bw.gif"]}') no-repeat center center;
  width: 16px;
  position: absolute;
  top: 1px;
  bottom: 0px;  
  right: 5px;
}

.forge-search {
  margin-right: 120px;
  font-size: 16px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 5px;
  @include border-radius(12px);
  @include box-sizing(border-box); 
  width: 100%;
  border: none;
}

.forge-search-result {
  position: absolute;
  width: 100%;
  background: #000;
  padding: 8px;
  margin-top: 8px;
  @include box-sizing(border-box); 
  width: 100%;
}

.forge-search-result a {
  padding: 8px;  
  text-decoration: none;
  font-family: $default-font;
  color: $header-text-color;
  @include box-sizing(border-box); 
  width: 100%;
  display: block;
  font-size: 14px;
}

.forge-search-result a:hover {
  background: $header-background-color-hover;
  color: $header-text-color-hover;
}

.forge-search-no-result {
  font-family: $default-font;
  color: $header-text-color;
  padding: 8px;
  font-size: 14px;
}

/* Materials */

.forge-material-list-title {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 16px;  
  border-bottom: 5px solid $title-color;
}
.forge-material-list-title h2 {
  display: inline;
}

.forge-material-list-title a {
  font-size: 16px;
  color: $title-color;
  font-family: $default-font;
  float: right;
}
  
.forge-material {
  margin-bottom: 8px;
  display: inline-table;
  width: 290px;
  padding: 8px;
  position: relative;
}

.forge-materials-container {
  margin-left: 40px;
}

.forge-material-icon {
  display: table-cell;
  vertical-align: top;
  width: 48px;
  line-height: 0px;
  padding-left: 8px;
}

.forge-material-info {
  display: table-cell;
  vertical-align: top;
  padding-left: 8px;
}

.forge-material-title, .forge-material-date, .forge-material-creator {
  font-size: 12px;
  font-family: $default-font;
  text-decoration: none;
}

.forge-material-title-container, .forge-material-creator-container, .forge-material-date-container {
  line-height: 12px;
  padding-top: 3px;
}

.forge-material-title {
  font-weight: bold;
}

.forge-material-title, .forge-material-date {
  color: $default-color;
}

.forge-material-creator {
  color: blue;
}

.forge-material-date {
  font-size: 10px;
}

.forge-material-star {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  text-shadow: 0 0 1px #000000;
  position: absolute;
  margin-top: -2px;
  margin-left: 8px;
  outline: none;
  text-transform: uppercase;
}

.forge-material-star:after {
  content: '☆';
  color: black;
}

.forge-material-starred:after {
  content: '★';
  color: orange;
}

.forge-material:hover {
  background: $selected-background-color;
}

.forge-material-actions {
  height: 0px;
  position: absolute;
  z-index: 9999;
  background: $selected-background-color;
  left: 0px;
  margin-top: 56px;
  width: 306px;
  overflow: hidden;
  @include transition-property(height);
  @include transition-duration(0s);
  @include transition-delay(0s);
  @include box-sizing(border-box); 
}

.forge-material-actions > div {
  margin-left: 47px;
}

.forge-material-actions img {
  vertical-align: top;
}

.forge-material-actions label {
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer; 
  vertical-align: top;
  padding-top: 3px;
  display: inline-block;
}

.forge-material-actions a {
  text-decoration: none;
  color: $default-color;
}
  
.forge-material:hover .forge-material-actions {
  height: 100px;
  @include transition-property(height);
  @include transition-duration(1s);
  @include transition-delay(0.25s);
}

/* jQuery UI */

.forge-print-material-pdf-dialog p {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}

.forge-print-material-pdf-dialog .forge-print-material-pdf-print-style {
  margin-top: 8px;
  font-size: 14px;
}

.forge-print-material-pdf-dialog .forge-print-material-pdf-print-style label {
  font-weight: bold;
  padding-left: 8px;  
}