@import "vars";
@import "compass";
@import "styles";

$topic-border-color: rgb(71, 176, 176);

h3 {
  @include header-2;
  
  a {
    color: $default-color;
    text-decoration: none;
  }
}

h5 {
  color: $default-color;
  font-family: $default-font;
  font-size: 16px;
  font-weight: bold;
  
  a {
    color: $default-color;
    text-decoration: none;
  }
}

.forum {
  
  .forum-topic-count,
  .forum-last-message,
  .topic-post-count, 
  .topic-last-message {
    color: $default-color;
    font-family: $default-font;
    font-size: 13px;
    font-weight: bold;
  }

  .topic-unread-count {
    color: $title-color;
    
    &:before {
      content: '('
    }
    
    &:after {
      content: ')'
    }
  }
    
  .more-link {
    color: $default-color;
    font-family: $default-font;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }
  
  .topic {
    
    border-bottom: 1px solid $topic-border-color;
    padding-top: 15px;
    padding-bottom: 15px;
    
    .topic-start-info {
      color: $default-color;
      font-family: $default-font;
      text-transform: uppercase; 
      font-size: 10px;
      
      a {
        text-decoration: none;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}

.forum-new-topic-login-link,
.forum-view-new-topic-link { 
  color: $default-color;
  font-family: $default-font;
  text-transform: uppercase; 
  font-size: 12px;
  text-decoration: none;
}

.forum-view-new-topic-editor-container {
  label {
    color: $default-color;
    font-family: $default-font;
    text-transform: uppercase; 
    font-size: 12px;
  }
  
  input[type="text"] {
    width: 100%;
    @include box-sizing(border-box);   
  }
  
  input[type="submit"] {
    color: $default-color;
    font-family: $title-font;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    background: #000;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
}