@import "vars";
@import "compass";
@import "styles";

$header-background-color: #000;
$header-text-color: #fff;
$table-border-color: rgba(255, 255, 255, 0);

/* Body */

body {
  background: url('#' + '{resource["novus:gfx/layout/background.jpg"]}') repeat-y top left;
  background-size: 100% auto;
}

/* Panels*/

.forum-panel {
  background-color: $panel-background-color;
  padding-top: 19px;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

/* Header */

.forum-header {
  background-color:  $header-background-color;
  padding-bottom: 27px;
  padding-top: 18px;
  padding-left: 24px;
  padding-right: 120px;
  @include box-sizing(border-box); 
}

.forum-navigation-item,
.forum-navigation-separator {
  color: $title-color;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $default-font;
  font-weight: bold;
  margin-right: 8px;
  text-decoration: none;
}

.forum-navigation-separator:after {
  content: '>>';
}

.forum-description {
  margin-bottom: 30px;
}

.forum-description-title {
  @include header-1;
  color: $header-text-color;
}

.forum-description-text {
  font-size: 16px;
  font-family: $default-font;
  color: $header-text-color;
}

/* Forums */

.forum-view-forum-name {
  @include header-2;
  margin-top: 26px;
  margin-left: 16px;
}

.forum-view-forum-name a {
  text-decoration: none;
  color: $default-color;
}

.forum-view-forum-description {
  font-size: 16px;
  font-family: $default-font;
  color: $default-color;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 250px;
}

.forum-view-forum-activity-container {
  float: right;
  text-align: right;
  margin-top: -58px;
}

.forum-view-forum-topic-count, .forum-view-forum-last-message-date {
  font-size: 13px;
  font-family: $default-font;
  color: $default-color;
  font-weight: bold;
}

.forum-view-forum-topic {
  display: table;
}

.forum-view-forum-topic:last-child {
  border-bottom: 1px solid $table-border-color;
}

.forum-view-forum-topic-name {
  font-size: 16px;
  font-family: $default-font;
  margin-bottom: 10px;
  font-weight: bold;
}

.forum-view-forum-topic-name a {
  text-decoration: none;
  color: $default-color;
}

.forum-view-forum-topic-name-container, .forum-view-forum-topic-activity-container {
  padding: 15px;
  border-top: 1px solid $table-border-color;
  border-left: 1px solid $table-border-color;
  display: table-cell;
}

.forum-view-forum-topic-activity-container {
  border-right: 1px solid $table-border-color;
}

.forum-view-forum-topic-name-container {
  width: 672px;
}

.forum-view-forum-topic-activity-container {
  width: 248px;
}

.forum-view-forum-topic-label, .forum-view-forum-topic-created {
  font-size: 12px;
  font-family: $default-font;
  color: $default-color;
  text-transform: uppercase;
  padding-right: 4px;
}

.forum-view-forum-topic-author {
  text-decoration: none;
  font-size: 12px;
  font-family: $default-font;
  color: #00f;
  text-transform: uppercase;
  padding-right: 4px;
}

.forum-view-forum-topic-post-count, .forum-view-forum-topic-last-message-date {
  font-size: 13px;
  font-family: $default-font;
  color: $default-color;
  font-weight: bold;
}

.forum-index-more-topics {
  font-size: 16px;
  font-family: $default-font;
  color: $default-color;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
  margin-left: 16px;
}