@charset "utf-8";
@import "vars";
@import "compass";
@import "styles";

$share-button-width: 66px;
$share-button-padding: 5px;

/* General */

.index-box {
  background-color: $panel-background-color;
  padding: 20px;
  position: relative;
}

h3 {
  @include header-2;
}

h3 a {
  color: $default-color;
  text-decoration: none;
}

/* Header */

.gamelibrary-propose-game-link {
  float: right;
  font-family: $title-font;
  font-size: 22px; 
  color: $title-color;
  text-decoration: none;
  margin-top: 4px;
}

/* Publications */

.gamelibrary-publication-image-link {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

.gamelibrary-publication-image-link img {
  vertical-align: top;
}

.gamelibrary-publication-tags {
  margin-top: 18px;
  margin-bottom: 14px;
}

.gamelibrary-publication-tag {
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 10px;
  color: $default-color;
  text-decoration: none;
}

.gamelibrary-publication-detail {
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase; 
}

.gamelibrary-publication-detail label {
  margin-right: 8px;
  font-weight: bold;
}

.gamelibrary-publication-detail a {
  text-decoration: none;
  color: $default-color;
}

.gamelibrary-publication-creative-commans-license-container {
  margin-top: 8px;
  display: inline-block;
}

.gamelibrary-publication-author {
  margin-right: 6px;
  color: $default-color;
  text-decoration: none;
}

.gamelibrary-publication-description {
  font-family: $default-font;
  font-size: 13px;
}

/* Share */

.gamelibrary-publication-share-container {
  margin-top: 15px;
  text-align: right;
  display: inline-block;
  height: 0px;
}

.gamelibrary-publication-share-container .gamelibrary-publication-share-button {
  width: ($share-button-width + ($share-button-padding * 2)) !important;
}

.gamelibrary-publication-share-container .gamelibrary-publication-share-button .entypo-export {
  background: #333;
  color: #fff;
  padding: 5px;
  font-family: $title-font;
  font-size: 12px; 
  margin: 0px;
  width: $share-button-width !important;
  display: block;
}

.gamelibrary-publication-share-container .gamelibrary-publication-share-button .entypo-export span {
  display: inline-block;
  width: 42px;
  text-align: center;
}

.gamelibrary-publication-share-container .active {
  position: absolute;
}

.gamelibrary-publication-action,
.gamelibrary-publication-comments {
  color: $default-color;
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase; 
  text-decoration: none;
}

/* Shopping Cart */

.gamelibrary-mini-shopping-cart-view {
  color: $default-color;
  font-family: $default-font;
  font-size: 16px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  padding-left: 16px;
  text-transform: none;
}

.gamelibrary-mini-shopping-cart-empty {
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
}

.gamelibrary-mini-shopping-cart-item {
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
}

.gamelibrary-mini-shopping-cart-item-count {
  display: inline-block;
}

.gamelibrary-mini-shopping-cart-item-count:after {
  content: 'x';
  margin-left: 3px;
  margin-right: 3px;
}

.gamelibrary-mini-shopping-cart-item-name {
  display: inline-block;
}

.gamelibrary-mini-shopping-cart-item-price {
  display: inline-block;
  float: right;
}

.gamelibrary-mini-shopping-cart-items:after {
  content: '------------------------------';
}

.gamelibrary-mini-shopping-cart-summary {
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  display: block;
}

.gamelibrary-mini-shopping-cart-summary label {
  font-weight: bold;
}

.gamelibrary-mini-shopping-cart-summary span { 
  float: right;
}

/* Categories */

.gamelibrary-categories-title {
  @include header-2;
  margin-bottom: 12px;
}

.gamelibrary-category {
  display: block;
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
}

.gamelibrary-category:before {
  content: '»';
}

.gamelibrary-category-name {
  color: $default-color;
  text-decoration: none;
  margin-left: 7px;
}

@media screen and (max-width: 360px) {
  .gamelibrary-publication h3 {
    max-width: 150px;
    word-wrap: break-word;
  }
  
  .gamelibrary-publication .gamelibrary-publication-tags {
    max-width: 150px;
    word-wrap: break-word;
  }
  
  .gamelibrary-publication-image-link img {
    max-width: 150px;
  }
  
}

@media screen and (max-width: 959px) {
  .gamelibrary-publication-share-container .active {
    right: 0px;  
  }
}
