@import "vars";
@import "compass";
@import "styles";

/* Generic */

h3 {
  @include header-3;
  color: $title-color;
  margin-bottom: 18px;
}

/* Lists */

.gamelibrary-manage-orders-list {
  color: $default-color;
  font-family: $default-font;
  font-size: 12px;
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  margin-bottom: 40px;
}

.gamelibrary-manage-orders-list th {
  font-weight: bold;
  padding: 4px;
}

.gamelibrary-manage-orders-list td {
  padding: {
    top: 4px;
    bottom: 4px;
    left: 8px;
  }
  background: rgba(200, 200, 200, 0.3);
}

.gamelibrary-manage-orders-list td a {
  color: $default-color;
  text-decoration: none; 
}

.gamelibrary-manage-orders-actions a {
  color: $default-color;
  text-transform: uppercase; 
  text-decoration: none;
  margin-right: 8px;
}