@import "vars";
@import "compass";
@import "styles";

$header-background-color: #000;
$header-text-color: #fff;
$entry-color: #313133;

h1 {
  font-family: $default-font;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;  
  display: inline-block;
  margin-bottom: 33px;
}

h3 {
  @include header-3;
  color: $title-color;
  margin-top: 13px;
  margin-bottom: 13px;
}

.gamelibrary-order-customer-field, .gamelibrary-order-delivery-address-field, .gamelibrary-order-notes {
  font-family: $default-font;
  color: $entry-color;
  font-size: 13px;
}

.gamelibrary-order-item-labels, .gamelibrary-order-item, .gamelibrary-order-history-event {
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  font-family: $default-font;
  color: $entry-color;
  font-size: 13px;
}

.gamelibrary-order-created-history-event {
  border-top: 1px solid #000;
}

.gamelibrary-order-total-label {
  margin-top: 30px;
}

.gamelibrary-order-total, .gamelibrary-order-tax-amount,
.gamelibrary-order-total-label, .gamelibrary-order-tax-label {
  font-family: $default-font;
  color: $entry-color;
  font-size: 13px;
  text-transform: uppercase;
}