@import "vars";
@import "compass";
@import "styles";
@import "//static.forgeandillusion.net/libs/font-awesome/4.6.3/css/font-awesome.min.css";

.gamelibrary-propose-game-form-section input[type="text"], 
.gamelibrary-propose-game-form-section input[type="number"], 
.gamelibrary-propose-game-form-section input[type="file"],  
.gamelibrary-propose-game-form-section input[type="url"], 
.gamelibrary-propose-game-form-section textarea, 
.gamelibrary-propose-game-form-section select,
.gamelibrary-propose-game-form-section .tagsinput {
  font-size: 14px;
  font-family: $default-font;
  width: 100%; 
  @include box-sizing(border-box);
}

.gamelibrary-propose-game-form-section textarea {
  height: 120px;
}

.gamelibrary-propose-game-form-section-license .hint {
  color: $default-color;
  font-family: $default-font;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;

  &::before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    padding-right: 5px;
  }
}

.gamelibrary-propose-game-form-section .creative-commons-attribute {
  white-space: nowrap;
  
  label {
    margin-left: 8px;
    margin-right: 8px;
    font-weight: normal;
  }
}

.gamelibrary-propose-game-form-section .creative-commons-container>label {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.gamelibrary-propose-game-form-section label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
}

.info {
  display: inline;
  font-size: 11px;
  font-family: $default-font;
  margin-left: 2px;
}

.info:before {
  content: '(';
}

.info:after {
  content: ')';
}

.gamelibrary-propose-game-send {  
  color: $default-color;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.gamelibrary-propose-game-send:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}

.upload-field-file {
  margin-top: 5px;
  position: relative;

  &.loading .upload-field-file-progress:after {
    color: transparent;
    content: ".";
    display: block;
    font-size: 0px;
    height: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 20px;
    top: 0px;
    background: url('/theme/gfx/layout/loader-bw.gif') no-repeat right center;
  }
  
  &.done .upload-field-file-progress:after {
    color: green;
    content: "✓";
    display: block;
    font-size: 18px;
    height: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 20px;
    top: 0px;
  }
  
}

.upload-field-file-progress {
  height: 20px;
  margin-right: 20px;
}

.upload-field-file-name {
  margin-top: -20px;
  color: $default-color;
  font-family: $default-font;
  text-align: center;
  font-size: 12px;
  padding-top: 2px;
  height: 18px;
  overflow: hidden;
}

div.tagsinput span.tag {
  background: #000;
  border: 1px solid #000;
  border-radius: 8px;
  color: #fff;
}

div.tagsinput span.tag a {
  color: #fff;
}