@import "vars";
@import "compass";
@import "styles";

$information-text-color: rgb(255, 255, 255);
$information-background-color: darken($panel-background-color, 80%);

h3 {
  @include header-2;
}

h3 a {
  color: $default-color;
  text-decoration: none;
}

.view-header-description-title {
  line-height: 16px; 
  padding-bottom: 10px;
}

.gamelibrary-cart-back-link {
  font-size: 16px;
  font-family: $default-font;
  color: $header-text-color;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

.gamelibrary-cart-back-link:after {
  content: '>>';
  padding-left: 8px;
}

.gamelibrary-cart-information {
  color: $information-text-color;
  background-color: $information-background-color;
  text-align: center;
  font-size: 12px;
  font-family: $default-font;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
}

.gamelibrary-cart-empty-message {
  font-family: $default-font;
  font-size: 14px;
}

.gamelibrary-cart-action {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  background: #eee;
  border-radius: 2px;
  border: 1px solid #999;
}

.gamelibrary-cart-action:last-child {
  margin-right: 0px;
}

span.gamelibrary-cart-action {
  color: #bbb;
  border: 1px solid #bbb;
  cursor: default;
}

.gamelibrary-cart-action-dec-count, .gamelibrary-cart-action-inc-count {
  color: #000;
  text-decoration: none;
  font-size: 10px;
  font-family: courier;
  padding: 3px 4px;
}

.gamelibrary-cart-action-dec-count:before {
  content: '-';
}

.gamelibrary-cart-action-inc-count:before {
  content: '+';
}

.gamelibrary-cart-action-remove {
  width: 16px;
  height: 16px;
  background-image: url("/fni/javax.faces.resource/gfx/icons/16x16/gamelibrary/cart-item-delete.png.jsf?ln=novus");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.gamelibrary-cart-item-labels, .gamelibrary-cart-item, .gamelibrary-cart-summary-field {
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase;
}

.gamelibrary-cart-item-labels, .gamelibrary-cart-item {
  border-bottom: 1px solid #aaa;
}

.gamelibrary-cart-delivery-method,
.gamelibrary-cart-field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
}

.gamelibrary-cart-field input[type="text"], 
.gamelibrary-cart-field input[type="number"], 
.gamelibrary-cart-field textarea, 
.gamelibrary-cart-field select {
  font-size: 14px;
  font-family: $default-font;
  width: 100%; 
  @include box-sizing(border-box);
}

.gamelibrary-cart-field textarea {
  height: 120px;
}

.gamelibrary-cart-summary-field-total {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 25px;
}

/* Submit */

.gamelibrary-cart-submit {
  @include header-3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
}

.gamelibrary-cart-submit:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}