@import "vars";
@import "compass";
@import "styles";
@import "//cdn.metatavu.io/libs/font-awesome/4.6.3/css/font-awesome.min.css";

h3 {
  @include header-3;
  color: $title-color;
}

.field input[type="text"], 
.field input[type="number"], 
.field input[type="url"],  
.field textarea, 
.field select {
  font-size: 14px;
  font-family: $default-font;
  width: 100%; 
  @include box-sizing(border-box);
}

.field textarea {
  height: 120px;
}

.field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
}

.tag, .author {
  background: #000;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-family: $default-font;
  font-size: 12px;
  margin-right: 4px;
  white-space: nowrap;
  word-wrap: normal;
  margin-bottom: 5px;
  display: inline-block;
}


.gamelibrary-edit-publication-new-tag-link, 
.gamelibrary-edit-publication-add-author-link {
  color: $default-color;
  font-family: $default-font;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.author a, .tag a {
  color: #fff;
  font-size: 12px;
  margin-left: 8px;
  font-weight: bold;
  text-decoration: none;
}

.author a:after, .tag a:after {
  content: 'X';
}

.author a:hover:after, .tag a:hover:after {
  color: #f00; 
}

.gamelibrary-edit-publication-save {  
  margin-top: 20px;
  color: $default-color;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.gamelibrary-edit-publication-save:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}

.license-field .hint {
  color: $default-color;
  font-family: $default-font;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;

  &::before {
    content: "ÔÅö";
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    padding-right: 5px;
  }
}

.field .creative-commons-attribute {
  white-space: nowrap;

  label {
    margin-left: 8px;
    margin-right: 8px;
    font-weight: normal;
  }
}