@import "vars";
@import "compass";
@import "styles";
@import "illusion-registration-form-defaults";

.alpaca-form {
  @include registration-form-defaults;
  
  button {
    @include header-4;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #000;
    color: #fff;
    border: 0px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
  }
  
}