@import "vars";
@import "compass";
@import "styles";

/* Panels */ 

.illusion-intro-panel {
  @include generic-panel;
  position: relative;
  background: #fff;
}

/* Intro */

.illusion-intro-text {
  padding: 1in;
}

.illusion-intro-text *:first-child {
  margin-top: 0px;
}

.illusion-intro-text {
  @include html-default-styles;
}

.illusion-intro-login-link {
  color: $default-color;
  font-family: $default-font;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;  
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.illusion-intro-join {
  @include header-3;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #0a0;
  color: #fff;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  left: 30px;
  bottom: 30px;
}