@import "vars";
@import "compass";
@import "styles";

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

/* Header */

.view-header-description-title a {
  font-size: 16px;
  font-family: $default-font;
  color: $header-text-color;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

.view-header-description-title a:after {
  content: '>>';
  padding-left: 8px;
}

/* Forms */

.illusion-event-settings-field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
  margin-top: 4px;
}

.illusion-event-settings-field input[type="text"], 
.illusion-event-settings-field input[type="number"], 
.illusion-event-settings-field select {
  width: 300px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
}

.illusion-event-settings-field textarea {
  height: 120px;
  width: 300px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
}

.illusion-event-settings-save {
  @include header-4;
  width: 256px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}