@import "vars";
@import "compass";
@import "styles";

.illusion-event-manage-pages {
  margin-top: 20px;
}

.illusion-event-manage-pages-new-page {  
  color: $default-color;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.illusion-event-manage-pages-new-page:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}

.illusion-page-visibility-dialog p {
  font-style: italic;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.illusion-page-visibility-dialog label {
  margin-left: 5px;
}

.illusion-page-visibility-field {
  padding-top: 2px;
}

.illusion-page-visibility-dialog-groups {
  margin-left: 10px;
  margin-top: 3px;

  .illusion-page-visibility-dialog-group {
    padding-top: 2px;
  }
}
