@import "vars";
@import "compass";
@import "styles";

$participant-image-size: 90px;
$participant-lens-color-start: rgba(255, 255, 255, 0);
$participant-lens-color-end: rgba(255, 255, 255, 0.5);

/* Panel */ 

.illusion-group-panel {
  @include generic-panel;
  position: relative;
}

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

/* Participants */

.illusion-group-participants { 
  position: absolute;
  right: -$participant-image-size / 2;
}

.illusion-group-participant {
  width: 90px;
  margin-bottom: 8px;
  z-index: 99;
  position: relative;
}

.illusion-group-participant .ui-menu {
  margin-top: -40px;
  margin-left: 60px;
  position: absolute;
}

.illusion-group-participant .ui-menu li a {
  white-space: nowrap;
}

.illusion-group-participant:hover .illusion-group-participant-image-cover {
  display: none;
}

.illusion-group-participant-image-container {
  position: relative;
  width: 90px;
}

.illusion-group-participant-image {
  border-radius: $participant-image-size / 2;
}

.illusion-group-participant-image-cover {
  @include background-image(radial-gradient(center, ellipse cover, $participant-lens-color-start, $participant-lens-color-end));
  width: $participant-image-size;
  height: $participant-image-size;
  position: absolute;
  top: 0px;
  border-radius: $participant-image-size / 2;
}

/* Chat messages */

.illusion-group-chat-messages {
  height: 600px;
  overflow: auto;
}

.illusion-group-chat-message {
  background: #eee;
  padding: 8px;
  margin: 8px;
  position: relative;
  min-height: 52px;
  border: 1px solid #aaa;
}

.illusion-group-chat-message-avatar {
  position: absolute;
  right: 8px;
  top: 28px;
  border-radius: 8px;
}

.illusion-group-chat-message-from {
  font-weight: bold;
}

.illusion-group-chat-message-sent {
  float: right;
}

.illusion-group-chat-message-sent, .illusion-group-chat-message-from {
  display: inline-block;
  margin-bottom: 4px;
  color: $default-color;
  font-family: $default-font;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.illusion-group-chat-message-body {
  color: $default-color;
  font-family: $default-font;
  font-size: 14px;
}

.illusion-group-chat-fudge-minus,
.illusion-group-chat-fudge-empty,
.illusion-group-chat-fudge-plus {
  width: 12px;
  height: 12px;
  display: inline-block;	
}

.illusion-group-chat-fudge-minus {
  background: url('#' + '{resource["novus:gfx/icons/12x12/illusion/fudge-die-minus.png"]}') no-repeat center center;
}

.illusion-group-chat-fudge-empty {
  background: url('#' + '{resource["novus:gfx/icons/12x12/illusion/fudge-die-empty.png"]}') no-repeat center center;
}

.illusion-group-chat-fudge-plus {
  background: url('#' + '{resource["novus:gfx/icons/12x12/illusion/fudge-die-plus.png"]}') no-repeat center center;
}

/* Slash */

.illusion-group-chat-splash-container {
  position: absolute;
  width: 920px;
  text-align: center;
  margin-top: 40px;
}

.illusion-group-chat-splash-text {
  font-family: $default-font;
  font-size: 38px;
  color: #e0e;
  text-shadow: -1px 0 rgba(0, 0, 200, 0.4), 0 1px rgba(0, 0, 200, 0.4), 1px 0 rgba(0, 0, 200, 0.4), 0 -1px rgba(0, 0, 200, 0.4);
}

.illusion-group-chat-input {
  margin: 8px;
  width: 902px;
  height: 120px;
  border: 1px solid #aaa;
}