@import "vars";
@import "compass";
@import "styles";

$selected-background-color: lighten(rgba(71, 176, 176, 0.90), 30%);

/* Panels */ 

.illusion-event-materials-panel {
  @include generic-panel;
  position: relative;
  background: #fff;
}

.illusion-event-materials {
  margin-top: 20px;
}