@import "vars";
@import "compass";
@import "styles";

/* Panel */ 

.illusion-create-event-panel {
  @include generic-panel;
}

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

/* Header */

.view-header-description-title a {
  font-size: 16px;
  font-family: $default-font;
  color: $header-text-color;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

.view-header-description-title a:after {
  content: '>>';
  padding-left: 8px;
}

/* Forms */

.illusion-create-event-field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
  margin-top: 4px;
}

.illusion-create-event-field input[type="text"], 
.illusion-create-event-field input[type="number"], 
.illusion-create-event-field select {
  width: 300px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
}

.illusion-create-event-field textarea {
  height: 120px;
  width: 300px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
}

.illusion-create-event-sign-up-fee-field  input[type="number"] {
  width: 232px;
}

.illusion-create-event-sign-up-fee-field select {
  width: 60px;
  margin-left: 8px;
}

.illusion-create-event-field input.datepicker {
  width: 170px;
  border: 1px solid #aaa;
  margin-left: -5px;
  padding: 1px;
  font-size: 14px;
  font-family: $default-font;
  margin-bottom: 8px;
}

.illusion-create-event-field input.timepicker {
  width: 114px;
  border: 1px solid #aaa;
  margin-left: 5px;
  padding: 1px;
  font-size: 14px;
  font-family: $default-font;
  margin-bottom: 8px;
}

.timezone {
  display: inline-block;
  font-size: 11px;
  font-family: $default-font;
  margin-left: 2px;
  vertical-align: middle;
}

.timezone:before {
  content: '(';  
}

.timezone:after {
  content: ')';  
}

.illusion-create-event-save {
  @include header-4;
  width: 256px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}