@charset "utf-8";
@import "vars";
@import "compass";
@import "styles";

$selected-background-color: lighten(rgba(71, 176, 176, 0.90), 30%);
$menu-background: rgba(250, 250, 250, 1);
$menu-active-background: lighten($menu-background, 5%);

h3 {
  margin-top: 10px;
  margin-bottom: 10px;  
}

/* Panels */ 

.illusion-event-participants-panel, .illusion-edit-participant-panel {
  @include generic-panel;
  position: relative;
}

/* Materials */

.illusion-event-participants {
  margin-top: 10px;
}

.illusion-event-participants h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Actions */

.illusion-event-participant-action-menu {
  float: right;
  position: relative;
  min-height: 20px;
}

.illusion-event-participant-action-menu>label {
  color: $default-color;
  font-family: $default-font;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.illusion-event-participant-action-menu>label:after {
  content: '▼';
  margin-left: 5px;
}

.illusion-event-participant-action-menu ul {
  display: none;
  position: absolute;
  white-space: nowrap;
  right: 0px;
  background: $menu-background;
  margin-top: -30px;
  padding-top: 30px;
  padding-right: 10px;
  margin-right: -10px;
}

.illusion-event-participant-action-menu:hover ul,
.illusion-event-participant-action-menu-open ul{
  display: block;
}

.illusion-event-participant-action-menu ul li {
  text-align: right;
  padding: 10px;
  margin-right: -10px;
  padding-right: 20px;
}

.illusion-event-participant-action-menu ul li:hover {
  background: $menu-active-background;
}

.illusion-event-participant-action-menu li a {
  color:$default-color;
  font-family: $default-font;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
  
/* Form */

form label {
  display: block;
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  margin-bottom: 2px;
}

form input[type="text"], form select {
  width: 100%;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
}

.illusion-edit-participant-field {
}

.illusion-edit-participant-avatar {
  width: 100%;
  @include box-sizing(border-box);
}

.illusion-edit-participant-save {
  @include header-3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 15px;
  margin-top: 35px;
  cursor: pointer;
}

.illusion-edit-participant-save:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}

/* Dialogs */

.illusion-event-participants-send-mail-dialog p,
.illusion-event-invite-participants-dialog p {
  font-style: italic;
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.illusion-event-participants-send-mail-dialog label,
.illusion-event-invite-participants-dialog label {
  display: block;
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  margin-bottom: 8px;
}


.illusion-event-participants-send-mail-dialog .illusion-event-participants-send-mail-recipient label {
  display: inline-block;
  margin-left: 8px;
  font-weight: normal;
  margin-bottom: 0px;
}

.illusion-event-invite-participants-dialog .tagsinput {
  @include box-sizing(border-box);
}

.illusion-event-participants-send-mail-dialog input[name="mail-subject"],
.illusion-event-invite-participants-dialog input[name="mail-subject"] {
  width: 100%;
  margin-bottom: 8px;
  @include box-sizing(border-box);
}

.illusion-event-participants-send-mail-dialog textarea[name="mail-content"],
.illusion-event-invite-participants-dialog textarea[name="mail-content"] {
  height: 210px;
  width: 100%;
  @include box-sizing(border-box);
}

.illusion-event-mailing-dialog p,
.illusion-event-inviting-dialog p {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  margin-top: 48px;
}

.illusion-event-mailing-dialog p:after,
.illusion-event-inviting-dialog p:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('#' + '{resource["novus:gfx/layout/loader-bw.gif"]}') no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -32px;
  right: 0px;
  left: 0px;
  width: 100%;
}

