@import "vars";
@import "compass";
@import "styles";

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

/* Header */

.view-header-description-title a {
  font-size: 16px;
  font-family: $default-font;
  color: $header-text-color;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

.view-header-description-title a:after {
  content: '>>';
  padding-left: 8px;
}

/* Forms */

.illusion-event-settings-field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
  margin-top: 4px;
}

.illusion-event-settings-field input[type="checkbox"] {
  margin-top: 5px;
  vertical-align: top;
} 

.illusion-event-settings-genres {
  margin-top: -25px;
  margin-left: 150px;
}

.illusion-event-settings-genre {
  width: 180px;  
  white-space: nowrap;
}

.illusion-event-settings-field-hint {
  font-size: 11px;
  color: #aaa;
  margin-left: 150px;
}

.illusion-event-settings-field input[type="text"], 
.illusion-event-settings-field input[type="number"], 
.illusion-event-settings-field select {
  width: 300px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
}

.illusion-event-settings-field input.datepicker {
  width: 170px;
  margin-left: -5px;
  padding: 1px;
  font-size: 14px;
  font-family: $default-font;
  margin-bottom: 8px;
}

.illusion-event-settings-field input.timepicker {
  width: 121px;
  margin-left: 5px;
  padding: 1px;
  font-size: 14px;
  font-family: $default-font;
  margin-bottom: 8px;
}

.illusion-event-settings-field textarea {
  height: 120px;
  width: 300px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
}

.timezone {
  display: inline-block;
  font-size: 11px;
  font-family: $default-font;
  margin-left: 2px;
  vertical-align: middle;
}

.timezone:before {
  content: '(';  
}

.timezone:after {
  content: ')';  
}

.illusion-event-settings-field input.sign-up-start-date {
  width: 146px;
}

.illusion-event-settings-field input.sign-up-end-date {
  margin-left: 5px;
  width: 145px;
}

.illusion-event-settings-save {
  @include header-4;
  width: 256px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}