@import "vars";
@import "compass";
@import "styles";

$selected-background-color: lighten(rgba(71, 176, 176, 0.90), 30%);

/* Panels */ 

.illusion-members-panel, .illusion-edit-member-panel {
  @include generic-panel;
  position: relative;
}

/* Materials */

.illusion-members {
  margin-top: 10px;
}

.illusion-members h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.illusion-member {
  width: 100%;
  padding: 8px;
  margin-left: -8px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.illusion-member:hover {
  background: $selected-background-color;
}

.illusion-invite-members {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $default-color;
  font-family: $default-font;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.illusion-member-avatar {
  width: 48px;
  line-height: 0px;
  display: inline-block;
  vertical-align: top;
}

.illusion-member h4 {
  margin-left: 10px;  
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}

.illusion-edit-member-avatar {
  float: right;
}

.illusion-edit-member-field {
  width: 288px;
  margin-top: 8px;
}

.illusion-edit-member-panel label {
  display: block;
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  margin-bottom: 2px;
}

.illusion-edit-member-panel input[type="text"], .illusion-edit-member-panel select {
  width: 100%;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
}

/* Submit */

.illusion-edit-member-save {
  @include header-3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 15px;
  margin-top: 35px;
  cursor: pointer;
}

.illusion-edit-member-save:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}

/* Invite players dialog */

.illusion-group-invite-players-dialog p {
  font-style: italic;
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.illusion-group-invite-players-dialog label {
  display: block;
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  margin-bottom: 8px;
}

.illusion-group-invite-players-dialog .tagsinput {
  @include box-sizing(border-box);
}

.illusion-group-invite-players-dialog textarea[name="message"] {
  height: 120px;
  width: 100%;
  @include box-sizing(border-box);
}