@import "vars";
@import "compass";
@import "styles";

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

/* Header */

.view-header-description-title a {
  font-size: 16px;
  font-family: $default-font;
  color: $header-text-color;
  padding-left: 20px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

.view-header-description-title a:after {
  content: '>>';
  padding-left: 8px;
}

/* Forms */

.illusion-event-settings-field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.datepicker, .timepicker {
  width: 100%; 
}

.illusion-event-settings-genre label {
  display: inline-block;
  width: auto;
}

.illusion-event-settings-genre {
  white-space: nowrap;
  display: inline-block;
  min-width: 130px;
}

.illusion-event-settings-field-hint {
  font-size: 11px;
  color: #aaa;
}

.illusion-event-settings-field input[type="text"], 
.illusion-event-settings-field input[type="number"], 
.illusion-event-settings-field select {
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
  width: 100%;
}

.illusion-event-settings-sign-up-fee-info {
  display: inline-block;
  font-size: 11px;
  font-family: $default-font;
  margin-left: 2px;
  vertical-align: middle;
}

.illusion-event-settings-sign-up-fee-info:before {
  content: '(';  
}

.illusion-event-settings-sign-up-fee-info:after {
  content: ')';  
}
.illusion-event-settings-field textarea {
  height: 120px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
  width: 100%;  
}

.timezone {
  display: inline-block;
  font-size: 11px;
  font-family: $default-font;
  vertical-align: middle;
}

.timezone:before {
  content: '(';  
}

.timezone:after {
  content: ')';  
}

.illusion-remove-event {
  @include header-4;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f00;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: right;
}

.illusion-event-settings-save {
  @include header-4;
  width: 256px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}