@import "vars";
@import "compass";
@import "styles";

/* Panels */ 

.illusion-intro-panel {
  @include generic-panel;
  position: relative;
  background: #fff;
}

/* Intro */

.illusion-intro-text {
  padding: 1in;
}

.illusion-intro-text *:first-child {
  margin-top: 0px;
}

.illusion-intro-text {
  @include html-default-styles;
}

.illusion-group-intro-join {
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: right;
}

.illusion-group-intro-join-info {
  color: $default-color;
  font-family: $default-font;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;   
  margin-bottom: 20px;
}

.illusion-group-intro-join-button {
  @include header-3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
}