@import "vars";
@import "compass";
@import "styles";


.alpaca-form {
  
  label {
    font-size: 13px;
    font-family: $default-font;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .alpaca-icon-required {
    display: none;
  }
  
  button {
    @include header-4;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #000;
    color: #fff;
    border: 0px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
  }
  
  input[type="text"], 
  input[type="email"], 
  input[type="number"], 
  textarea, 
  select {
    font-size: 14px;
    font-family: $default-font;
    width: 100%; 
    @include box-sizing(border-box);
  }

}