@import "vars";
@import "compass";
@import "styles";

/* Generic */

.index-box {
  background-color: $panel-background-color;
  padding: 20px;
  position: relative;
}

h3 {
  @include header-2;
  margin-bottom: 10px;
}

h4 {
  @include header-3;
}

/* Forms */

.illusion-create-event-field input[type="text"], 
.illusion-create-event-field input[type="number"], 
.illusion-create-event-field textarea, 
.illusion-create-event-field select {
  font-size: 14px;
  font-family: $default-font;
  width: 100%; 
  @include box-sizing(border-box);
}

.illusion-create-event-field textarea {
  height: 120px;
}


.illusion-create-event-field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
}

.illusion-create-event-genre label {
  display: inline-block;
  width: auto;
}

.illusion-create-event-genre {
  white-space: nowrap;
  display: inline-block;
  min-width: 130px;
}

.illusion-create-event-larp-kalenteri-info,
.illusion-create-event-sign-up-fee-info,
.timezone {
  display: inline;
  font-size: 11px;
  font-family: $default-font;
  margin-left: 2px;
}

.timezone:before, .illusion-create-event-sign-up-fee-info:before {
  content: '(';  
}

.timezone:after, .illusion-create-event-sign-up-fee-info:after {
  content: ')';  
}

.illusion-create-event-save {
  @include header-4;
  width: 256px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}