@import "vars";
@import "compass";
@import "styles";

/* Index */

.illusion-event-index-text {
  padding: 1in;
  @include box-sizing(border-box);
  @include html-default-styles;
}

.illusion-event-index-text *:first-child {
  margin-top: 0px;
}

.illusion-event-index-text {
}

.illusion-event-join {
  position: absolute;
  right: 20px;
  top: 30px;
  text-align: center;
}

.illusion-event-join-info {
  color: $default-color;
  font-family: $default-font;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;   
  margin-top: 5px;
  display: block;
}

.illusion-event-join-button {
  @include header-3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  display: block;
}

.social-likes-container {
  text-align: right;
}

@media screen and (max-width: 361px) {
  
  .social-likes-container {
    text-align: center;
  }
}

@media screen and (max-width: 959px) {
  
  .illusion-event-join {
    top: 20px;
    left: 20px;
    right: 20px;
  }
  
  .illusion-event-join-button {
    position: absolute;
    top:0px;
    right: 0px;
  }
  
  .illusion-event-join-info {
    position: absolute;
    top:0px;
    left: 0px;
    margin-top: 10px;
  }
  
  .illusion-event-index-text {
    max-width:100%;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .illusion-event-index-text img {
    max-width:100%;
    height: auto !important;
  }  
}
