@import "vars";
@import "compass";
@import "styles";

/* Panels */ 

.illusion-event-panel {
  @include generic-panel;
  position: relative;
  background: #fff;
}

/* Index */

.illusion-event-index-text {
  padding: 1in;
}

.illusion-event-index-text *:first-child {
  margin-top: 0px;
}

.illusion-event-index-text {
  @include html-default-styles;
}