@import "vars";
@import "compass";
@import "styles";

$group-border-color: rgb(71, 176, 176);

/* Panel */ 

.illusion-index-panel {
  @include generic-panel;
  position: relative;
}

/* Generic */

h3 {
  @include header-2;
}

.illusion-index-create-group-link {
  @include header-3;
  text-decoration: none;
  color: $title-color;
  display: block;
  margin-top: 20px;
}

.illusion-index-group-list {
  padding-bottom: 20px;
}

.illusion-index-group {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $group-border-color;
}

.illusion-index-group-list-empty {
  margin-top: 20px;
}

.illusion-index-group-name {
  font-size: 16px;
  font-family: $default-font;
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: none;
  color: $default-color;
  display: block;
}

.illusion-index-group-info {
  float: right;
  text-align: right;
}

.illusion-index-group-players, .illusion-index-group-created {
  font-size: 13px;
  font-family: $default-font;
  color: $default-color;
  font-weight: bold;
}

.illusion-index-group-description {
  font-family: $default-font;
  font-size: 13px;
  width: 700px;
}