@import "vars";
@import "compass";
@import "styles";

$event-border-color: rgb(71, 176, 176);

/* Generic */

h3 {
  @include header-3;
  margin-bottom: 10px;
  margin-top: 20px;
}

.index-box {
  background-color: $panel-background-color;
  padding: 20px;
  position: relative;
}

.illusion-index-create-event-link {
  @include header-3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.illusion-index-event-list {
  margin-bottom: 40px;
}

.illusion-index-event {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $event-border-color;
}

.index-illusion-event-role {
  font-weight: bold;
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  margin-top: 10px;
}

.illusion-index-event-name {
  text-decoration: none;
  color: $default-color;
  font-family: $default-font;
  font-weight: bold;
  font-size: 16px;
}

.illusion-index-event-description {
  font-family: $default-font;
  font-size: 13px;
  margin-top: 10px;
}

.illusion-index-event h4 {
  text-decoration: none;
  text-transform: uppercase;
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
}

.illusion-index-event-organizer-image {
  vertical-align: top;
}

.illusion-index-event-organizer-name {
  display: inline-block;
  text-decoration: none;
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: bottom;
}

.index-illusion-event-location,
.index-illusion-event-date {
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase;
}

.illusion-index-event-organizer {
  margin-bottom: 10px;
}

.illusion-index-event-organizer:last-child {
  margin-bottom: 0px;
}

/* Tabs */

#tabs {
  border: 0px;
  background: none;
  padding-top: 0px;
}

#tabs .ui-tabs-nav {
  border: 0px;
  background: none;
  padding-top: 0px;
}

#tabs .ui-tabs-panel {
  padding: 2px;
}

#tabs .ui-tabs-nav li {
  border: 0px;
  background: none;
  margin-top: 0px;
}

#tabs .ui-tabs-nav li a {
  @include header-3;
  padding-right: 30px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: $title-color;
}

/* FullCalendar */

.fc-toolbar .fc-left h2 {
  font-family: $default-font;
  font-size: 12px;
  text-transform: uppercase;
}

.calendar-view .fc-button {
  background: #000;
  color: #fff;
  font-family: $default-font;
  font-weight: normal;
  text-shadow: none;
}

@media screen and (max-width: 801px) {
  #tabs .ui-tabs-nav li {
    width: 100%;
  }
}