@charset "utf-8";
@import "vars";
@import "compass";
@import "styles";

$list-selected-background: rgba(71, 176, 176, 1);
$list-selected-color: #fff;
$menu-background: #eee;
$menu-active-background: rgba(250, 250, 250, 1);

/* Generic */

.index-box {
  background-color: $panel-background-color;
  padding: 10px;
  position: relative;
  max-width: 100%;
  @include box-sizing(border-box);
}

.index-panel {
  background-color: #fff;
  padding: 10px;
  min-height: 100%;
  @include box-sizing(border-box);
}

/* Menu */

.illusion-event-navigation {
  margin-top: 20px;
}

.illusion-event-navigation-item {
  
}

.illusion-event-navigation-item, .illusion-event-navigation-menu {
  display: inline-block;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;  
  background: $menu-background;
  color: darken($title-color, 10%);
  text-decoration: none;
  margin-right: 2px;
  position: relative;
  cursor: pointer;
}

.illusion-event-navigation-menu .illusion-event-navigation-menu-items {
  margin-top: 20px;
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: $menu-background;
}

.illusion-event-navigation-menu:hover,
.illusion-event-navigation-menu-open {
  background-color: $menu-active-background;
}

.illusion-event-navigation-menu-open .illusion-event-navigation-menu-items,
.illusion-event-navigation-menu:hover .illusion-event-navigation-menu-items {
  display: block;
  background-color: $menu-active-background;
  z-index: 9999;
}

.illusion-event-navigation-menu .illusion-event-navigation-menu-label:after {
  content: '▼';
  margin-left: 8px;
}

.illusion-event-navigation-menu-open .illusion-event-navigation-menu-label,
.illusion-event-navigation-menu:hover .illusion-event-navigation-menu-label {
  color: $title-color;
}

.illusion-event-navigation-menu .illusion-event-navigation-item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 0px;
  font-size: 14px;
  background: transparent;
}

.illusion-event-navigation-menu .illusion-event-navigation-item:hover {
  color: $title-color;
}

.illusion-event-navigation-item-active {
  background-color: $menu-active-background;
  color: $title-color;
}

/* Generic */

h2 {
  @include header-2;
  color: $title-color;
}

h3 {
  @include header-3;
  color: $default-color;
}

h4 {
  @include header-4;
  color: $default-color;
}

h4>a{
  text-decoration: none;
  color: $default-color;
}

/* Table */

.illusion-table {
  
}

.illusion-table th,
.illusion-table td {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: $default-color;
  font-family: $default-font;
  @include box-sizing(border-box);
  vertical-align: top;
}

.illusion-table th {
  font-weight: bold;
  padding-bottom: 10px;
}

.illusion-table td a {
  text-decoration: none;
  color: $default-color;
}

.illusion-table td img {
  vertical-align: top;
  margin-left: 8px;
  max-height: 20px;
}

.illusion-table tbody td {
  padding-top: 10px;
}

.illusion-list-header-row {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: $default-color;
  font-family: $default-font;
}

.illusion-list-row {
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: $default-color;
  font-family: $default-font;
}

.illusion-list-row img {
  max-height: 20px;
  vertical-align: top;
}

.illusion-list-row:hover {
  background: $list-selected-background;
  color: $list-selected-color;
  margin: -2px -8px;
  padding: 2px 8px;
}

.illusion-list-row a {
  color: $default-color;
  text-decoration: none;
  margin-right: 8px;
}

.illusion-list-row:hover a{
  color: $list-selected-color;
}

@media screen and (max-width: 361px) {
  
  .illusion-event-navigation-item, .illusion-event-navigation-menu {
    width: 90%;
    @include box-sizing(border-box);
    margin-left: 5%; 
    margin-right: 5%;
    text-align: center;
    margin-bottom: 1px;
  }
  
}