@import "vars";
@import "compass";
@import "styles";

$user-image-size: 90px;
$user-lens-color-start: rgba(255, 255, 255, 0);
$user-lens-color-end: rgba(255, 255, 255, 0.5);
$participant-image-size: 90px;
$participant-lens-color-start: rgba(255, 255, 255, 0);
$participant-lens-color-end: rgba(255, 255, 255, 0.5);

/* Panel */ 

.illusion-group-panel {
  @include generic-panel;
  position: relative;
}

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

/* User */

.illusion-group-user-container { 
  position: absolute;
  left: -$user-image-size / 2;
}

.illusion-group-user {
  width: 90px;
  margin-bottom: 8px;
  z-index: 99;
  position: relative;
}

.illusion-group-user .ui-menu {
  margin-top: -40px;
  margin-left: 60px;
  position: absolute;
}

.illusion-group-user .ui-menu li a {
  white-space: nowrap;
}

.illusion-group-user:hover .illusion-group-user-image-cover {
  display: none;
}

.illusion-group-user-image-container {
  position: relative;
  width: 90px;
}

.illusion-group-user-image {
  border-radius: $user-image-size / 2;
}

.illusion-group-user-image-cover {
  @include background-image(radial-gradient(center, ellipse cover, $participant-lens-color-start, $participant-lens-color-end));
  width: $user-image-size;
  height: $user-image-size;
  position: absolute;
  top: 0px;
  border-radius: $user-image-size / 2;
}

/* Participants */

.illusion-group-participants { 
  position: absolute;
  right: -$participant-image-size / 2;
}

.illusion-group-participant {
  width: 90px;
  margin-bottom: 8px;
  z-index: 99;
  position: relative;
}

.illusion-group-participant .ui-menu {
  margin-top: -40px;
  margin-left: 60px;
  position: absolute;
}

.illusion-group-participant .ui-menu li a {
  white-space: nowrap;
}

.illusion-group-participant:hover .illusion-group-participant-image-cover {
  display: none;
}

.illusion-group-participant-image-container {
  position: relative;
  width: 90px;
}

.illusion-group-participant-image {
  border-radius: $participant-image-size / 2;
}

.illusion-group-participant-image-cover {
  @include background-image(radial-gradient(center, ellipse cover, $participant-lens-color-start, $participant-lens-color-end));
  width: $participant-image-size;
  height: $participant-image-size;
  position: absolute;
  top: 0px;
  border-radius: $participant-image-size / 2;
}

/* Chat messages */

.illusion-group-chat-messages {
  height: 600px;
  overflow: auto;
}

.illusion-group-chat-message {
  background: #eee;
  padding: 8px;
  margin: 8px;
  position: relative;
  min-height: 52px;
  border: 1px solid #aaa;
}

.illusion-group-chat-message-avatar {
  position: absolute;
  right: 8px;
  top: 28px;
  border-radius: 8px;
}

.illusion-group-chat-message-from {
  font-weight: bold;
}

.illusion-group-chat-message-sent {
  float: right;
}

.illusion-group-chat-message-sent, .illusion-group-chat-message-from {
  display: inline-block;
  margin-bottom: 4px;
  color: $default-color;
  font-family: $default-font;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.illusion-group-chat-message-body {
  color: $default-color;
  font-family: $default-font;
  font-size: 14px;
  width: 848px;
}

.illusion-group-chat-fudge-minus,
.illusion-group-chat-fudge-empty,
.illusion-group-chat-fudge-plus {
  width: 12px;
  height: 12px;
  display: inline-block;	
}

.illusion-group-chat-fudge-minus {
  background: url('#' + '{resource["novus:gfx/icons/12x12/illusion/fudge-die-minus.png"]}') no-repeat center center;
}

.illusion-group-chat-fudge-empty {
  background: url('#' + '{resource["novus:gfx/icons/12x12/illusion/fudge-die-empty.png"]}') no-repeat center center;
}

.illusion-group-chat-fudge-plus {
  background: url('#' + '{resource["novus:gfx/icons/12x12/illusion/fudge-die-plus.png"]}') no-repeat center center;
}

.illusion-group-chat-input {
  margin: 8px;
  width: 902px;
  height: 120px;
  border: 1px solid #aaa;
}

/* Admin */

.illusion-group-admin {
  position: absolute;
  left: 0px;
  margin-top: 100px;
  margin-left: -16px;
  z-index: 99;
}

.illusion-group-admin-image {
  background: url('https://cdn3.iconfinder.com/data/icons/eightyshades/512/54_Settings-64.png');
  width: 64px;
  height: 64px;
}

.illusion-group-admin-menu a {
  white-space: nowrap;	
}

.illusion-group-admin-menu {
  margin-top: -32px;
  margin-left: 24px;
}

.illusion-group-admin-menu .ui-icon-illusion-invite-players {
  background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-add-16.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Invite players dialog */

.illusion-group-invite-players-dialog p {
  font-style: italic;
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.illusion-group-invite-players-dialog label {
  display: block;
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  margin-bottom: 8px;
}

.illusion-group-invite-players-dialog input[type="text"] {
  width: 100%;
  @include box-sizing(border-box); 
}

.illusion-group-invite-players-dialog textarea[name="message"] {
  height: 120px;
  width: 100%;
  @include box-sizing(border-box); 
}

div.token-input-dropdown {
  z-index: 999;	
}

/* Bot rename dialog */

.illusion-group-rename-chatbot-dialog p {
  font-style: italic;
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.illusion-group-rename-chatbot-dialog label {
  display: block;
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  margin-bottom: 8px;
}

.illusion-group-rename-chatbot-dialog input[type="text"] {
  width: 100%;
  @include box-sizing(border-box); 
}

/* Change avatar dialog */

.illusion-group-avatar-dialog .image-dialog-upload-field-container {
  border: 2px dashed #aaa;
  width: 128px;
  height: 128px;
  position: relative;
  text-align: center;
}

.illusion-group-avatar-dialog .image-dialog-upload-field {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.illusion-group-avatar-dialog .image-dialog-upload-field-hint {
  display: table-cell;
  height: 120px;
  padding: 4px;
  vertical-align: middle;
}

.illusion-group-avatar-dialog .image-dialog-preview-container {
  border: 1px solid #666;
  width: 128px;
  padding: 1px; 
  margin-top: 4px;
  line-height: 0px;
}

.illusion-group-avatar-dialog .image-dialog-preview {
  width: 128px;
  height: 128px;
}

.illusion-group-avatar-dialog .image-dialog-image-container {
  position: absolute;
  top: 6px;
  margin-left: 138px;
  height: 268px;
  width: 500px;
  background: #aaa;
  overflow: hidden;
  text-align: center;
}

.illusion-group-avatar-dialog .image-dialog-image-loading {
  background: url('#' + '{resource["novus:gfx/layout/loader-bw.gif"]}') no-repeat center center;
}

.illusion-group-avatar-dialog .image-dialog-image-container .jcrop-holder {
  display: inline-block;
}

.illusion-group-avatar-dialog .image-dialog-image-loading img,
.illusion-group-avatar-dialog .image-dialog-image-loading .jcrop-holder {
  display: none;
}