@import "vars";
@import "compass";
@import "styles";

.index-box {
  position: relative;
}

h3 {
  @include header-2;
  margin-bottom: 10px;
}

.illusion-event-manage-templates {
  margin-top: 20px;
}

.new-template {  
  color: $default-color;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.new-template:disabled {
  color: #eee;
  background: #aaa;
  cursor: default;
}