@import "vars";
@import "compass";
@import "styles";

$list-selected-background: rgba(71, 176, 176, 1);
$list-selected-color: #fff;

/* Menu */

.illusion-event-navigation {
  margin-top: 20px;
}

.illusion-event-navigation-item {
  display: inline-block;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;  
  background: #eee;
  color: darken($title-color, 10%);
  text-decoration: none;
  margin-right: 2px;
}

.illusion-event-navigation-item-active {
  background-color: $panel-background-color;
  color: $title-color;
}

/* Panels */ 

.illusion-content-panel {
  @include generic-panel;
  margin-top: 0px;
  padding: 0px 0px 10px 0px;
}

.illusion-event-sub-panel {
  @include generic-panel;
  padding: 20px;
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.2);
}

/* Generic */

h2 {
  @include header-2;
  color: $title-color;
}

h3 {
  @include header-3;
  color: $default-color;
}

h4 {
  @include header-4;
  color: $default-color;
}

h4>a{
  text-decoration: none;
  color: $default-color;
}

/* List */

.illusion-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -8px;
  margin-right: -8px;
}

.illusion-list-item {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: $default-color;
  font-family: $default-font;
}

.illusion-list-item img {
  float: right;
  vertical-align: top;
  margin-right: 16px;
  max-height: 20px;
}

.illusion-list-item:hover {
  background: $list-selected-background;
  color: $list-selected-color;
}