@import "vars";
@import "compass";
@import "styles";

$description-color: #ADD6F0;
 
/* General */

h3 {
  @include header-3;
  color: $title-color;
  margin-top: 23px;
  margin-bottom: 39px;
}

h3 a {
  text-decoration: none;
  color: $title-color;
}

h4 {
  @include header-2;
  padding-top: 43px;
  padding-bottom: 13px;
  padding-right: 20px;
}

h4 a {
  text-decoration: none;
  color: $default-color;
}

.index-box {
  background-color: $panel-background-color;
  padding-top: 10px;
  padding-left:26px;
  padding-right: 26px;
  padding-bottom: 26px;;
  position: relative;
}

.tag {
  font-family: $default-font;
  color: $default-color;
  font-size: 10px;
  text-transform: uppercase;
  padding-right: 13px;
  text-decoration: none;
}

.category-tag {
  color: $title-color;
}

.more-container {
  position: absolute;
  bottom: 10px;
  right: 26px;
}

.more-link {
  font-family: $default-font;
  color: $default-color;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
  
/* Banner */

img.banner {
  vertical-align: top;
}

/* Description */

.description-panel {
  background: #000;
  @include box-sizing(border-box);
  height: 100%;
  position: relative;
  padding-top: 26px;
}

.description-title {
  margin-left: 39px;
  font-size: 26px;
  text-transform: uppercase;
  font-family: $title-font;
  color: $description-color;
}

.description-text {
  margin-left: 39px;
  margin-top: 12px;
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: bold;
  font-family: $default-font;
  color: $description-color;
}

/* Publications */

.publication-description {
  font-family: $default-font;
  color: $default-color;
  margin-top: 10px;
  font-size: 13px;
  padding-right: 20px;  
}

/* Events */

.index-illusion-no-events {
  font-family: $default-font;
  color: $default-color;
  font-size: 14px;
}

.index-illusion-event-title {
  font-family: $default-font;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.index-illusion-event-title a {
  color: $default-color;
  text-decoration: none;
}

.index-illusion-event {
  margin-bottom: 25px;
}

.index-illusion-event-date {
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase;
  padding-right: 13px;
}

.index-illusion-event-desc {
  color: #1a1818;
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  margin-top: 10px;
  padding-right: 20px;
}

/* Blog */

.blog-entry {
  margin-bottom: 45px;
}

.blog-entry:last-child {
  margin-bottom: 0px;
}

.blog-entry-date {
  @include header-6;
  font-weight: bold;
  margin-bottom: 12px;
}

.blog-entry-title-container {
  margin-bottom: 13px;
}

.blog-entry-title {
  @include header-2;
}

.blog-entry-author:before {
  content: '-';
  padding-left: 5px;
  padding-right: 5px;
}

.blog-entry-author {
  font-family: $default-font;
  color: $default-color;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.blog-entry-tags {
  margin-top: 21px;
}

.blog-entry-tag {
  font-family: $default-font;
  color: $default-color;
  font-size: 10px;
  text-transform: uppercase;
  padding-right: 13px;
  text-decoration: none;
}

.blog-entry-content {
  font-family: $default-font;
  color: $default-color;
  font-size: 13px;
  margin-top: 20px;
}

.blog-entry-more-container {
  margin-top: 16px;
}

.blog-entry-more {
  font-family: $default-font;
  color: $default-color;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

/* Forum */

.forum-topic {
  margin-bottom: 25px;
}

.forum-topic:last-child {
  margin-bottom: 0px;
}

.index-illusion-event-title {
  font-family: $default-font;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.forum-topic-subject {
  font-family: $default-font;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}


.forum-topic-author {
  font-family: $default-font;
  color: $default-color;
  text-transform: uppercase;
  font-size: 10px;
}

.forum-topic-author-link {
  font-family: $default-font;
  padding-left: 4px;
  text-decoration: none;  
}

.forum-topic-subject a {
  color: $default-color;
  text-decoration: none;
}