@import "compass";
@import "vars";
@import "styles";

/* Logo */

$menu-background-color: #000;
$menu-text-color: #fff;
$menu-background-color-hover: #fff;
$menu-text-color-hover: #000;
$menu-logo-shadow-color: rgba(255, 255, 255, 0.7);
$search-box-width: 67px;
$search-box-width-focus: 175px; 

.index-menu {
  background: $menu-background-color;
}

.menu-logo {
  position: relative;
}

.menu-logo-text,
.menu-logo-shadow {
  font-size: 16px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-logo-text { 
  color: $menu-text-color;
}

.menu-logo-shadow {
  color: transparent;
  position: absolute;
  top: 0px;  
  text-shadow: 0px 0px 10px $menu-logo-shadow-color;
}

/* Navigation */

.menu-navigation-container a, .menu-navigation-container span {
  color: $menu-text-color;
  white-space: nowrap;
  font-size: 13px;
  font-family: $default-font;
  text-decoration: none;
  width: 104px;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: $grid-width-desktop) {
  .menu-navigation-container a, .menu-navigation-container span {
    width: 20%;
  }
  
  .menu-tools-container {
    text-align: right;
  }
  
  .menu-tools-search {
    margin-right: 8px;
  }
}

/* Tools */

.menu-tools-container a {
  color: $menu-text-color;
  white-space: nowrap;
  font-size: 13px;
  font-family: $default-font;
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-tools-search-container {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
}

.menu-tools-container input[type="text"]{
  width: $search-box-width;
  font-size: 11px;
  vertical-align: top;
}

.menu-tools-container input[type="text"]:focus {
  position: relative;
  width: $search-box-width-focus;
  margin-left: $search-box-width - $search-box-width-focus;
  display: inline-block;
}

.menu-tools-search-loading {
  background: url('#' + '{resource["novus:gfx/layout/loader-bw.gif"]}') no-repeat center center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;  
  right: 1px;
}

.menu-tools-search-container {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  position: relative;
}

.menu-tools-search-result {
  position: absolute;
  background: #000;
  color: #fff;
  width: 300px;
  right: 0px;
  margin-right: -8px;
}

.menu-tools-search-result h4 {
  @include header-5;
  color: $menu-text-color;
  padding: 8px;
}

.menu-tools-search-result a {
  width: 100%;
  @include box-sizing(border-box);
  padding: 8px;
}

.menu-tools-search-result a:hover {
  color:$menu-text-color-hover;
  background: $menu-background-color-hover;
}

.menu-tools-search-no-result {
  font-family: $default-font;
  padding: 8px;
  font-size: 13px;
}

.menu-tools-locale-container {
  display: inline-block;
}

.menu-tools-locale, .menu-tools-login, .menu-tools-search {
  text-transform: uppercase;
}

.menu-tools-locale-list {
  position: absolute;
  background: $menu-background-color;
  font-family: $default-font;
  margin-left: -8px;
  list-style: none;
}

.menu-tools-locale-list ul a {
  color: $menu-text-color;
  padding: 8px;
  font-size: 13px;
  width: 100%;
  @include box-sizing(border-box);
}

.menu-tools-locale-list ul a:hover {
  color:$menu-text-color-hover;
  background: $menu-background-color-hover;
}

.menu-tools-login {
  margin-right: 20px;
}

.menu-tools-locale {
  margin-right: 20px;
}