@import "compass";
@import "vars";

/* Logo */

$search-box-width: 71px;
$search-box-width-focus: 175px; 

.index-menu {
  background: #000;
}

.menu-logo {
  position: relative;
}

.menu-logo-text,
.menu-logo-shadow {
  font-size: 16px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-logo-text { 
  color: rgba(255,255,255,1);
}

.menu-logo-shadow {
  color: transparent;
  position: absolute;
  top: 0px;  
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

/* Navigation */

.menu-navigation-container a, .menu-navigation-container span {
  color: rgba(255,255,255,1);
  white-space: nowrap;
  font-size: 13px;
  font-family: $default-font;
  text-decoration: none;
  width: 104px;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: $grid-width-desktop) {
  .menu-navigation-container a, .menu-navigation-container span {
    width: 20%;
  }
  
  .menu-tools-container {
    text-align: right;
  }
  
  .menu-tools-search {
    margin-right: 8px;
  }
}

/* Tools */

.menu-tools-container a {
  color: rgba(255,255,255,1);
  white-space: nowrap;
  font-size: 13px;
  font-family: $default-font;
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-tools-container input[type="text"]{
  width: $search-box-width;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  font-size: 11px;
  vertical-align: top;
}

.menu-tools-container input[type="text"]:focus {
  position: relative;
  width: $search-box-width-focus;
  margin-left: $search-box-width - $search-box-width-focus;
  display: inline-block;
}

.menu-tools-locale-container {
  display: inline-block;
}

.menu-tools-locale, .menu-tools-login, .menu-tools-search {
  text-transform: uppercase;
}

.menu-tools-locale-list {
  position: absolute;
  background: #000;
  font-family: $default-font;
  margin-left: -8px;
  list-style: none;
}

.menu-tools-locale-list ul {
  color: #fff;
  padding: 8px;
  font-size: 13px;
}

.menu-tools-login {
  margin-right: 20px;
}

.menu-tools-locale {
  margin-right: 20px;
}