@import "vars";
@import "compass";
@import "styles";

$info-background-color: #7197dc;
$info-text-color: #fff;
$warning-background-color: #ffa61a;
$warning-text-color: #fff;
$error-background-color: #da0016;
$error-text-color: #fff;

.jsf-messages-container {
  position: fixed;
  top: 0px;
  width: 600px;
  box-shadow: 0 0 15px 1px #FFFFFF;
  left: 50%;
  margin-left: -300px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 9999;
}

.jsf-messages-container ul li {
  text-align: center;
  background: #eee;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform:capitalize;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  z-index: 9999;
  font-size: 16px;
  font-family: $default-font;
}

.jsf-messages-container ul li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.jsf-messages-container ul li.info {
  background: $info-background-color;
  color: $info-text-color;
}

.jsf-messages-container ul li.warning {
  background: $warning-background-color;
  color:$warning-text-color;
}

.jsf-messages-container ul li.error {
  background: $error-background-color;
  color: $error-text-color;  
}