@import "vars";
@import "compass";
@import "styles";

$header-background-color: #000;
$header-text-color: #fff;
$header-background-color-hover: #fff;
$header-text-color-hover: #000;

/* General */

h2 {
  @include header-2;
}

h2 a {
  text-decoration: none;
  color: $default-color;
}

h3 {
  @include header-3;
  color: $title-color;
}

/* Panels */

.users-profile-about-panel,
.users-profile-publications-panel,
.users-profile-forum-panel,
.users-profile-contact-info-panel {
  @include generic-panel;
  padding: 25px;
}

/* Header */

.users-profile-search-container {
  position: relative;  
}

.users-profile-search-loading {
  background: url('#' + '{resource["novus:gfx/layout/loader-bw.gif"]}') no-repeat center center;
  width: 16px;
  position: absolute;
  top: 1px;
  bottom: 0px;  
  right: 5px;
}

.users-profile-search {
  margin-right: 120px;
  font-size: 16px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 5px;
  @include border-radius(12px);
  @include box-sizing(border-box); 
  width: 100%;
  border: none;
}

.users-profile-search-result {
  position: absolute;
  width: 100%;
  background: #000;
  padding: 8px;
  margin-top: 8px;
  @include box-sizing(border-box); 
  width: 100%;
}

.users-profile-search-result a {
  padding: 8px;  
  text-decoration: none;
  font-family: $default-font;
  color: $header-text-color;
  @include box-sizing(border-box); 
  width: 100%;
  display: block;
  font-size: 14px;
}

.users-profile-search-result a:hover {
  background: $header-background-color-hover;
  color: $header-text-color-hover;
}

.users-profile-search-no-result {
  font-family: $default-font;
  color: $header-text-color;
  padding: 8px;
  font-size: 14px;
}

/* About */

.users-profile-about-panel h2 {
  margin-bottom: 30px;
}

.users-profile-about img {
  position: absolute;
  margin-top: 4px;
}

.users-profile-about p {
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  font-weight: bold; 
  margin-left: 140px + 40px;
}

/* Game Library Publications */

.users-profile-publications-panel h3 {
  margin-bottom: 30px;
}

.users-profile-gamelibrary-publication-image img {
  float: right;
  margin-left: 70px;
}

.users-profile-gamelibrary-publication-tags {
  margin-top: 24px;
  margin-bottom: 14px;
}

.users-profile-gamelibrary-publication-tag {
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 10px;
  color: $default-color;
  text-decoration: none;
}

.users-profile-gamelibrary-publication-info {
  min-height: 192px;
}

.users-profile-gamelibrary-publication-description {
  font-family: $default-font;
  font-size: 13px;
  margin-bottom: 10px;
  margin-right: 180px;
}

.users-profile-gamelibrary-publication-detail {
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase; 
}

.users-profile-gamelibrary-publication-detail label {
  margin-right: 8px;
}

.users-profile-gamelibrary-publication-creative-commans-license-container {
  margin-top: 8px;
  display: inline-block;
}

.users-profile-gamelibrary-publication-author {
  margin-right: 6px;
  color: $default-color;
  text-decoration: none;
}

.users-profile-gamelibrary-publication-footer-row {
  height: 14px;  
}

.users-profile-gamelibrary-publication-comments {
  color: $default-color;
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase; 
  text-decoration: none;
  float: left;
}

.users-profile-gamelibrary-publication-action {
  color: $default-color;
  font-family: $default-font;
  font-size: 10px;
  text-transform: uppercase; 
  text-decoration: none;
  float: right;
}

/* Forum Activity */

.users-profile-forum-activity:first-child {
  margin-top: 18px;
}

.users-profile-forum-activity, .users-profile-contact-info {
  margin-top: 14px;
}

.users-profile-forum-activity label, .users-profile-contact-info label {
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
  font-weight: bold; 
  margin-bottom: 4px;
}

.users-profile-forum-activity div, .users-profile-contact-info div {
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
}

.users-profile-forum-activity a, .users-profile-contact-info a {
  text-decoration: none;
  color: $default-color;
}