@import "vars";
@import "compass";
@import "styles";

/* Generic */

h3 {
  @include header-2;
  margin-bottom: 10px;
}

h4 {
  @include header-3;
}

/* Header */

.view-header-description-title a {
  float: right;
  font-family: $title-font;
  font-size: 22px; 
  color: $title-color;
  text-decoration: none;
  margin-top: 4px;
}

/* Forms */

.field input[type="text"], 
.field input[type="url"], 
.field input[type="number"], 
.field input[type="password"], 
.field textarea, 
.field select {
  font-size: 14px;
  font-family: $default-font;
  width: 100%; 
  @include box-sizing(border-box);
}

.field textarea {
  height: 120px;
}

.field label {
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
}

.users-editprofile-image-source label {
  font-weight: normal;
  margin-left: 5px;
}


.users-editprofile-image-change {
  color: $default-color;
  font-family: $default-font;
  text-transform: uppercase; 
  font-size: 14px;
  text-decoration: none;
}

.notification-setting {
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
}

.users-editprofile-enable-facebook-authsource {
  color: $default-color;
  font-family: $title-font;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}

.users-editprofile-enabled-authentication-source>div{
  
  background: rgba(0, 167, 161, 0.4);
  padding: 8px;
  
  font-family: $default-font;
  font-size: 14px;
  
  a {
    text-decoration: none;
    color: $default-color;
    text-transform: uppercase; 
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="submit"] {
    @include header-5;
    padding:5px;
    background: #000;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
  }
  
}

input[type="submit"] {
  @include header-4;
  width: 256px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
}

/* jQuery UI */ 

.users-profile-upload-dialog {
  p {
    font-style: italic;
    font-size: 14px;
    margin-top: 16px;
  }
  
  input[type="file"] {
    margin-top: 16px;
  }
}  