@import "vars";
@import "compass";
@import "styles";

/* Panel */ 

.user-resetpassword-panel {
  @include generic-panel;
  padding-bottom: 20px;
}

/* Forms */

.reset-password-field label {
  display: block;
  font-size: 13px;
  font-family: $default-font;
  font-weight: bold;
  margin-bottom: 8px;
}

.reset-password-field  input[type="password"] {
  width: 300px;
  font-size: 14px;
  font-family: $default-font;
  @include box-sizing(border-box);
  margin-bottom: 8px;
}

input[type="submit"] {
  @include header-4;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}