@import "vars";
@import "compass";
@import "styles";

h2 {
  @include header-2;
}

h3 {
  @include header-3;
  color: $title-color;
}

img {
  margin-top: 4px;
  vertical-align: top;
}

p {
  margin-bottom: 10px;
  color: $default-color;
  font-family: $default-font;
  font-size: 13px;
}

.users-profile-contact-info,
.forum-activity {
  
  label {
    color: $default-color;
    font-family: $default-font;
    font-size: 13px;
    font-weight: bold; 
    margin-bottom: 4px;
  }
  
  div {
    color: $default-color;
    font-family: $default-font;
    font-size: 13px;
    word-break:break-all;
  }
 
  a {
    text-decoration: none;
    color: $default-color;
  }
}

.publications {
  
  .publication {
  
    margin-top: 20px;
  
    &:first-child {
      margin-top: 0px;
    }
    
    .publication-image {
      float: right;
      max-width: 50%;
      @include box-sizing(border-box);
      padding-bottom: 10px;
      padding-left: 10px;
      
      img {
        vertical-align: top;
        max-width: 100%;
      }
    }
    
    h4 {
      word-wrap: break-word;
      max-width: 50%;
      @include box-sizing(border-box);
       
      a {
        color: $default-color;
        font-family: $default-font;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        text-decoration: none;
      }
    }  
   
    .tags {
      word-wrap: break-word;
      max-width: 50%;
      padding-top: 15px;
      padding-bottom: 15px;
      
      .tag {
        font-family: $default-font;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 10px;
        color: $default-color;
        text-decoration: none;
      }
    }
     
    .description {
      color: $default-color;
      font-family: $default-font;
      font-size: 13px;
      word-wrap: break-word;
    }
  }
}

.event {

  h4 a {
    color: $default-color;
    font-family: $default-font;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
  } 
  
  .date {
    font-family: $default-font;
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 13px;
  }
  
  .description {
    color: #1a1818;
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    margin-top: 10px;
    padding-right: 20px;
  }
  
}