<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  
  <session-config>
    <session-timeout>5</session-timeout>
    <cookie-config>
      <path>/</path>
      <http-only>true</http-only>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value><!-- Development -->
  </context-param>
  
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>

  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-ttf</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/x-font-ttf</mime-type>
  </mime-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/error/not-found.jsf</location>
  </error-page>
  
  <error-page>
    <error-code>403</error-code>
    <location>/error/access-denied.jsf</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/error/internal-error.jsf</location>
  </error-page>

  <error-page>
    <location>/errorHandler</location>
  </error-page>
</web-app>