<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value><!-- Development -->
  </context-param>
  
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <!-- Disabled https forcing on publication images -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secure</web-resource-name>
      <url-pattern>/gamelibrary/publicationImages/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <!-- Forge Game Library to use https -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secure</web-resource-name>
      <url-pattern>/gamelibrary/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <!-- Login https -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secure</web-resource-name>
      <url-pattern>/login/</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-ttf</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/x-font-ttf</mime-type>
  </mime-mapping>

  <error-page>
    <location>/error/internal-error.jsf</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/not-found.jsf</location>
  </error-page>
  
  <error-page>
    <error-code>403</error-code>
    <location>/error/access-denied.jsf</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/error/internal-error.jsf</location>
  </error-page>
  
  <error-page>
    <exception-type>java.io.FileNotFoundException</exception-type>
    <location>/error/not-found.jsf</location>
  </error-page>
  
  <error-page>
    <exception-type>fi.foyt.fni.security.ForbiddenException</exception-type>
    <location>/error/access-denied.jsf</location>
  </error-page>
  
  <error-page>
    <exception-type>fi.foyt.fni.security.UnauthorizedException</exception-type>
    <location>/error/unauthorized.jsf</location>
  </error-page>
</web-app>