@charset "UTF-8";

#edit-profile {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

#edit-profile form label {
  display: block;
  padding-bottom: 4px;
  padding-top: 4px;
}

#edit-profile form input[type="text"] {
  width: 100%;
  -webkit-box-sizing: border-box; 	
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

#edit-profile form input[type="submit"] {
  margin-top: 8px;
  background: #E6E6E6;
  border: 1px solid #D3D3D3;
  color: #555555;
  padding: 0.4em 1em;
  border-radius: 4px;
  cursor: pointer;
}

#edit-profile #basic form input[type="text"] {
  width: 915px;
}

.edit-profile-basic-profile-image-container img {
  position: absolute;
  right: 24px;
  top: 66px;
  border-radius: 5px;
}

.edit-profile-basic-profile-image-container button {
  position: absolute;
  right: 24px;
  top: 194px;
  margin-top: 8px;
  width: 128px;
  background: #E6E6E6;
  border: 1px solid #D3D3D3;
  color: #555555;
  padding: 0.4em 1em;
  border-radius: 4px;
  cursor: pointer;
}
