/* General */

.forum-index, .forum {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 20px;
  min-height: 783px;
  padding: 8px;
}

.forum-nav-separator {
  margin-left: 4px;
  margin-right: 4px;
}

.forum-nav-separator:after {
  content: '>';
}

/* Index */

.forum-index h3, .forum h3, .forum-topic h3 {
  background-color: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  color: #000000;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.forum-index-forums {
  background: none repeat scroll 0 0 #FAFAFA;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
  padding: 8px;
}

.forum-index-forum {
  margin-bottom: 8px;
}

.forum-index-forum-name {
  font-size: 16px;  
}

.forum-last-message-container, .forum-message-count-container, .forum-topic-count-container {
  display: inline;
  font-size: 12px;
  float: right;
  margin-left: 8px;
}

.forum-topic-count:after, .forum-last-message:after {
  content: ',';
}

.forum-author, .forum-created {
  display: inline;
}

.forum-index-forum-description {
  font-style: italic;
}

/* Forum */

.forum-container {
  background: none repeat scroll 0 0 #FAFAFA;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
  padding: 8px;
}

.forum-topic {
  margin-bottom: 8px;
}

.forum-topic-subject {
  font-size: 16px;
  margin-bottom: 4px;
}

.forum-topic-last-message-container, .forum-topic-message-count-container {
  display: inline;
  font-size: 12px;
  float: right;
  margin-left: 8px;
}

.forum-topic-last-message:after {
  content: ',';
}

.forum-topic-author, .forum-topic-created {
  display: inline;
}

/* Topic */

.forum-post {
  background: none repeat scroll 0 0 #FAFAFA;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin-top: 8px;
}

.forum-posts {
  display: table;
  border-collapse:separate;
  border-spacing:0px 8px;
}

.forum-post {
  display: table-row;
  margin-bottom: 8px;
}

.forum-post-author {
  display: table-cell;
  vertical-align: top;
  padding: 8px;
}

.forum-post-author-name {
  margin-top: 4px;
}

.forum-post-author-name a {
  font-weight: bold;
  color:#000;
}

.forum-post-author-post-count {
  color: #666;
  font-size: 10px;
}

.forum-post-author-image-contener {
  width: 128px;
  height: 128px;
}

.forum-post-author-image-contener img {
  border-radius: 5px;
}

.forum-post-content {
  display: table-cell;
  vertical-align: top;
  padding: 8px;
  width: 960px;
}

.forum-post-content-text {
  width: 800px;
}

.forum-post-sent, .forum-post-modified { 
  position: absolute;
  right: 16px;
  color: #555;
  font-style: italic;
}

.forum-post-modified { 
  margin-top: 20px;
}
