@charset "UTF-8";

/* Blog Feed */

#index-blog-feed {
  background: #fff;
  width: 705px;
  min-height: 860px;
  float: right;
  padding-right: 15px;
  padding-top: 25px;
  position: relative;
}

#index-blog-feed .index-blog-feed-entry .index-blog-feed-entry-header {
  margin-top:5px;
}

#index-blog-feed .index-blog-feed-entry h1 {
  display: inline;
}

#index-blog-feed .index-blog-feed-entry h1 a {
  text-decoration: none;
  color: #000;
}

.index-blog-feed-entry-author:before {
  content: '-';
  margin-left: 5px;
  margin-right: 7px;
}

.index-blog-feed-entry-author, .index-blog-feed-entry-published {
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
  color: #555;
}

.index-blog-feed-entry-published {
  float: right;
  margin-right: 5px;
}

#index-blog-feed .index-blog-feed-entry-summary-container {
  background: url('../gfx/layout/content_flow_toparrow.gif') no-repeat;
  padding-top: 10px;
}

#index-blog-feed .index-blog-feed-entry-summary {
  background: #f7f7f7;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  max-height: 780px;
  overflow: auto;
  line-height: 1.7em;
  font-family: 'PT Sans','Trebuchet MS',Arial;
  color: #3B3B3B;
  margin-bottom: 5px;
  padding: 10px;
}

#index-blog-feed .index-blog-feed-entry .index-blog-feed-entry-tag {
  background: #B6C9ED;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 4px;
}

#index-blog-feed .index-blog-feed-entry .index-blog-feed-entry-tag:hover {
  background: #BCCEFA;
}

#index-blog-feed .index-blog-feed-entry .index-blog-feed-entry-tag a {
  text-decoration: none;
  color: #fff;
}

#index-blog-feed .index-blog-feed-entry .index-blog-feed-entry-summary p {
  margin-bottom: 20px;
}

#siteFooterBackground {
  left: 48px;
}

#index-sidebar-wrapper {
  min-height: 885px;
  float: left;
  width: 410px;
  position: relative;
}

#index-sidebar-content {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-top: 25px;
  padding-right: 25px;  
}

#index-sidebar-background {
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 48px;
  z-index: 1;
}

#index-front-page-article {
  background: #fff;
  width: 705px;
  min-height: 860px;
  float: right;
  padding-right: 15px;
  padding-top: 25px;
  position: relative;
}

#siteContentWrapper h1 {
  font-size: 26px;
  color: #3B3B3B;
  font-family: 'Yanone Kaffeesatz','Trebuchet MS',Arial;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 0;
}

.index-header-wrapper {
  background: url('../gfx/layout/header_background.png') no-repeat;
  width: 1130px;
  height: 253px;
  clear: both;
  margin-top: 20px;
  position: relative;
}

.index-header-big-font {
  font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', Arial;
  font-size: 20px;
}

#index-header-login a,#index-header-guest-login a, #index-header-user-info a {
  text-decoration: none;
  color: #fff;
}

#index-header-login a:hover,#index-header-guest-login a:hover, #index-header-user-info a:hover {
  text-decoration: none;
  color: #000;
}

#index-header-login-register-wrapper, #index-header-user-info-wrapper {
  position: absolute;
  height: 145px;
  right: 15px;
  bottom: 15px;
  left: 830px;
}

#index-header-login {
  width: 220px;
  height: 45px;
  background: url(../gfx/icons/48x48/actions/login.png) left center no-repeat #8dace3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-family: 'PT Sans', 'Trebuchet MS', Arial;
  font-size: 14px;
  padding: 10px 10px 10px 55px;
}

#index-header-guest-login {
  width: 220px;
  height: 45px;
  background: #8dace3;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background: url(../gfx/icons/48x48/actions/login-guest.png) left center no-repeat #8dace3;
  color: #fff;
  font-family: 'PT Sans', 'Trebuchet MS', Arial;
  font-size: 14px;
  padding: 10px 10px 10px 55px;
}

#index-header-user-info {
  width: 207px;
  height: 125px;
  background: #8dace3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-family: 'PT Sans', 'Trebuchet MS', Arial;
  font-size: 14px;
  padding: 10px 10px 10px 68px; 
}

#index-header-user-info-wrapper img {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

/* 
 *  GUI Specific Rules : SIDEBAR WIDGETS
 *
 */
.index-sidebar-widget-icon-container {
  background: #fff;
  height: 98px;
  width: 98px;
  position: absolute;
  border-radius: 49px;
  -moz-border-radius: 49px;
  -webkit-border-radius: 49px;
}

.index-sidebar-widget-content-container {
  padding-left: 48px;
  padding-top: 10px;
}

.index-sidebar-widget-content {
  line-height: 1.4em;
  font-family: 'trebuchet MS', Arial;
}

.index-sidebar-widget-content-container h1 {
  padding-left: 30px;
}

#index-sidebar-widget-what-is-wrapper {
  min-height: 100px;
  margin-bottom: 10px;
}

#index-sidebar-widget-what-is-icon {
  background: url('../gfx/icons/custom/what_is.png') #fff no-repeat;
}

#index-what-is-content-wrapper {
  position: relative;
  z-index: 2;
}

#index-sidebar-widget-what-is-content {
  background: #3b3b3b;
  color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  border: 3px solid #fff;
  margin-left: 15px;
}

#index-sidebar-widget-latest-forum-topics-wrapper {
  min-height: 100px;
  margin-bottom: 10px;
}

#index-sidebar-widget-latest-forum-topics-icon {
  background: url('../gfx/icons/custom/latest_technical_announcements.png') #fff no-repeat;
}

#index-sidebar-widget-latest-forum-topics-content-wrapper {
  position: relative;
  z-index: 2;
}

#index-sidebar-widget-latest-forum-topics-content {
  background: #f1f2f0;
  color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  border: 3px solid #fff;
  margin-left: 15px;
}

#index-sidebar-widget-latest-forum-topics-content ul {
  padding: 0;
  margin: 0 0 0 20px;
  list-style-type: none;
  list-style-image: url('../gfx/icons/custom/list_arrow_orange.gif');
}

#index-sidebar-widget-latest-forum-topics-content ul li a {
  font-family: 'Trebuchet MS', Arial;
  font-size: 12px;
  text-decoration: none;
  color: #3b3b3b;
  padding: 0px 4px 0px 2px;
}

#index-sidebar-widget-latest-forum-topics-content ul li a:hover {
  color: #b28202;
}

#index-sidebar-widget-latest-publications-wrapper {
  min-height: 100px;
  margin-bottom: 10px;
}

#index-sidebar-widget-latest-game-library-publications-icon {
  background: url('../gfx/icons/custom/latest_publications.png') #fff
    no-repeat;
}

#index-sidebar-widget-latest-game-library-publications-content-wrapper {
  position: relative;
  z-index: 2;
}

#index-sidebar-widget-latest-game-library-publications-content {
  background: #b6c9ed;
  color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  border: 3px solid #fff;
  margin-left: 15px;
}

#index-sidebar-widget-latest-game-library-publications-content ul {
  padding: 0;
  margin: 0 0 0 20px;
  list-style-type: none;
  list-style-image: url('../gfx/icons/custom/list_arrow_green.gif');
}

#index-sidebar-widget-latest-game-library-publications-content ul li a {
  font-family: 'Trebuchet MS', Arial;
  font-size: 12px;
  text-decoration: none;
  color: #3b3b3b;
  padding: 0px 4px 0px 2px;
}

#index-sidebar-widget-latest-game-library-publications-content ul li a:hover {
  color: #fff;
}

#index-sidebar-widget-latest-articles-wrapper {
  min-height: 100px;
  margin-bottom: 10px;
}

#index-sidebar-widget-latest-articles-icon {
  background: url('../gfx/icons/custom/latest_articles.png') #fff
    no-repeat;
}

#index-sidebar-widget-latest-articles-content-wrapper {
  position: relative;
  z-index: 2;
}

#index-sidebar-widget-latest-articles-content {
  background: #b6c9ed;
  color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  border: 3px solid #fff;
  margin-left: 15px;
}

#index-sidebar-widget-latest-articles-content ul {
  padding: 0;
  margin: 0 0 0 20px;
  list-style-type: none;
  list-style-image: url('../gfx/icons/custom/list_arrow_blue.gif');
}

#index-sidebar-widget-latest-articles-content ul li a {
  font-family: 'Trebuchet MS', Arial;
  font-size: 12px;
  text-decoration: none;
  color: #3b3b3b;
  padding: 0px 4px 0px 2px;
}

#index-sidebar-widget-latest-articles-content ul li a:hover {
  color: #fff;
}