@CHARSET "UTF-8";

#gamelibrary-order {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

.gamelibrary-order-content {
  background: none repeat scroll 0 0 #FAFAFA;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
  padding: 12px;
}

.order-status {
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-right: 4px;
}

.order-status-WAITING_FOR_DELIVERY {
  color: orange;
}

.order-status-PAID, .order-status-SHIPPED, .order-status-DELIVERED {
  color: green;
}

#gamelibrary-order h3 {
  background-color: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  color: #000000;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

#gamelibrary-order h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.order-customer, .order-address, .order-items {
  margin-bottom: 16px;
}

#gamelibrary-order table {
  width: 100%;
}

#gamelibrary-order table th {
  font-weight: bold;
}

#gamelibrary-order table thead th {
  padding-left: 5px;
}

#gamelibrary-order table thead th:first-child {
  padding-left: 0px;
}

#gamelibrary-order table tbody tr {
  background: #eee;
  border: 2px solid #FAFAFA;
}

#gamelibrary-order table td {
  padding: 5px;
}

#gamelibrary-order table td:nth-child(2), #gamelibrary-order table td:nth-child(3) {
  width: 100px;
}

#gamelibrary-order .order-history-event {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #efefef;
  padding: 4px;
}

#gamelibrary-order .order-history-event-date, .order-history-event-name {
  display: inline-block;
}

#gamelibrary-order .order-history-event-date {
  font-style: italic;
}

#gamelibrary-order .order-history-event-name {
  float: right;
  margin-right: 4px;
}