@CHARSET "UTF-8";

/* 
 *  GUI Specific Rules : MenuBar
 *
 */
.site-menu-bar-widget-content {
  position: absolute;
  top: 38px;
  background-color: #fff;
  z-index: 999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  border: 1px solid #eee;
}

.site-menu-bar-widget-content-active {
  display: block;
}

.site-menu-bar-widget-notification {
  position: absolute;
  top: 4px;
  left: 4px;
  background: #0000ff;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  display: inline-block;
  font-family: courier;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  margin: 3px 3px 3px 1px;
  min-width: 7px;
  padding: 4px 6px 3px;
  vertical-align: top;
}

#site-menu-bar { /* Wraps the site's menubar */
  padding: 0 0 0 60px;
  height: 39px;
  line-height: 1.7em;
}

#site-menu-bar-first-column { /* Menu Bar's 1st column */
  float: left;
}

.site-menu-bar-widget {
  background-repeat: no-repeat;
  background-color: #fff;
  position: relative;
}

#site-menu-bar-first-column .site-menu-bar-widget {
  background-position: 8px 9px;
}

#site-menu-bar-first-column>div.site-menu-bar-widget-disabled>a {
  color: #555;	
}

#site-menu-bar-first-column #site-menu-bar-widget-index {
  background-image: url('../gfx/icons/22x22/places/index.png');
}

#site-menu-bar-first-column #site-menu-bar-widget-forge {
  background-image: url('../gfx/icons/22x22/places/forge.png');
}

#site-menu-bar-first-column #site-menu-bar-widget-illusion {
  background-image: url('../gfx/icons/22x22/places/illusion.png');
}

#site-menu-bar-first-column #site-menu-bar-widget-illusion.site-menu-bar-widget-disabled {
  background-image: url('../gfx/icons/22x22/places/illusion_gray.jpg');
}

#site-menu-bar-first-column #site-menu-bar-widget-gamelibrary {
  background-image: url('../gfx/icons/22x22/places/store.png');
}

#site-menu-bar-first-column #site-menu-bar-widget-forum {
  background-image: url('../gfx/icons/22x22/places/forum.png');
}

#site-menu-bar-first-column>div>a {
  font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', Arial;
  text-decoration: none;
  color: #5076bc;
  font-size: 18px;
  font-weight: 200;
}

#site-menu-bar-first-column>div>a:hover {
  color: #000;
}

#site-menu-bar-first-column div.site-menu-bar-widget { /* Generic rules for the 1st column's Menu Bar Widgets */
  padding: 7px 15px 7px 40px;
  margin: 0 4px 0 4px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  float: left;
}

#site-menu-bar-second-column { /* Menu Bar's 2nd column */
  float: left;
  margin-left: 20px;
}

#site-menu-bar-second-column div.site-menu-bar-widget-loading {
  background-position: 4px center !important; 
  background-image: url('../gfx/layout/loader-orange-16x16.png') !important;
}

#site-menu-bar-second-column>div>a {
  font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', Arial;
  text-decoration: none;
  color: #dc6626;
  font-size: 16px;
  font-weight: 200;
}

#site-menu-bar-second-column>div.site-menu-bar-widget-disabled>a {
  color: #555;	
}

#site-menu-bar-second-column>div>a:hover {
  color: #000;
}

#site-menu-bar-second-column div.site-menu-bar-widget { /* Generic rules for the 2nd column's Menu bar */
  background-color: #fff;
  background-position: 0px 9px;
  background-repeat: no-repeat;
  padding: 4px 10px 4px 28px;
  margin: 0 1px 0 2px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  float: left;
}

#site-menu-bar-second-column div.site-menu-bar-widget.site-menu-bar-widget-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 31px;
  position: relative;
  z-index: 1000;
}

#site-menu-bar-third-column { /* Menu Bar's 3rd column */
  float: right;
  margin-right: 15px;
}

#site-menu-bar-third-column>div.site-menu-bar-widget-disabled>a {
  color: #555;	
}

#site-menu-bar-third-column #site-menu-bar-widget-search {
  background-image: url('../gfx/icons/custom/search_menubarwidget.jpg');
}
#site-menu-bar-third-column #site-menu-bar-widget-search.site-menu-bar-widget-disabled {
  background-image: url('../gfx/icons/custom/search_gray_menubarwidget.jpg');
}

#site-menu-bar-third-column #site-menu-bar-widget-login {
  background-image: url('../gfx/icons/custom/login_menubarwidget.png');
  background-position: 8px center;
}

#site-menu-bar-third-column #site-menu-bar-widget-account {
  background-image: url('../gfx/icons/custom/account_menubarwidget.jpg');
}

#site-menu-bar-third-column #site-menu-bar-widget-help.site-menu-bar-widget-disabled {
  background-image: url('../gfx/icons/custom/help_gray_menubarwidget.jpg');
}

#site-menu-bar-third-column>div>a {
  font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', Arial;
  text-decoration: none;
  color: #5076bc;
  font-size: 16px;
  font-weight: 200;
}

#site-menu-bar-third-column>div>a:hover {
  color: #000;
}

#site-menu-bar-third-column div.site-menu-bar-widget { /* Generic rules for 3rd column's Menu Bar Widgets */
  background-color: #fff;
  background-position: 0px 9px;
  background-repeat: no-repeat;
  padding-left: 28px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  margin: 0 1px 0 2px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  float: left;
}

#site-menu-bar-third-column div.site-menu-bar-widget.site-menu-bar-widget-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 31px;
  position: relative;
  z-index: 1000;
}

#site-menu-bar-third-column div#site-menu-bar-widget-locale { /* Overriding locale link's padding */
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  text-transform: uppercase;
}

/* Account */

#site-menu-bar-widget-account-content {
  min-height: 20px;
  padding: 8px;
  width: 250px;
}

#site-menu-bar-widget-account-content li>a {
  color: #000;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  color: #4D6CA3;
  text-decoration: none;
}

#site-menu-bar-widget-account-content li>a:hover {
  background: #7197DC;
  color: #fff;
}

#site-menu-bar-widget-account-content li>b {
  color: #4D6CA3; 
  padding-left: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
}

#site-menu-bar-widget-account-content li>b:after {
  content: '▶';
  float: right;
}

#site-menu-bar-widget-account-content li>ul>li {
  display: none;
  padding-left: 8px;
} 

#site-menu-bar-widget-account-content li:hover>ul>li {
  display: block;
}

/* Account */

#site-menu-bar-widget-account-content {
  width: 250px;
  min-height: 20px;
  padding: 8px;
  right: 15px;
}

#site-menu-bar-widget-account-content>span {
  color: #000;
  padding-left: 4px;
  display: block;
  padding-bottom: 4px;
}

#site-menu-bar-widget-account-content li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}

#site-menu-bar-widget-account-content li a {
  color: #4D6CA3;
  text-decoration: none;
  width: 100%;
  display: block;
}

#site-menu-bar-widget-account-content li:hover {
  background: #7197DC;
}

#site-menu-bar-widget-account-content li:hover a {
  color: #fff;
}

/* Locale */

#site-menu-bar-widget-locale-content {
  width: 250px;
  min-height: 20px;
  padding: 8px;
  right: 15px;
}

#site-menu-bar-widget-locale-content>span {
  color: #000;
  padding-left: 4px;
  display: block;
  padding-bottom: 4px;
}

#site-menu-bar-widget-locale-content li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}

#site-menu-bar-widget-locale-content li a {
  color: #4D6CA3;
  text-decoration: none;
  width: 100%;
  display: block;
}

#site-menu-bar-widget-locale-content li:hover {
  background: #7197DC;
}

#site-menu-bar-widget-locale-content li:hover a {
  color: #fff;
}
