@CHARSET "UTF-8";

/* Index */

#store-index {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

.store-products {
  max-width: 802px;
}

.store-products-title {
  background: url("../gfx/icons/22x22/actions/store-recent-products.png") no-repeat scroll 8px center #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  color: #000000;
  padding-bottom: 8px;
  padding-left: 36px;
  padding-top: 8px;
}

.store-product {
  padding: 8px;
  background: #fafafa;
  border-radius: 10px;
  margin-top: 8px;
  position: relative;
  min-height: 178px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.store-product-unpublished {
  box-shadow: 0px 0px 4px rgba(255,0,0,0.5);
}

.store-product:hover {
  box-shadow: 0px 0px 4px rgba(0,0,0,0.75);
}

.store-product-unpublished:hover {
  box-shadow: 0px 0px 4px rgba(255,0,0,0.75);
}

.store-product-info-container {
  width: 650px;
  float: left;
  min-height: 210px;
}

.store-product-images-container {
  float: right;
  margin-left: 4px;
}


.store-product-images-container a:focus {
  outline: 0px;
}

.store-product-image-container {
  height: 128px;
  width: 128px; 
}

.store-product-image-container img {
  border-radius: 4px;
  box-shadow: 0px 0px 6px #aaa;
}

.store-product-image-inner-container {
  text-align: center;
}

.store-product-thumbnails-container {
  overflow: hidden;
  width: 128px;
}

.store-product-thumbnail-container {
  display: table-cell;
  height: 32px; 
  vertical-align: middle;
  width: 32px;
}

.store-product-thumbnails-container img {
  border-radius: 4px;
  box-shadow: 0px 0px 6px #aaa;
  display: block;
  margin-right: 6px;
  margin-bottom: 8px;
}

.store-product-noimage {
  width: 128px;
  height: 128px;
  display: inline-block;
  background-image: url("../gfx/icons/128x128/actions/store-noimage.png");
}

.storeProductListProductName {
  font-size: 16px; 
  margin-bottom: 4px;
}

.storeProductListProductDescription {
  margin-top: 4px;
}

.store-product-tag {
  background: #B6C9ED;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 4px;
}

.store-product-tag:hover {
  background: #BCCEFA;
}

.store-product-tag a {
  text-decoration: none;
  color: #fff;
}

.store-product-actions-container {
  bottom: 8px;
  right: 8px;
  position: absolute;
  vertical-align: bottom;  
}

.store-product-action-container {
  text-align: right;
}

.storeProductListProductDetails {
  margin-top: 8px;
  width: 300px;
  display: table-cell;
  vertical-align: bottom;
  height: 46px; 
}

.storeProductListProductDetailPrice,
.storeProductListProductDetailPriceFree {
  font-weight: bold;
}

.storeProductListProductDetailPriceFree {
  color: green;
}

/* ViewCart */

#storeCart {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

#storeCartContents {
  width: 760px;
}

.storeViewCartTitle {
  font-size: 18px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.storeViewCartItemsTitle,
.storeViewCartCarriersTitle,
.storeViewCartDeliveryAddressTitle,
.storeViewCartPaymentTitle {
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.storeViewCartItemContainer {
  position: relative; 
  height: 25px;
  background: #fafafa;
  border-radius: 5px;
  margin-bottom: 2px;
}

.storeViewCartItemContainer:hover {
  background: #eee;
}

.storeViewCartItemCount {
  position: absolute;
  right: 675px;
}

.storeViewCartItemCount:after {
  content: ' x '
}

.storeViewCartItemName {
  position: absolute;
  left: 90px;
}

.storeViewCartItemPrice {
  position: absolute;
  right: 8px;
}

.storeViewCartItemActions {
  position: absolute;
  left: 0px;
  margin-left: 8px;  
}

.storeViewCartItemActions button {
  padding: 0px;
  border: 1px outset #aaa;
  text-align: center;
  vertical-align: top;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.storeViewCartItemsTotalContainer {
  padding: 8px;
  position: relative;
  height: 24px;
}

.storeViewCartItemsTotalTitle {
  font-weight: bold;
  float: left;
}

.storeViewCartItemsTotal {
  font-weight: bold;
  float: right;
}

.storeViewCartCarrierContainer {
  position: relative;
  margin-bottom: 8px;
  background-color: #fafafa;
  border-radius: 5px;
}

.storeViewCartCarrierContainer:hover {
  background-color: #eee;
}

.storeViewCartCarrierRadioContainer {
  position: absolute;
  left: 6px;
}

.storeViewCartCarrierNameContainer {
  margin-left: 30px;
  font-weight: bold;
}

.storeViewCartCarrierCostsContainer {
  position: absolute;
  right: 8px;
}

.storeViewCartCarrierInfoContainer {
  font-style: italic;
  margin-left: 8px;
}

.storeViewCartDeliveryAddressAddressContainer {
  border-radius: 5px;
  background-color: #fafafa;
  padding: 8px;
  margin-bottom: 8px;
}

.storeViewCartDeliveryAddressAddressContainer:hover {
  background-color: #eee;
}

.storeViewCartDeliveryAddressAddress {
  display: inline-block;
  margin-left: 4px;
}

.storeViewCartDeliveryAddressNewAddressContainer {
  display: table;
  border-spacing: 2px;
}

.storeViewCartDeliveryAddressNewAddressFieldRow,.storeViewCartDeliveryAddressNewAddressLabelRow{
  display: table-row;
}

.storeViewCartDeliveryAddressNewAddressLabel {
  font-weight: bold;
  display: table-cell;
}

.storeViewCartDeliveryAddressNewAddressFieldContainer {
  display: table-cell;
}

.storeViewCartPaymentMethodContainer {
	border-radius: 5px;
  background-color: #fafafa;
  padding: 8px;
  margin-bottom: 8px;
}

.storeViewCartPaymentMethodContainer:hover {
  background-color: #eee;
}

.storeViewCartPaymentMethodRadioContainer {
	display: inline-block;
}

.storeViewCartPaymentMethodName {
	display: inline-block;
	margin-left: 4px;
}

.storeViewCartPaymentMethodCosts {
	float: right;
}

.storeViewCartSummaryContainer {
	height: 40px;
}

.storeViewCartTotalTitleContainer {
	float: left; 
  font-size: 16px;
  font-weight: bold;
  margin-left: 4px;
}

.storeViewCartTotal {
	float: right; 
	font-size: 16px;
	font-weight: bold;
	margin-right: 4px;
}


/* Sidebar */

#storeSidebar {
  position: absolute;
  right: 4px;
  top: 0px;
}

/* Shopping cart */

#storeShoppingCart {
  width: 300px;
  margin-top: 8px;
}

#storeShoppingCartTitle {
  border-radius: 8px;
  background: #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  color: #000;
  background-image: url("../gfx/icons/22x22/actions/store-cart.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 36px;
}

#storeShoppingCartButtons {
  position: absolute;
  right: 8px;
  top: 16px;
}

.storeShoppingCartContentsContainer {
  padding: 8px;
  background: #fafafa;
  margin-top: 4px;
  border-radius: 8px;
}

.storeShoppingCartItems {
  padding-bottom: 8px;
}

.storeShoppingCartItemContainer {
  
}

.storeShoppingCartItemCount {
  display: inline-block;
  font-size: 12px;
}

.storeShoppingCartItemName {
  display: inline-block;
  font-size: 12px;
}

.storeShoppingCartItemPrice {
  display: inline-block;
  float: right;
  font-size: 12px;
}

.storeShoppingCartSummaryContainer {
  border-top: 1px solid #000;
  padding-top: 8px;
}

.storeShoppingCartTotalTitleContainer {
  display: inline-block;
}

.storeShoppingCartTotal {
  display: inline-block;
  float: right;
}

/* Categories */

#storeCategoriesContainer {
  width: 300px;
  margin-top: 8px;
}

.storeCategoriesTitle {
  border-radius: 8px;
  background: #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000;
  background-image: url("../gfx/icons/22x22/actions/store-categories.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 36px;
}

#storeCategories {
  border-radius: 8px;
  background: #fafafa;
  margin-top: 4px;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
}

/* Admin */

#storeAdminPanel {
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 0.6; 
}

#storeAdminPanel:hover {
  opacity: 1;
}

#storeAdminPanel a {
  width: 40px;
  height: 40px; 
  background: #fff;
  display: block; 
  border-radius: 8px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

#storeAdminPanel a.storeAdminCreateBookProduct {
  background-image: url("../gfx/icons/32x32/actions/store-create-product.png");
}

/* Admin Actions */

.store-product .store-product-admin-actions-container  {
  position: absolute;
  left: 4px;
  top: -12px;
  display: none;
  clear: both;
  background: #fff;
  border-radius: 4px;
}

.store-product:hover .store-product-admin-actions-container  {
  display: block;
}

.store-product-admin-actions-container .store-product-admin-action-container a {
  float: right;
  display: block;
  width: 32px;
  height: 32px;
  padding: 1px;
  background-repeat: no-repeat;
  background-position: center; 
}

.store-product-admin-action-container {
  display: inline-block;
  box-shadow: 0px 0px 4px #000;
  margin: 4px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 0.75;
}

.store-product-admin-action-container:hover {
  box-shadow: 0px 0px 5px #000;
  opacity: 1;
}

.store-product-admin-actions-container .product-attach-book-file-action  {
  background-image: url("../gfx/icons/32x32/actions/store-attach-book.png");
}

.store-product-admin-actions-container .product-add-images-action  {
  background-image: url("../gfx/icons/32x32/actions/store-add-images.png");
}

.store-product-admin-actions-container .product-edit-details {
  background-image: url("../gfx/icons/32x32/actions/store-edit-details.png");
}

.store-product-admin-actions-container .product-delete {
  background-image: url("../gfx/icons/32x32/actions/store-delete-product.png");
}

/* Store dialogs */

.store-dialog .dialog-section .max-width {
  width: 100%;
  -webkit-box-sizing: border-box; 	
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Create product */

.create-product-dialog div[data-type] {
  margin-top: 8px;
}

.create-product-dialog div[data-type]>h4 {
  margin-bottom: 8px;
}

.create-product-dialog table {
  width: 100%;
  -webkit-box-sizing: border-box; 	
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.create-product-dialog input[name="new-tag"] {
  width: 395px;
}

.create-product-dialog .add-new-tag {
  margin-left: 8px;
}

.create-product-dialog .tags .tag {
  display: inline-block;
  padding: 4px;
  font-size: 12px;
  background: rgb(0, 128, 192);
  color: #fff;
  border-radius: 4px;
  margin-right: 4px;
  margin-top: 8px;
}

.create-product-dialog .tags .tag:last-child {
  margin-right: 0px;
}

.create-product-dialog .tags .tag .remove-tag:after {
  content: 'X';
  color: #eee;
  font-family: courier;
  padding-left: 4px;
}

/* Attach Book File Dialog */

.attach-book-file-dialog .progress {
  position: relative;
}

.attach-book-file-dialog .progress .bar {
  
  height: 18px;
  background: rgb(208,228,247); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(208,228,247) 0%, rgb(115,177,231) 24%, rgb(10,119,213) 50%, rgb(83,159,225) 79%, rgb(135,188,234) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(208,228,247)), color-stop(24%,rgb(115,177,231)), color-stop(50%,rgb(10,119,213)), color-stop(79%,rgb(83,159,225)), color-stop(100%,rgb(135,188,234))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}

.attach-book-file-dialog .progress .text {
  width: 100%;
  position: absolute;
  margin-top: -18px;
  height: 18px;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 2px;
  text-align: center;
}

/* Edit Product Details dialog */


