@CHARSET "UTF-8";

/* Upload proto */

.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  transform: translate(-300px, 0px) scale(2);
}

.fileinput-button {
  border-radius: 4px;
  padding: 4px 12px;
  background-color: #5BB75B;
  background-image: linear-gradient(to bottom, #62C462, #51A351);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  line-height: 50px;
}

.file-queue-item {
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  background: #fcfcfc;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.file-queue-item canvas {
  border-radius: 4px;
}

.file-queue-preview-failed {
  width: 64px;
  height: 64px;
  display: inline-block;
  text-align: center;
  cursor: default;
}

.file-queue-preview-failed:after {
  content: 'X';
  font-family: courier;
  font-size: 68px;
  display: inline;
  color: #ff0000;
}

.file-queue-item-name {
  vertical-align: top;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'PT Sans','Trebuchet MS',Arial;
  font-size: 16px;
  font-weight: bold;
}

.file-queue-item-progress {
  margin-left: 70px;
  margin-right: 4px;
  margin-top: -36px;
}

/* Edit Product */

.store-dialog .details-table td label {
  padding-right: 8px;
}

.store-dialog .details-table td input {
  width: 64px;
  margin-right: 8px;
}

.book-options-table td:first-child label {
  margin-right: 8px;
}

.book-options-table td input[type="checkbox"] {
  vertical-align: top;
}

/* Cart Prototyping */

.store-cart-items-inner-container {
  margin-top: 8px;
}

.store-cart-item-actions input[type="submit"] {
  border: 1px solid #eee;
  font-size: 10px;
  line-height: 12px;
  vertical-align: top;
  width: 18px;
  margin-right: 2px;
  cursor: pointer;
} 

.store-cart-item-actions {
  width: 50px;
}

.store-cart-cell-header {
}

.store-cart-item-count {
  width: 60px;
  text-align: center;
}

.store-cart-item-name {
  width: 750px;
}

.store-cart-item-price {
  width: 120px;
  text-align: left;
}

.store-cart-item-total-price {
  width: 120px;
  text-align: left;
}

#store-cart-items-container {
  display: table;
}

.store-cart-item-container {
  display: table-row;
}

.store-cart-cell, .store-cart-cell-header {
  padding-left: 4px;
  padding-right: 4px;
  display: table-cell;
}

#store-cart h4 {
  background: #fafafa;
  color: #002;
  margin-top: 8px;
  font-size: 14px;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
} 

#store-cart h5 {
  font-style: italic;
}

#store-cart-summary-total-price {
  font-weight: bold;
}

#store-cart-summary-total-price h5 {
  font-weight: bold;
}

#store-cart-summary-items {
  margin-top: 8px;
}

.store-cart-summary-item h5 {
  display: inline-block;
  width: 200px;
}


.store-cart-delivery-method-container {
  padding: 8px;
}

.store-cart-delivery-method-info {
  margin-left: 21px;
  font-style: italic;
}

.store-cart-delivery-method-details {
  margin-left: 23px;
}

.store-cart-delivery-method-details h5 {
  display: inline-block;
}

.store-cart-delivery-method-price {
  float: right;
}

.store-cart-delivery-method-price-note {
  font-weight: bold;
}

.store-cart-delivery-method-price-note-text {
  font-style: italic;
}

.store-cart-delivery-address-container {
  margin-top: 8px;
}

.store-cart-delivery-address-new-address {
  display: table;
  margin-left: 18px;
}

.store-cart-delivery-address-field {
  display: table-row; 
}

.store-cart-delivery-address-field-label, .store-cart-delivery-address-field-input {
  display: table-cell;
  padding: 1px;
}

.store-cart-delivery-address-field label {
  width: 110px;
  display: inline-block;
  font-weight: bold;
}

.store-cart-delivery-address-field input[type="text"], .store-cart-delivery-address-field select {
  width: 300px;
  -webkit-box-sizing: border-box; 	
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

/* Prototyping */

/* Layout */

.store-index, #store-cart {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

.store-index h3, #store-cart h3, #store-sidebar h3 {
  background-color: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  color: #000000;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.store-index, #store-cart {
  background: #fff;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  min-height: 783px;
}

.store-index h3, #store-cart h3 {
  background: #EEEEEE;
  border-radius: 8px 8px 8px 8px;
  color: #000000;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 14px;
}

/* Shopping Cart */

#store-cart h3.store-cart-title {
  background: url("../gfx/icons/22x22/actions/store-cart.png") no-repeat scroll 8px center #EEEEEE;
  padding-left: 36px;
}

#store-cart h3.store-cart-title a {
  float: right;
  margin-right: 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

#store-cart h3.store-cart-title a:after {
  content: ' >'; 
}

/* Index */

.store-products {
  max-width: 802px;
}

#store-index h3.store-products-title {
  background: url("../gfx/icons/22x22/actions/store-recent-products.png") no-repeat scroll 8px center #EEEEEE;
  padding-left: 36px;
}

.store-product {
  padding: 8px;
  background: #fafafa;
  border-radius: 10px;
  margin-top: 8px;
  position: relative;
  min-height: 178px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.store-product-unpublished {
  box-shadow: 0px 0px 4px rgba(255,0,0,0.5);
}

.store-product:hover {
  box-shadow: 0px 0px 4px rgba(0,0,0,0.75);
}

.store-product-unpublished:hover {
  box-shadow: 0px 0px 4px rgba(255,0,0,0.75);
}

.store-product-info-container {
  width: 650px;
  float: left;
  min-height: 210px;
}

.store-product-images-container {
  float: right;
  margin-left: 4px;
}


.store-product-images-container a:focus {
  outline: 0px;
}

.store-product-image-container {
  height: 128px;
  width: 128px; 
}

.store-product-image-container img {
  border-radius: 4px;
  box-shadow: 0px 0px 6px #aaa;
}

.store-product-image-inner-container {
  text-align: center;
}

.store-product-thumbnails-container {
  width: 128px;
  height: 40px;
}

.store-product-thumbnails-inner-container {
  right: 2px;
  position: absolute;
  height: 32px;
  background: rgba(0,0,0,0.05);
  border-radius: 3px;
  padding-left: 4px;
}

.store-product-thumbnail-container {
  display: table-cell;
  height: 32px; 
  vertical-align: middle;
  width: 32px;
}

.store-product-thumbnails-container img {
  border-radius: 4px;
  box-shadow: 0px 0px 6px #aaa;
  display: block;
  margin-right: 6px;
}

.store-product-noimage {
  width: 128px;
  height: 128px;
  display: inline-block;
  background-image: url("../gfx/icons/128x128/actions/store-noimage.png");
}

.store-product-name {
  font-size: 16px; 
  margin-bottom: 4px;
}

.store-product-description {
  margin-top: 4px;
}

.store-product-tag {
  background: #B6C9ED;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 4px;
}

.store-product-tag:hover {
  background: #BCCEFA;
}

.store-product-tag a {
  text-decoration: none;
  color: #fff;
}

.store-product-actions-container {
  bottom: 8px;
  right: 8px;
  position: absolute;
  vertical-align: bottom;  
}

.store-product-action-container {
  text-align: right;
}

.store-product-details {
  margin-top: 8px;
}

.store-product-details-price,
.store-product-details-price-free {
  font-weight: bold;
}

.store-product-details-price-free {
  color: green;
}

/* Sidebar */

#store-sidebar {
  position: absolute;
  right: 4px;
  top: 0px;
}

/* Shopping cart */
/**
#store-mini-shopping-cart {
  width: 300px;
  margin-top: 8px;
  margin-right: 2px;
}
**/

#store-sidebar {
  margin-top: 8px;
  margin-right: 2px;
}

#store-sidebar h3.store-mini-shopping-cart-title {
  background-image: url("../gfx/icons/22x22/actions/store-cart.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 36px;
}

#store-mini-shopping-cart-buttons {
  position: absolute;
  margin-top: -26px;
  right: 10px;
}

#store-mini-shopping-cart-contents {
  padding: 8px;
  background: #fafafa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  border-radius: 8px;
}

.store-mini-shopping-cart-items {
  padding-bottom: 8px;
}

.store-mini-shopping-cart-item {
  
}

.store-mini-shopping-cart-item-count {
  display: inline-block;
  font-size: 12px;
}

.store-mini-shopping-cart-item-count:after {
  content: 'x';
  margin-left: 3px;
}

.store-mini-shopping-cart-item-name {
  display: inline-block;
  font-size: 12px;
}

.store-mini-shopping-cart-item-price {
  display: inline-block;
  float: right;
  font-size: 12px;
}

.store-mini-shopping-cart-summary {
  border-top: 1px solid #000;
  padding-top: 8px;
}

.store-mini-shopping-cart-summary-total-title-container {
  display: inline-block;
}

.store-mini-shopping-cart-summary-total {
  display: inline-block;
  float: right;
}

/* Categories */

#store-categories-container {
  width: 300px;
  margin-top: 8px;
}

#store-sidebar h3.store-categories-title {
  background-image: url("../gfx/icons/22x22/actions/store-categories.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 36px;
}

#store-categories {
  border-radius: 8px;
  background: #fafafa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
}

/* Admin */

#store-admin-panel {
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 0.01; 
}

#store-admin-panel:hover {
  opacity: 1;
}

#store-admin-panel a {
  width: 40px;
  height: 40px; 
  background: #fff;
  display: block; 
  border-radius: 8px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

#store-admin-panel a.store-admin-create-product {
  background-image: url("../gfx/icons/32x32/actions/store-create-product.png");
}

/* Admin Actions */

.store-product .store-product-admin-actions-container  {
  position: absolute;
  left: 4px;
  top: -12px;
  display: none;
  clear: both;
  background: #fff;
  border-radius: 4px;
}

.store-product:hover .store-product-admin-actions-container  {
  display: block;
}

.store-product-admin-actions-container .store-product-admin-action-container a {
  float: right;
  display: block;
  width: 32px;
  height: 32px;
  padding: 1px;
  background-repeat: no-repeat;
  background-position: center; 
}

.store-product-admin-action-container {
  display: inline-block;
  box-shadow: 0px 0px 4px #000;
  margin: 4px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 0.75;
}

.store-product-admin-action-container:hover {
  box-shadow: 0px 0px 5px #000;
  opacity: 1;
}

.store-product-admin-actions-container .product-edit {
  background-image: url("../gfx/icons/32x32/actions/store-edit-product.png");
}

.store-product-admin-actions-container .product-attach-book-file-action  {
  background-image: url("../gfx/icons/32x32/actions/store-attach-book.png");
}

.store-product-admin-actions-container .product-add-images-action  {
  background-image: url("../gfx/icons/32x32/actions/store-add-images.png");
}

.store-product-admin-actions-container .product-edit-details {
  background-image: url("../gfx/icons/32x32/actions/store-edit-details.png");
}

.store-product-admin-actions-container .product-delete {
  background-image: url("../gfx/icons/32x32/actions/store-delete-product.png");
}

.store-product-admin-actions-container .product-publish {
  background-image: url("../gfx/icons/32x32/actions/store-publish-product.png");
}

.store-product-admin-actions-container .product-unpublish {
  background-image: url("../gfx/icons/32x32/actions/store-unpublish-product.png");
}

/* Store dialogs */

.store-dialog .dialog-section .max-width {
  width: 100%;
  -webkit-box-sizing: border-box; 	
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dialog-section input[type="checkbox"] {
  margin-right: 4px;
}

/* Create / edit product */

.store-create-product-dialog div[data-type], .store-edit-product-dialog div[data-type] {
  margin-top: 8px;
}

.store-create-product-dialog div[data-type]>h4, .store-edit-product-dialog div[data-type]>h4 {
  margin-bottom: 8px;
}

.store-create-product-dialog table, .store-edit-product-dialog table {
  width: 100%;
  -webkit-box-sizing: border-box; 	
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.store-create-product-dialog input[name="new-tag"], .store-edit-product-dialog input[name="new-tag"]  {
  width: 395px;
}

.store-create-product-dialog .add-new-tag, .store-edit-product-dialog .add-new-tag {
  margin-left: 8px;
}

.store-create-product-dialog .tags .tag, .store-edit-product-dialog .tags .tag {
  display: inline-block;
  padding: 4px;
  font-size: 12px;
  background: rgb(0, 128, 192);
  color: #fff;
  border-radius: 4px;
  margin-right: 4px;
  margin-top: 8px;
}

.store-create-product-dialog .tags .tag:last-child, .store-edit-product-dialog .tags .tag:last-child {
  margin-right: 0px;
}

.store-create-product-dialog .tags .tag .remove-tag:after, .store-edit-product-dialog .tags .tag .remove-tag:after {
  content: 'X';
  color: #eee;
  font-family: courier;
  padding-left: 4px;
}

/* Attach Book File Dialog */

.attach-book-file-dialog .progress {
  position: relative;
}

.attach-book-file-dialog .progress .bar {
  
  height: 18px;
  background: rgb(208,228,247); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(208,228,247) 0%, rgb(115,177,231) 24%, rgb(10,119,213) 50%, rgb(83,159,225) 79%, rgb(135,188,234) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(208,228,247)), color-stop(24%,rgb(115,177,231)), color-stop(50%,rgb(10,119,213)), color-stop(79%,rgb(83,159,225)), color-stop(100%,rgb(135,188,234))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}

.attach-book-file-dialog .progress .text {
  width: 100%;
  position: absolute;
  margin-top: -18px;
  height: 18px;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 2px;
  text-align: center;
}
